.footer
{

}
.footer__top
{
	background-color: #73404a;
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
	color: #ffffff;
}
.footer__top-wr
{
	span
	{
		font-size: 12px;
		line-height: 0;
	}
}
.footer__top-name
{
	font-size: 21px;
	font-weight: 700;
	text-transform: uppercase;
}
.footer__bottom
{
	background-color: #f28585;
	

	img
	{
		line-height: 22px;
		margin-right: 12px;
	}
	span
	{
		font-size: 21px;
		line-height: 22px;
		font-weight: 700;
	}
}
.footer__bottom-wr
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	color: $red;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (min-width: 576px) {
	
}

@media (min-width: 768px) {
	
}

@media (min-width: 992px) {
	
}