header
{
	background-color: #f2d5d5;
	padding-bottom: 15px;
	padding-top: 15px;
	z-index: 2;
}
.header__logo
{
	color: #d92929;
	text-transform: uppercase;
	font-family: $second;
	font-size: 21px;
}
.header__active
{
	padding-bottom: 6px;
	border-bottom: 1px solid #73404a;
}
.header__wrapper
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__nav
{
	display: flex;
	max-width: 522px;
	width: 100%;
	font-weight: 600;

	li:not(:last-child)
	{
		margin-right: 20px;
	}

	a
	{
		font-size: 14px;
		font-family: $accent-font;
		color: $black;
	}
}
.header__links
{
	display: flex;
	flex-direction: column;
	text-decoration: underline;
	text-transform: uppercase;
	font-size: 10px;
	line-height: 10px;
	font-weight: 700;
	a
	{
		text-align: right;
		color: $red;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		font-size: 10px;
	}
	a:not(:last-child)
	{
		margin-bottom: 8px;
		color: $black;
	}
	img
	{
		margin-right: 5px;
		max-width: 10px;
	}
}
.header__profile
{
	color: $white;
	font-size: 10px;
	line-height: 10px;
	text-transform: uppercase;
	background: $red;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 25px;
	padding-left: 25px;
	border-radius: 10px;

	img
	{
		max-width: 10px;
		margin-right: 4px;
	}
}
.header__mob-men
{
	display: none;
}
.header__mobile
{
	display: none;
	position: absolute;
	right: 0;
	z-index: 33;
	background-color: #f2d5d5;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	ul
	{
		a
		{
			color: #000;
			margin-bottom: 7px;
			display: block;
		}
	}
}
.header__links-mob
{
	padding-bottom: 20px;
	a
	{
		color: #000;
		display: block;
		margin-bottom: 5px;
	}
	font-size: 16px;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	img
	{
		height: 12px;
	}
}
.header__op
{
		width: 25px;
		height: 2px;
		background-color: #000;
		margin-bottom: 5px;
}
.header__show
{
	display: block;
}
.header__burger
{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
}
@media (max-width: 992px) {
	.header__nav
	{
		display: none;
	}
	.header__links
	{
		display: none;
	}
	.header__profile
	{
		display: none;
	}
	.header__nav a
	{
		font-size: 11px;
	}
	.header__logo
	{
		font-size: 19px;
	}
	.header__wrapper
	{
		flex-wrap: wrap;
	}
	.header__mob-men
	{
		display: block;
	}
}


@media (max-width: 1200px)
{
	.header__wrapper
	{
		flex-wrap: wrap;
	}
	.header__logo
	{
		margin-bottom: 10px;
	}
}