.left-menu
{
	margin-right: 30px;
	max-width: 270px;
	width: 100%;
}
.left-menu__btn
{
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #f0f0f0;;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
	max-width: 270px;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #73404a;
	cursor: pointer;
	position: relative;

	img
	{
		margin-right: 6px;
	}

	&_red
	{
		color: $red;
	}
	&_white
	{
		color: #fff;
		background-color: #73404a;
	}
	&_mb10
	{
		margin-bottom: 10px;
	}
	&_mb2
	{
		margin-bottom: 2px;
	}
}
.left-menu__value
{
	margin-left: 3px;
}
.left-menu__list
{
	padding-top: 20px;
	padding-bottom: 20px;
	max-width: 270px;
	display: none;
	&_pink
	{
		background-color: #f2d5d5;
	}
	&_gray
	{
		background-color: #fafafb;
	}
	li
	{
		padding-bottom: 20px;
	}
	padding-left: 20px;
	a
	{
		font-size: 16px;

		color: #333333;
	}
}
.left-menu__minus
{
	width: 15px;
	height: 3px;
	background-color: #73404a;
	position: absolute;
	right: 20px;
}
.left-menu__pluse
{
	display: none;
	width: 15px;
	height: 3px;
	background-color: #73404a;
	position: absolute;
	right: 20px;
	transform: rotate(90deg);
}
.left-menu__btn.active .left-menu__pluse
{
	display: block;
}
.left-menu__banner-r
{
	max-width: 270px;
	width: 100%;
}
@media (max-width: 1200px)
{
	 .left-menu
	{
		width: 100%;
		max-width: 100%;
	}
	 .left-menu__btn
	{
		max-width: 100%;
	}
	.left-menu__banner-r
{
	max-width: 100%;
}

}
@media (max-width: 768px)
{
	.left-menu
	{
		flex-basis:100%;
		width: 100%;
		margin-right: 0;
	}
	.left-menu__btn
	{
		max-width: 100%;
	}
}