.main-banner
{
	background-image: url(../img/banner.png);
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 50px;
	padding-bottom: 50px;
	position: relative;
	margin-bottom: 50px;
}
.main-banner__slick:before
{
	content: "";
	width: 0;
	height: 275px;
	top: 55px;
	position: absolute;
	right: -100px;
	box-shadow: -136px 0px 50px 85px rgba(255,255,255,1);
	z-index: 1;
}
.main-banner__slick:after
{
	content: "";
	top: 0;
	width: 0;
	height: 275px;
	top: 55px;
	position: absolute;
	left: -100px;
	box-shadow: 136px 0px 50px 85px rgba(255,255,255,1);
	z-index: 1;
}
.main-banner__card
{
	height: 360px;
	width: 270px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 30px;
	position: relative;
}
.main-banner__card-name
{
	background-color:$red;
	opacity: 0.75;
	width: 100%;
	padding-top: 17px;
	padding-bottom: 17px;
	text-align: center;
	color: #fefefe;
	font-weight: 700;
	font-size: 16px;
	position: absolute;
	bottom: 0;
}
.main__slick
{
	width: 20px;
	height: 30px;
	z-index: 2;
}
.main-banner__slick
{

}
.main-banner .slick-dots li button , .main-banner .slick-dots li button:before , .main-banner .slick-dots li
{
	width: 10px;
	height: 10px;
	background-color: #73404a;
	opacity: 0.5;
	border-radius: 50%;
	content:"";
	margin-right: 10px;
	margin-left: 0;
}
.main-banner .slick-dots .slick-active
{
	opacity: 1;
}
.main-banner .slick-dots
{
	width: auto;
	line-height: 0;
	z-index: 2;
}
.main__wr
{
	display: flex;
}
.main-banner__more
{
	color: $red;
	text-decoration: underline;
	text-transform: uppercase;
	font-size: 10px;
	z-index: 2;
	position: absolute;
	bottom: 43px;
	right: 125px;
	font-weight: bold;

	img
	{
		margin-right: 5px;
	}
}


@media (max-width:1200px)
{
	.main__wr
	{
		flex-wrap: wrap;
	}
}

@media (max-width:992px)
{
	.main-banner__card	
	{
		background-size: cover;
		margin-right: 0px;
	}
	.main-banner__more
	{
		right: 50px;
	}
}
@media (max-width: 768px) {
	.main__slick
	{
		display: none!important;
	}
	.main-banner__slick:before,.main-banner__slick::after
	{
		box-shadow: none;
	}
}