/*  Общая типографика для всех страниц. здесь описываются общие свойства для текстовых блоков  */

body
{
	font-family: $accent-font;
	min-width: 320px;
	margin-bottom: 446px;
	color: $accent-color;
	margin-top: 139px;
}
html
{
	position: relative;
	min-height: 100%;
}

ul
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	li
	{
		margin: 0;
		padding: 0;
	}
}

address
{
	font-style: normal;
}

h1
{
	font-size: 60px;
	line-height: 70px;
	font-family: $black;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 10px;
}

h2
{
	font-size: 48px;
	line-height: 56px;
	font-family: $bold;
	margin-top: 0;
	margin-bottom: 10px;
}

h3
{
	font-family: $accent-font;
	font-size: 48px;
	line-height: 56px;
	margin-top: 0;
	margin-bottom: 10px;
}

h4
{
	font-family: $medium;
	font-size: 24px;
	line-height: 34px;
	margin-top: 0;
	margin-bottom: 10px;
}

h5
{
	font-family: $light;
	font-size: 24px;
	line-height: 34px;
	margin-top: 0;
	margin-bottom: 10px;
}

p
{
	margin-top: 10px;
	color: $secondary-color;
}

b
{
	font-weight: 700;
}

a,
a:hover,
a:active,
a:visited,
a:focus
{
	outline: 0;
	text-decoration: none;
}

.h1-style
{
	font-size: 32px;
	line-height: 32px;
	margin: 0;
	letter-spacing: 0.9px;
}

.h2-style
{
	font-size: 30px;
	font-family: $accent-font;
	color: #232323;
}

.h3-style
{
	font-size: 20px;
	color: $accent-color;
	letter-spacing: 0;
	line-height: 25px;
	margin: 0;
}
.display-none
{
	opacity: 0;
	transform: translateY(-30px);
	position: absolute;
	transtion: .3s all;
}