/*  Переменные со шрифтами  */
$accent-font: 'Roboto-Regular', sans-serif;
$bold: 'Roboto-Bold', sans-serif;
$black: 'Roboto-Black', sans-serif;
$medium: 'Roboto-Medium', sans-serif;
$light: 'Roboto-Light', sans-serif;


/*  Переменные с гарнитурами шрифтов  */
$pt-bold: 700;


/*  основные цвета  */
$accent-color: #153051;
$blue: #2F74C8;
$yellow: #FFDB21;
$secondary-color: #6a7678;
