<section class="cart">
	<div class="container">
		<div class="cart-wr">
			<div class="primary-title">
				Оформление заказа
			</div>
			<div class="order-list">
				<div class="order-left">
					<div class="order-item-title">
						Данные получателя:
					</div>
					<div class="order-item callback-item">
						<div class="callback-item-title">Имя</div>
						<label class="g-input">
							<input name="name" type="text" class="g-input__input" placeholder="Имя" autocomplete="off">
							<div class="g-input__sub">Error: invalid name</div>
						</label>
					</div>
					<div class="order-item callback-item">
						<div class="callback-item-title">Email</div>
						<label class="g-input">
							<input name="name" type="text" class="g-input__input" placeholder="name@mail.ru" autocomplete="off">
							<div class="g-input__sub">Error: invalid name</div>
						</label>
					</div>
					<div class="order-item callback-item">
						<div class="callback-item-title">Ваш телефон</div>
						<label class="g-input">
							<input name="phone" type="text" class="g-input__input _phone-mask" placeholder="+7 ··· ··· ·· ··" autocomplete="off">
							<div class="g-input__sub">Error: invalid name</div>
						</label>
					</div>
					<div class="order-item callback-item">
						<div class="callback-item-title">Комментарий</div>
						<label class="g-input">
							<input name="phone" type="text" class="g-input__input" placeholder="Оставьте Комментарий" autocomplete="off">
							<div class="g-input__sub">Error: invalid name</div>
						</label>
					</div>
				</div>
				<div class="order-right">
					<div class="order-item callback-item">
						<div class="callback-item-title">Комментарий</div>
						<label class="g-input">
							<input name="phone" type="text" class="g-input__input" placeholder="Оставьте Комментарий" autocomplete="off">
							<div class="g-input__sub">Error: invalid name</div>
						</label>
					</div>
					<div class="order-item-title">
						Варианты доставки:
					</div>
					<div class="order-item order-radio-list">
						<div class="order-radio">
	                        <label class="col-form-label delivery input-parent">
                                <input type="radio" name="delivery" value="1" class="__radio-input" id="delivery_1" data-payments="[1]" checked="">
                            	Самовывоз
                            </label>
                        </div>
                        <div class="order-radio">
	                        <label class="col-form-label delivery input-parent">
                                <input type="radio" name="delivery" value="2" class="__radio-input" id="delivery_2" data-payments="[2]" checked="">
                            	Доставка до дома
                            </label>
                        </div>
					</div>
					<div class="cart-checkout">
						<div class="cart-total-list">
							<div class="cart-total-item">
								<span>Товары</span> 129,900 руб.
							</div>
							<div class="cart-total-item">
								<span>Доставка</span> 300 руб.
							</div>
							<div class="cart-total-item">
								<span>Итого с доставкой</span> 130,200 руб.
							</div>
						</div>
						<div class="cart-total-buttons">
							<button class="g-button g-button--white">Очистить форму</button>
							<button class="g-button">Оформить заказ</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>