{# catalog.twig #}

<section class="section-wr">
	<div class="container">
		<div class="wr-title">
			{{ title }}
		</div>
		<div class="catalog-list">
			<a class="catalog-item catalog-item__1">
				<img class="catalog-img" src="/pages/img/shampoo.jpg" alt="">
				<div class="catalog-desc">
					<span>shampoo</span>
				</div>
			</a>
			<a class="catalog-item catalog-item__2">
				<img class="catalog-img" src="/pages/img/spray.jpg" alt="">
				<div class="catalog-desc">
					<span>spray</span>
				</div>
			</a>
			<a class="catalog-item catalog-item__3">
				<img class="catalog-img" src="/pages/img/oil.jpg" alt="">
				<div class="catalog-desc">
					<span>oil</span>
				</div>
			</a>
			<a class="catalog-item catalog-item__4">
				<img class="catalog-img" src="/pages/img/scrub.jpg" alt="">
				<div class="catalog-desc">
					<span>scrub</span>
				</div>
			</a>
			<a class="catalog-item catalog-item__5">
				<img class="catalog-img" src="/pages/img/mask.jpg" alt="">
				<div class="catalog-desc">
					<span>mask</span>
				</div>
			</a>
			<a class="catalog-item catalog-item__6">
				<img class="catalog-img" src="/pages/img/ampoul.jpg" alt="">
				<div class="catalog-desc">
					<span>ampoul</span>
				</div>
			</a>
			<a class="catalog-item catalog-item__7">
				<img class="catalog-img" src="/pages/img/travelset.jpg" alt="">
				<div class="catalog-desc">
					<span>travel set</span>
				</div>
			</a>
			<a class="catalog-item catalog-item__8">
				<img class="catalog-img" src="/pages/img/cream.jpg" alt="">
				<div class="catalog-desc">
					<span>recovery cream</span>
				</div>
			</a>
		</div>
	</div>
</section>