.catalog-list
{
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 5vw);
	grid-gap: 15px;
}
.catalog-item
{
	position: relative;
	display: block;
	overflow: hidden;
	transition: .3s all;
	cursor: pointer;
	&:before
	{
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background: #1a1a1a;
		opacity: 0;
	}
	&:hover
	{
		&:before
		{
			opacity: 0.6;
			transition: .3s all;
		}
	}
}
.catalog-list
{
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(16, 1fr);
	grid-column-gap: 16px;
	grid-row-gap: 16px;
}
.catalog-item__1
{
	grid-area: 1 / 1 / 5 / 5;
}
.catalog-item__2
{
	grid-area: 1 / 5 / 5 / 9;
}
.catalog-item__3
{
	grid-area: 5 / 1 / 9 / 4;
}
.catalog-item__4
{
	grid-area: 5 / 4 / 9 / 7;
}
.catalog-item__5
{
	grid-area: 5 / 7 / 13 / 9;
}
.catalog-item__6
{
	grid-area: 9 / 1 / 13 / 7;
}
.catalog-item__7
{
	grid-area: 13 / 1 / 17 / 4;
}
.catalog-item__8
{
	grid-area: 13 / 4 / 17 / 9;
}
.catalog-img
{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.catalog-desc
{
	position: absolute;
	bottom: 12px;
	left: 0;
	right: 0;
	text-align: center;
	span
	{
		text-transform: uppercase;
		color: #fff;
		font-size: 24px;
		padding-left: 12px;
		padding-right: 12px;
		line-height: 28px;
		background: rgba(53,53,52,0.65);
	}
}