{% extends "layouts/layout.twig" %}

{% block page %}
	<div class="forest">
		<div class="container">
			<div class="forest__flex">
				<div class="forest__flex-image">
					<div class="forest__flex-image-block">
						<!-- <img src="img/table.jpeg" alt="table" class="forest__flex-img"> -->
						<div class="forest__flex-image-with">
							<div class="forest__flex-image-with-line"></div>
							<div class="forest__flex-image-with-payment" ><span data-value = "width" class="_width">900</span> мм</div>
							<div class="forest__flex-image-with-line"></div>
						</div>
						<div class="forest__flex-image-height">
							<div class="forest__flex-image-with-line"></div>
							<div class="forest__flex-image-with-payment"><span data-value = "height" class="_height">200</span> мм</div>
							<div class="forest__flex-image-with-line"></div>
						</div>
					</div>
					<h2 class="forest__flex-image-name">Примерная стоимость</h2>
					<div class="forest__flex-image-price"><span class="_span" data-price = "type-price">0</span> руб.</div>
				</div>
				<div class="forest__flex-content">
					<div class="forest__flex-content-item">
						<div class="forest__flex-content-item-head">
							<h2 class="forest__flex-content-item-name">Форма стола</h2>
						</div>
						<div class="forest__flex-content-item-body">
							<div class="forest__flex-content-item-sel">
								<div class="g-select _select">
									<div class="g-select__name">Форма</div>
									<input type="hidden" class="_selected-value" />
									<div class="g-select__selected" onclick="o2.gSelect.toggle(this)">
										<div class="g-select__selected-name _selected-text">Вид стола</div>
										<div class="g-select__arrow">
											<img src="img/arrow.svg" alt="">
										</div>
									</div>
									<!-- <div class="g-select__error">Error: обязательное поле</div> -->
									<div class="g-select__list _options">
										<ul class="g-select__items g-select__items--table">
											<li data-table = "table-form" data-value="code-rectangular" class="g-select__item g-select__item--active _option" onclick="o2.gSelect.selecttItem(this)">Прямоугольный</li>
											<li data-table = "table-form" data-value="code-round" class="g-select__item _option" onclick="o2.gSelect.selecttItem(this)">Круглый</li>
											<li data-table = "table-form" data-value="code-oval" class="g-select__item _option" onclick="o2.gSelect.selecttItem(this)">Овальный</li>
										</ul>
									</div>
								</div>
								<p data-value="code-rectangular" class="forest__flex-content-item-paragraph">Cтол из массива карагача с вставкой из эпоксидной смолы</p>
								<p data-value="code-round" class="forest__flex-content-item-paragraph">круг</p>
								<p data-value="code-oval" class="forest__flex-content-item-paragraph">овал</p>
								<img src="img/table-1.jpeg" alt="forest-table" class="forest__flex-content-item-img">
							</div>
						</div>
					</div>
					<div class="forest__flex-content-item">
						<div class="forest__flex-content-item-head">
							<h2 class="forest__flex-content-item-name">Виды древисины</h2>
						</div>
						<div class="forest__flex-content-item-body">
							<div class="forest__flex-content-item-sel g-select__selected--tree">
								<ul class="forest__flex-content-item-list">
									<li onclick="o2.gSelect.changeTreeF(this)" data-value="code-kargach" class="forest__flex-content-item-item _forest__flex-content-item-item active"><img src="img/tree-1.png" alt="tree"></li>
									<li onclick="o2.gSelect.changeTreeF(this)" data-value="code-oreh" class="forest__flex-content-item-item _forest__flex-content-item-item"><img src="img/tree-2.png" alt="tree"></li>
									<li onclick="o2.gSelect.changeTreeF(this)" data-value="code-graph" class="forest__flex-content-item-item _forest__flex-content-item-item"><img src="img/tree-3.png" alt="tree"></li>
									<li onclick="o2.gSelect.changeTreeF(this)" data-value="code-shelk" class="forest__flex-content-item-item _forest__flex-content-item-item"><img src="img/tree-4.png" alt="tree"></li>
									<li onclick="o2.gSelect.changeTreeF(this)" data-value="code-akacia" class="forest__flex-content-item-item _forest__flex-content-item-item"><img src="img/tree-5.png" alt="tree"></li>
								</ul>
								<div class="g-select _select changed">
									<input type="hidden" class="_selected-value" value="code-kargach" />
									<div class="g-select__selected" onclick="o2.gSelect.toggle(this)">
										<div class="g-select__selected-name _selected-text">Вид древесины</div>
										<div class="g-select__arrow">
											<img src="img/arrow.svg" alt="">
										</div>
									</div>
									<div class="g-select__list _options">
										<ul class="g-select__items g-select__items--wood">
											<li data-wood = "type-wood" data-value="code-kargach" data-price = "40000" class="g-select__item g-select__item--tree g-select__item--active _option" onclick="o2.gSelect.selecttItem(this)">Каргач</li>
											<li data-wood = "type-wood" data-value="code-oreh" data-price = "50000" class="g-select__item g-select__item--tree _option" onclick="o2.gSelect.selecttItem(this)">Орех</li>
											<li data-wood = "type-wood" data-value="code-graph" data-price = "60000" class="g-select__item g-select__item--tree _option" onclick="o2.gSelect.selecttItem(this)">Граф</li>
											<li data-wood = "type-wood" data-value="code-shelk" data-price = "70000" class="g-select__item g-select__item--tree _option" onclick="o2.gSelect.selecttItem(this)">Шелковица</li>
											<li data-wood = "type-wood" data-value="code-akacia" data-price = "80000" class="g-select__item g-select__item--tree _option" onclick="o2.gSelect.selecttItem(this)">Акация</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="forest__flex-content-item">
						<div class="forest__flex-content-item-head">
							<h2 class="forest__flex-content-item-name">Цвет смолы</h2>
						</div>
						<div class="forest__flex-content-item-body">
							<div class="forest__flex-content-item-block">
								<div class="forest__flex-content-item-name">Выберите цвет</div>
								<div class="forest__flex-content-item-radio">
									<label class="g-radio active">
										<input type="radio" data-resin = "type-resin" name="type" class="g-radio__input" data-code="transparent" data-transparent="0" onchange="o2.gSelect.selectRadio(this)" checked>
										<div class="g-radio__body">
											<span class="g-radio__box"></span>
											<span class="g-radio__text">Прозрачный</span>
										</div>
									</label>
									<label class="g-radio">
										<input type="radio" data-resin = "type-resin" name="type" class="g-radio__input" data-code="matt" data-matt="100" onchange="o2.gSelect.selectRadio(this)" >
										<div class="g-radio__body">
											<span class="g-radio__box"></span>
											<span class="g-radio__text">Матовый</span>
										</div>
									</label>
									<label class="g-radio">
										<input type="radio" data-resin = "type-resin" name="type" class="g-radio__input" data-code="glossy" data-glossy="150" onchange="o2.gSelect.selectRadio(this)" >
										<div class="g-radio__body">
											<span class="g-radio__box"></span>
											<span class="g-radio__text">Глянцевый</span>
										</div>
									</label>
								</div>
							</div>
							<div class="forest__flex-content-item-block forest__flex-content-item-block--color">
								<div class="forest__flex-content-item-name">Выберите цвет</div>
								<label class="forest__flex-content-item-color">
									{# <input type="color" class="_color-table" id="head" name="head" value="#e66465" onchange="o2.changeColorTable(this)"> #}
									<input type="color" class="_color-table" id="head" name="head" value="#e66465">
									<svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M7.58743 7.30376C7.19775 7.68944 6.57019 7.68944 6.18052 7.30376L0.818218 1.99646C0.183246 1.368 0.628277 0.285715 1.52167 0.285715L12.2463 0.285716C13.1397 0.285716 13.5847 1.368 12.9497 1.99646L7.58743 7.30376Z" fill="#2C2929"/>
									</svg>
								</label>
							</div>
							<!-- <div class="forest__flex-content-item-sel g-select__selected--color">
								<div class="g-select _select">
									<input type="hidden" class="_selected-value" value="code-matt" />
									<div class="g-select__selected" onclick="o2.gSelect.toggle(this)">
										<div class="g-select__selected-first">
											<div class="_selected-color-block"></div>
											<div class="g-select__selected-name _selected-text">Цвет смолы</div>
										</div>
										<div class="g-select__arrow">
											<img src="img/arrow.svg" alt="">
										</div>
									</div>
									<div class="g-select__list _options">
										<ul class="g-select__items">
											<li data-value="code-matt" class="g-select__item _option g-select__item--active" onclick="o2.gSelect.selecttItem(this)">
												<div class="g-select__item-color-block g-select__item-color-block--matt"></div>
												<span>Матовый</span>
											</li>
											<li data-value="code-red" class="g-select__item _option" onclick="o2.gSelect.selecttItem(this)">
												<div class="g-select__item-color-block g-select__item-color-block--red"></div>
												<span>Красный</span>
											</li>
										</ul>
									</div>
								</div>
							</div> -->
						</div>
					</div>
					<div class="forest__flex-content-item">
						<div class="forest__flex-content-item-head">
							<h2 class="forest__flex-content-item-name">Габаритные размеры</h2>
						</div>
						<div class="forest__flex-content-item-body">
							<div class="g-range-slider _range-slider-wrap" data-width = "type-width"  data-value = "width" id="_width">
								<div class="g-range-slider__name _g-range-slider__name">Длина</div>
								<div class="g-range-slider__labels">
									<div class="flex-slider-el"><div class="_label-from">0 </div> <span> см</span></div>
									<div class="flex-slider-el"><div class="_label-to">0 </div> <span> см</span></div>
								</div>
								<div class="_range-slider"
								data-min="20"
								data-max="270"
								data-start="100"
								></div>
								<input type="hidden" class="_min">
								<input type="hidden" class="_max">
							</div>
							<div class="g-range-slider _range-slider-wrap" data-width = "type-height" data-value = "height" id="_height">
								<div class="g-range-slider__name _g-range-slider__name">Ширина</div>
								<div class="g-range-slider__labels">
									<div class="flex-slider-el"><div class="_label-from">0 </div> <span> см</span></div>
									<div class="flex-slider-el"><div class="_label-to">0 </div> <span> см</span></div>
								</div>
								<div class="_range-slider"
								data-min="20"
								data-max="270"
								data-start="100"
								></div>
								<input type="hidden" class="_min">
								<input type="hidden" class="_max">
							</div>
						</div>
					</div>
					<button class="btn" onclick="addData(this)">Оставить заявку</button>
				</div>
			</div>
			<input type="text" name="table-form" class="_data hide" data-table = "table-form" value="">
			<input type="text" name="type-wood" class="_data hide" data-wood = "type-wood">
			<input type="text" name="type-resin" class="_data hide" data-resin = "type-resin">
			<input type="text" name="type-color" class="_data-color hide" data-color = "type-color">
			<input type="text" name="type-width" class="_data-range hide" data-width = "type-width">
			<input type="text" name="type-height" class="_data-range hide" data-width = "type-height">
			<input type="text" name="type-price" class="_data-price hide" data-price = "type-price">
		</div>
	</div>
	{#
		Пример подключения
		{% include '/blocks/component/component.twig' %}
	#}
{% endblock %}
