{% extends "layouts/layout.twig" %}
{% block page %}
{% include "/blocks/menu/menu.twig" %}
{% include "/blocks/breadcrumbs/breadcrumbs.twig" with {'title':'<h1>iPhone</h1><span>4 товара</span>'} %}
{% include "/blocks/catalog/catalog.twig"  with {'title':'<h2 class="secondary-title">Каталог товаров</h2>'}%}
{% include "/blocks/trade/trade.twig" %}
{% include "/blocks/choose/choose.twig" %}
{% include "/blocks/question/question.twig" %}
{% endblock %}