{% extends "layouts/layout.twig" %}
{% block page %}
{% include "/blocks/menu/menu.twig" %}
<div class="picture">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 200">
		<path d="m 10 10 h 50 v 50 h -50 v -50 z" fill="#ffff00" stroke="#000000" stroke-width="1" />
	</svg>

	<img src="https://senator.spb.ru/upload/iblock/82d/82dbf1e5b3e00ab2ef528816ea5afe4a.png" alt="">
</div>
<script>
    function clicked(path){
    	var segments = path.pathSegList;
    	console.log(segments);
        // alert("x: "+evt.clientX+" y:"+evt.clientY);
    }
</script>
{% include "/blocks/breadcrumbs/breadcrumbs.twig" with {'title':'<h1>Доставка</h1>'} %}
{% include "/blocks/pagecontent/pagecontent.twig" %}
{% include "/blocks/choose/choose.twig" %}
{% include "/blocks/question/question.twig" %}
{% endblock %}