{% extends "layouts/layout.twig" %}
{% block page %}
{% include "/blocks/breadcrumbs/breadcrumbs.twig" with {'title': '<h1 class="secondary-title">SHAMPOO</h1>'} %}
{% include "/blocks/detail/detail.twig" %}
{% endblock %}