{% extends "layouts/layout.twig" %}
{% block page %}
{% include "/blocks/menu/menu.twig" %}
{% include "/blocks/breadcrumbs/breadcrumbs.twig" with {'title':'<h1>Оформление заказа</h1>'} %}
{% include "/blocks/order/order.twig" %}
{% include "/blocks/choose/choose.twig" %}
{% include "/blocks/question/question.twig" %}
{% endblock %}