.about-section-desc
{
	padding-top: 30px;
	margin-bottom: 30px;
}
.about-section-item
{
	margin-bottom: 20px;
	a
	{
		display: block;
		height: 300px;
		margin-bottom: 20px;
	}
	img
	{
		width: 100%;
		height: 100%;
		object-fit:contain;
	}
}
.about-section-item-title
{
	text-align: center;
}
@media (max-width: 767px)
{
	.about-section-list
	{
		padding: 0;
		.about-section-item
		{
			margin-bottom: 30px;
			padding: 0;
			img
			{
				object-fit:cover;
			}
		}
	}
}