.index-features-item
{
	// display: flex;
}
.index-features-item-item-wr
{
	display: flex;
	align-items:flex-end;
	justify-content: center;
	margin-bottom: 15px;
}
.index-features-item-pic
{
	max-width: 870px;
	margin: 0 auto;
	img
	{
		width: 100%;
		height: 100%;
		object-fit:contain;
	}
}
.index-features-short-item-ico
{
	width: 200px;
	height: 120px;
	img
	{
		width: 100%;
		height: 100%;
		object-fit:contain;
	}
}
.index-features-number
{
	font-size: 80px;
	line-height: 60px;
	font-family: $bold;
	margin-right: 10px;
}
.index-features-item-left
{
	flex-basis:28%;
	text-align: left;
}
.index-features-short-item-title
{
	text-align: left;
	font-family: $bold;
}
.index-features-item-desc
{
	flex-basis:28%;
	color:#616161;
	text-align: left;
}
@media (max-width: 767px)
{
	.index-features-item-item-wr
	{
		display: flex;
		flex-direction:column;
		align-items:center;
		justify-content: center;
	}
	.index-features-short-item-ico
	{
		order:-1;
		margin-bottom: 20px;
	}
	.index-features-number
	{
		display: none;
	}
	.index-features-short-item-title
	{
		text-align: center;
		font-size: 24px;
		margin-bottom: 30px;
	}
	.index-features-item-desc
	{
		text-align: center;
	}
	.index-features-item-desc
	{
		text-align: center;
		margin-bottom: 10px;
	}
}