.index-demo
{
	padding-top: 50px;
	padding-bottom: 50px;
	position: relative;
	&:before
	{
		content:"";
		position: absolute;
		left: -20px;
		top: 50%;
		margin-top: -100px;
		width: 120px;
		height: 200px;
		background:url('../img/book.png');
		background-size: contain;
		background-repeat:no-repeat;
		background-position:center;
	}
}
.index-demo-title
{
	font-size: 32px;
	font-family: $bold;
	text-align: center;
	margin-bottom: 20px;
}
.index-demo-desc
{
	text-align: center;
	font-size: 24px;
	margin-bottom: 30px;
}
.index-demo-wr
{
	width: 80%;
	margin: 0 auto;
	.index-offer-button
	{
		margin-bottom: 0;
	}
}
@media (max-width: 1023px)
{
	.index-demo-title
	{
		font-size: 24px;
	}
	.index-demo-desc
	{
		font-size: 18px;
	}
	.index-demo
	{
		&:before
		{
			display: none;
		}
	}
}