.index-reviews-list
{
	padding-top: 40px;
	padding-bottom: 40px;
	display: flex;
	justify-content: space-between;
}
.index-reviews-item
{
	flex-basis:25%;
	position: relative;
	&:last-child
	{
		&:after
		{
			display: none;
		}
	}
	&:after
	{
		content:"";
		position: absolute;
		top: 0;
		right: -23%;
		width: 1px;
		height: 113px;
		background-color: #d7d7d7;
	}
}
.index-reviews-item-bottom
{
	display: flex;
	align-items:center;
}
.index-reviews-item-text
{
	font-family: $medium;
	margin-bottom: 25px;
}
.index-reviews-item-bottom-left
{
	margin-right: 20px;
}
.index-reviews-desc
{
	text-align: center;
	a
	{
		color:black;
		font-family: $bold;
		text-decoration: underline;
	}
}
@media (max-width: 991px)
{
	.index-reviews-list
	{
		flex-direction:column;
	}
	.index-reviews-item
	{
		margin-bottom: 80px;
		padding: 0 100px;
		&:after
		{
			display: none;
		}
	}
}
@media (max-width: 767px)
{
	.index-reviews-item
	{
		padding: 0 50px;
		&:last-child
		{
			margin-bottom: 0;
		}
	}
}