.index-about-text
{
	display: flex;
	justify-content: space-between;
	div
	{
		flex-basis:44%;
		margin-right: 20px;
	}
}
.index-about
{
	margin-bottom: 80px;
}
@media (max-width: 1023px)
{
	.index-about-text
	{
		flex-direction:column;
		div
		{
			flex-basis:100%;
			margin-bottom: 35px;
			text-align: center;
			margin-right: 0;
		}
	}
}