.price-request
{
	padding-top: 50px;
	padding-bottom: 50px;
	position: relative;
	&:after
	{
		content:"";
		position: absolute;
		right: 0;
		top: 0;
		z-index: -1;
		width: 200px;
		height: 100%;
		background:url('../img/ellipse.png');
		background-size: 100%;
		background-position:center;
	}
	.index-about-text
	{
		padding-top: 30px;
		text-align: center;
		justify-content: center;
	}
}
.price-request-form
{
	display: flex;
	justify-content: space-between;
	input
	{
		width: 250px;
	}
	button
	{
		width: 250px;
		height: 50px;
		text-transform: uppercase;
		transition:.3s all;
		&:hover
		{
			background: #000000;
			color:white;
			transition:.3s all;
		}
	}
}
.price-request-full
{
	.price-request-form
	{
		margin-bottom: 20px;
	}
}
.price-request-full-title
{
	font-size: 24px;
	margin-bottom: 20px;
}
.price-request-full-desc
{
	font-size: 18px;
	font-family: $bold;
	margin-bottom: 20px;
}
@media (max-width: 1199px)
{
	.price-request-form
	{
		input
		{
			width: 200px;
		}
		button
		{
			width: 200px;
		}
	}
}
@media (max-width: 991px)
{
	.price-request-form
	{
		flex-direction:column;
		align-items:center;
		input
		{
			width: 300px;
			margin-bottom: 20px;
		}
	}
	.price-request
	{
		&:after
		{
			display: none;
		}
	}
}
@media (max-width: 767px)
{
	.price-request-form
	{
		input
		{
			width: 100%;
		}
		button
		{
			width: 90%;
		}
	}
}