.roi-calc-table-title
{
	font-size: 30px;
	font-family: $bold;
}
.roi-calc-table-item
{
	display: flex;
	align-items:center;
	justify-content: space-between;
	padding-top: 20px;
	padding-bottom: 20px;
}
.roi-calc-table-item-wr-title
{
	font-size: 22px;
}
.roi-calc-table-item-wr-text
{
	flex-basis:450px;
}
.roi-calc-table-item-wr-desc
{
	font-size: 14px;
}
.roi-calc-table-item-wr-input
{
	display: flex;
	flex-wrap:wrap;
	input
	{
		width:100px;
	}
}
.roi-calc-table-item-wr-input-text
{
	font-size: 14px;
}
.roi-calc-table-item-wr-price
{
	font-size: 24px;
	font-family: $bold;
}