<section class="book-demo">
	<div class="container">
		<div class="book-demo__row">
			<div class="book-demo__left">
				<div class="book-demo__img">
					<img src="./img/book-demo.png" alt="">
				</div>
			</div>
			<div class="book-demo__right">
				<div class="book-demo__title">Book a Free online <br> Demo of Daminion now</div>
				<div class="book-demo__form hero-block__form">
					<input type="text" class="input" placeholder="Your business e-mail">
					<button class="button button_primary">Book a Demo</button>
				</div>
			</div>
		</div>
	</div>
</section>