<section class="client-quotes">
	<div class="container">
		<div class="client-quotes__wr">
			<div class="client-quotes__svg">
				@@include('../../img/svg/quote-big.svg')
			</div>
			<div class="client-quotes__text text">
				Daminion helps us to catalog a large amount of hi-res images and videos and organize them in a quick and easy way to be able to retrieve them as we need it. <br><br>
				Instead of having pics spread across different locations without tags, Daminion giv
				es us a central access point to them and helps to track and find them quickly.”
			</div>
			<div class="client-quotes__face">
				<div class="client-quotes__img">
					<img src="./img/phil.png" alt="">
				</div>
				<a href="#" class="client-quotes__name">
					Phil Lyndeman
				</a>
				<div class="client-quotes__prof">
					Odyssey Marine Exploration (NASDAQ: OMEX)
				</div>
				<div class="client-quotes__desc">
					The largest American company engaged in the salvage of deep-water shipwrecks.
				</div>
				<div class="client-quotes__img">
					<img src="./img/odyssey.png" alt="">
				</div>
			</div>
		</div>
	</div>
</section>