<section class="companies">
	<div class="companies__static-wr">
		<div class="companies__desktop">
			<div class="companies__desktop-wr">
				<img src="./img/97.png" alt="phone">
			</div>
		</div>
	</div>
	<div class="companies__background">
		<div class="container">
			<div class="companies__wr">
				<p class="companies__title-val">600+</p>
				<p class="companies__title-text">companies use Daminion for growth</p>
				<div class="companies__img-wrapper">
					<img src="./img/103.png" alt="">
					<img src="./img/75.png" alt="">
					<img src="./img/104.png" alt="">
					<img src="./img/105.png" alt="">
					<img src="./img/106.png" alt="">
					<img src="./img/107.png" alt="">
				</div>
			</div>
		</div>
	</div>
</section>