<footer>
	<div class="container">
		<div class="footer-nav">
			<div class="footer-nav-item">
				<div class="footer-nav-list">
					<div class="footer-nav-title">
						Product
					</div>
					<ul>
						<li>
							<button class="button button_system">Get Pricing</button>
						</li>
						<li>
							<button class="button button_primary">Book a Demo</button>
						</li>
						<li>
							<a href="#">
								ROI Calculator
							</a>
						</li>
						<li>
							<a href="#">
								Presentation for your
							</a>
						</li>
						<li>
							<a href="#">
								Decision Maker
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="footer-nav-item">
				<div class="footer-nav-list">
					<div class="footer-nav-title" onclick="o2.footerSpoiler.toggle(this);">
						Features <span>@@include('../../img/svg/chevron-down.svg')</span>
					</div>
					<ul>
						<li>
							<a href="#">
								Checklist: do you need Daminion?
							</a>
						</li>
						<li>
							<a href="#">
								Local vs Cloud
							</a>
						</li>
						<li>
							<a href="#">
								Supported Formats
							</a>
						</li>
						<li>
							<a href="#">
								Integrations
							</a>
						</li>
						<li>
							<a href="#">
								Daminion Tour
							</a>
						</li>
						<li>
							<a href="#">
								GPS/GIS/Maps
							</a>
						</li>
						<li>
							<a href="#">
								Daminion vs Other Solutions
							</a>
						</li>
						<li>
							<a href="#">
								Developer Resources
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="footer-nav-item">
				<div class="footer-nav-list">
					<div class="footer-nav-title" onclick="o2.footerSpoiler.toggle(this);">
						Case Studies <span>@@include('../../img/svg/chevron-down.svg')</span>
					</div>
					<ul>
						<li>
							<a href="#">
								Marketing & Communications
							</a>
						</li>
						<li>
							<a href="#">
								Design & Production
							</a>
						</li>
						<li>
							<a href="#">
								Video Production
							</a>
						</li>
						<li>
							<a href="#">
								Sales
							</a>
						</li>
						<li>
							<a href="#">
								GIS Specialists
							</a>
						</li>
						<li>
							<a href="#">
								Benefits for IT Managers
							</a>
						</li>
						<li>
							<a href="#">
								Testimonials
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="footer-nav-item">
				<div class="footer-nav-list">
					<div class="footer-nav-title" onclick="o2.footerSpoiler.toggle(this);">
						Resources <span>@@include('../../img/svg/chevron-down.svg')</span>
					</div>
					<ul>
						<li>
							<a href="#">
								Q & A
							</a>
						</li>
						<li>
							<a href="#">
								Documentation
							</a>
						</li>
						<li>
							<a href="#">
								Blog
							</a>
						</li>
						<li>
							<a href="#">
								Forum
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="footer-nav-item">
				<div class="footer-nav-list">
					<div class="footer-nav-title" onclick="o2.footerSpoiler.toggle(this);">
						About <span>@@include('../../img/svg/chevron-down.svg')</span>
					</div>
					<ul>
						<li>
							<a href="#">
								About Daminion
							</a>
						</li>
						<li>
							<a href="#">
								Contact Us
							</a>
						</li>
						<li>
							<a href="#">
								Terms of service
							</a>
						</li>
						<li>
							<a href="#">
								Privacy policy
							</a>
						</li>
						<li>
							<a href="#">
								Cookie settings
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyrights">
			<div class="footer-copyrights-text">Copyright © 2020 Daminion Software. All Rights Reserved</div>
			<a href="#" class="footer-copyrights-logo">
				@@include('../../img/svg/logo-white.svg')
			</a>
		</div>
	</div>
</footer>