<header>
	<div class="container">
		<div class="header-wr">
			<a href="#" class="header-wr-logo">
				@@include('../../img/svg/logo.svg')
			</a>
			<ul class="header-wr-menu">
				<li class="header-wr-menu-item">
					<a href="#">Case Studies @@include('../../img/svg/chevron-down.svg')</a>
					<ul class="header-wr-menu-dropdown">
						<li>
							<a href="#">
								Marketing & Communications
							</a>
						</li>
						<li>
							<a href="#">
								Design & Production
							</a>
						</li>
						<li>
							<a href="#">
								Video Production
							</a>
						</li>
						<li>
							<a href="#">
								Sales
							</a>
						</li>
						<li>
							<a href="#">
								GIS Specialists
							</a>
						</li>
						<li>
							<a href="#">
								Benefits for IT Managers
							</a>
						</li>
						<li>
							<a href="#">
								Testimonials
							</a>
						</li>
					</ul>
				</li>
				<li class="header-wr-menu-item">
					<a href="#">Pricing</a>
				</li>
				<li class="header-wr-menu-item">
					<a href="#">Contact Us</a>
				</li>
				<li>
					<a class="button" href="#">Book a Demo</a>
				</li>
			</ul>
		</div>
	</div>
</header>