<header>
	<div class="container">
		<div class="header__wr">
			<div class="header__burger" onclick="o2.popupsFull.showPopup('.mobile-popup')">
				@@include('../../img/svg/hamburger-menu.svg')
			</div>
			<a href="#" class="header__logo">
				@@include('../../img/svg/logo.svg')
			</a>
			<ul class="header__menu">
				<li class="menu__item">
					<a href="#">Case Studies @@include('../../img/svg/chevron-down.svg')</a>
					<ul class="menu__dropdown">
						<li>
							<a href="#">
								Marketing & Communications
							</a>
						</li>
						<li>
							<a href="#">
								Design & Production
							</a>
						</li>
						<li>
							<a href="#">
								Video Production
							</a>
						</li>
						<li>
							<a href="#">
								Sales
							</a>
						</li>
						<li>
							<a href="#">
								GIS Specialists
							</a>
						</li>
						<li>
							<a href="#">
								Benefits for IT Managers
							</a>
						</li>
						<li>
							<a href="#">
								Testimonials
							</a>
						</li>
					</ul>
				</li>
				<li class="menu__item">
					<a href="#">Pricing</a>
				</li>
				<li class="menu__item">
					<a href="#">Contact Us</a>
				</li>
				<li>
					<a class="button" href="#">Book a Demo</a>
				</li>
			</ul>
		</div>
	</div>
</header>