<section class="helpful container">
	<h2>Other helpful Daminion features</h2>
	<div class="helpful__slider">

		<div class="helpful__card">
			<div class="helpful__card-left">
				@@include('../../img/svg/Unify.svg')
			</div>
			<div class="helpful__card-wr">
				<h3>Unify</h3>
				<h4>Daminion unifies all the media scattered accross all your computers, storage, and different locations by centralizing it in one access point.</h4>
				<p>All your team members, local or remote, can now get all the<br>
					files they need in an instant.</p>
			</div>
		</div>

		<div class="helpful__card">
			<div class="helpful__card-left">
				@@include('../../img/svg/Forget seing double.svg')
			</div>
			<div class="helpful__card-wr">
				<h3>Forget seing double</h3>
				<h4>Daminion prevents re-importing the same file, so no duplicates are created in the first place, ever. It also finds and lets you eliminate
					existing duplicates.</h4>
				<p>No more document versions collision or confusion among your colleagues..</p>
			</div>
		</div>

		<div class="helpful__card">
			<div class="helpful__card-left">
				@@include('../../img/svg/Integrations.svg')
			</div>
			<div class="helpful__card-wr">
				<h3>Forget seing double</h3>
				<h4>Daminion can be easily integrated with your local and cloud solutions, for example corporate CMS, Adobe Creative Suite, Dropbox, MS Office, etc.</h4>
				<div class="helpful__svg-wr">
					@@include('../../img/svg/wordpress 1.svg')
					@@include('../../img/svg/creative-cloud-cc 1.svg')
					@@include('../../img/svg/Frame1.svg')
					@@include('../../img/svg/Microsoft_Office_logo_(2019–present) 1.svg')
				</div>
			</div>
		</div>

		<div class="helpful__card">
			<div class="helpful__card-left">
				@@include('../../img/svg/Frame.svg')
			</div>
			<div class="helpful__card-wr">
				<h3>One-click sharing</h3>
				<h4>Old-school sharing methods, for instance via email, have severe
					file size limitations.</h4>
				<p>Share your digital assets by link with Daminion, without any size limit, instantly.</p>
			</div>
		</div>

		<div class="helpful__card">
			<div class="helpful__card-left">
				@@include('../../img/svg/Resize on-the-fly.svg')
			</div>
			<div class="helpful__card-wr">
				<h3>Resize on-the-fly</h3>
				<h4>You don’t need to install Photoshop on all your  company computers just to download a resized image copy.</h4>
				<p>With only 2 clicks in Daminion, you can download a JPG resized to your custom preset instead of a huge PSD file; optimize file size for Retina displays; remove metadata; apply watermark; add your copyright; and more.</p>
			</div>
		</div>

		<div class="helpful__card">
			<div class="helpful__card-left">
				@@include('../../img/svg/Preview all media formats.svg')
			</div>
			<div class="helpful__card-wr">
				<h3>Preview all media formats</h3>
				<h4>Daminion lets you instantly preview 100+ media formats including all photos, videos, vector images, office documents, PDFs, audio, CAD formats, etc.</h4>
				<p>You are no longer forced to open each file with a generic icon (using Adobe Illustrator, InDesign or alike) just to see what’s in it. </p>
			</div>
		</div>
	</div>
</section>