<section class="hero-block">
	<div class="hero-block__wr">
		<div class="container">
			<h1 class="hero-block__title title">
				The easiest way to organize, unify, and secure
				all the digital assets of your business
			</h1>
			<div class="hero-block__desc">
				Daminion is a Digital <a href="#">Asset Management solution for your team.</a><br>It increases productivity of marketing, design and sales teams by 30% average
			</div>
			<div class="hero-block__form">
				<input type="text" class="input" placeholder="Your business e-mail">
				<button onclick="o2.popups.showPopup('.demo-popup')" class="button button_primary">Book a Demo</button>
			</div>
		</div>
	</div>
</section>