<section class="infoblock infoblock-second">
	<h2>Daminion’s expertize for your business</h2>
	<div class="infoblock__sldier-wr">
		<div class="infoblock__wrapper">
			<img class="infoblock__img-right" src="./img/174.png" alt="phone">
			<div class="container">
				<div class="infoblock__info-block">
					@@include('../../img/svg/DataSecurity.svg')
					<div class="infoblock__text-wr">
						<h3>Data security</h3>
						<span>Daminion protects access to your data by roles and on the file level. Be as granular as you like. Assign Daminion-managed roles to your users. Roles will set and control the user’s access to functionality any way you like. </span>
						<div class="infoblock__info-wrapper">
							@@include('../../img/svg/programmer 1.svg')
							<p class="infoblock__strong-text">
								Example: only permit a user with a particluar role to assign/ remove tags, but not change your tag structure or delete files.
							</p>
						</div>
						<p class="infoblock__medium-text">Daminion role structure is as flexibleas you need it to be.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="infoblock__wrapper">
			<img class="infoblock__img-left" src="./img/banner3.png" alt="phone">
			<div class="container">
				<div class="infoblock__info-block infoblock__info-block_right">
					@@include('../../img/svg/Geotagging.svg')
					<div class="infoblock__text-wr">
						<h3>Geotagging</h3>
						<span>Where in the world was Whaldo? Visualize on the map the actual locations your photos were taken. Or, if geodata is missing, just drag images to the map right inside Daminion. Done!</span>
					</div>
				</div>
			</div>
		</div>

		<div class="infoblock__wrapper">
			<img class="infoblock__img-right" src="./img/134.png" alt="phone">
			<div class="container">
				<div class="infoblock__info-block">
					@@include('../../img/svg/Collaborate.svg')
					<div class="infoblock__text-wr">
						<h3>Data security</h3>
						<span>Daminion protects access to your data by roles and on the file level. Be as granular as you like. Assign Daminion-managed roles to your users. Roles will set and control the user’s access to functionality any way you like. </span>
						<div class="infoblock__info-wrapper">
							@@include('../../img/svg/networking 1.svg')
							<p class="infoblock__strong-text">
								Marketers and designers can collaborate x10 times faster by using Daminion.
							</p>
						</div>
						<div class="infoblock__info-wrapper">
							@@include('../../img/svg/music-player 1.svg')
							<p class="infoblock__strong-text">
								Marketers and designers can collaborate x10 times faster by using Daminion.
							</p>
						</div>
						<p class="infoblock__medium-text">Daminion role structure is as flexibleas you need it to be.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>