<div class="needed">
	<div class="container">
		<h2>Who needs Daminion:</h2>
		<h3>Daminion is universally useful. But a couple of specialized cases are described below for your convenience</h3>
		<div class="needed__wrapper">
			<div class="needed__tab-name">
				<ul class="needed__tab-name-list">
					<li id="1" onclick="o2.tabs(this, 1)" class="needed__tab-name-item needed__tab-name-item_active">Design</li>
					<li id="2" onclick="o2.tabs(this, 2)" class="needed__tab-name-item">Marketing & Communications</li>
					<li id="3" onclick="o2.tabs(this, 2)" class="needed__tab-name-item">Sales</li>
					<li id="4" onclick="o2.tabs(this, 2)" class="needed__tab-name-item">GIS Specialists</li>
					<li id="5" onclick="o2.tabs(this, 2)" class="needed__tab-name-item">Video & Photo Production</li>
				</ul>
			</div>
			<div  class="needed__tabs">
				<ul class="needed__tabs-wr active" data-id="1"> 
					<li class="needed__tabs-item">
						<div class="needed__tabs-number">.1</div>
						<div class="needed__tabs-text">
							<strong>Designers</strong> can increase a number of finished projects by 30% on average without extra effort.
						</div>
					</li>
					<li class="needed__tabs-item">
						<div class="needed__tabs-number">.2</div>
						<div class="needed__tabs-text">
							<strong>Quickly finding</strong> the existing assets that can be re-used saves time and money. No need to create duplicate content.
						</div>
					</li>
					<li class="needed__tabs-item">
						<div class="needed__tabs-number">.3</div>
						<div class="needed__tabs-text">
							<strong>Versioning</strong> helps to revert back to the best design and avoid document collisions. 
						</div>
					</li>
					<li class="needed__tabs-item">
						<div class="needed__tabs-number">.4</div>
						<div class="needed__tabs-text">
							Daminion makes communicating with other departments that much easier, natively.
						</div>
					</li>
					<li class="needed__tabs-item">
						<div class="needed__tabs-number">.5</div>
						<div class="needed__tabs-text">
							In a well-designed system like Daminion, you can quickly find 10x more inspirational material to easily start your designs.
						</div>
					</li>
				</ul>

				<ul class="needed__tabs-wr" data-id="2"> 
					<li class="needed__tabs-item">
						<div class="needed__tabs-number">.1</div>
						<div class="needed__tabs-text">
							<strong>Designers</strong> can increase a number of finished projects by 30% on average without extra effort.
						</div>
					</li>
					<li class="needed__tabs-item">
						<div class="needed__tabs-number">.4</div>
						<div class="needed__tabs-text">
							Daminion makes communicating with other departments that much easier, natively.
						</div>
					</li>
					<li class="needed__tabs-item">
						<div class="needed__tabs-number">.5</div>
						<div class="needed__tabs-text">
							In a well-designed system like Daminion, you can quickly find 10x more inspirational material to easily start your designs.
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>