<div onclick="o2.popups.closePopup();" class="overlay _overlay">
	<div onclick="event.stopPropagation();" class="popup mobile-popup _standartPopup">
		<ul class="mobile-popup__list">
			<li class="mobile-popup__item">
				<a href="#" onclick="o2.spoiler.toggle(this);">Case Studies <span>@@include('../../img/svg/chevron-down.svg')</span></a>
				<ul class="mobile-popup__dropdown">
					<li>
						<a href="#">
							Marketing & Communications
						</a>
					</li>
					<li>
						<a href="#">
							Design & Production
						</a>
					</li>
					<li>
						<a href="#">
							Video Production
						</a>
					</li>
					<li>
						<a href="#">
							Sales
						</a>
					</li>
					<li>
						<a href="#">
							GIS Specialists
						</a>
					</li>
					<li>
						<a href="#">
							Benefits for IT Managers
						</a>
					</li>
					<li>
						<a href="#">
							Testimonials
						</a>
					</li>
				</ul>
			</li>
			<li class="mobile-popup__item">
				<a href="#">Pricing</a>
			</li>
			<li class="mobile-popup__item">
				<a href="#">Contact Us</a>
			</li>
		</ul>
		<div class="mobile-popup__button">
			<button class="button button_default">
				Book a Demo
			</button>
		</div>
	</div>
	<div onclick="event.stopPropagation();" class="popup demo-popup _standartPopup">
		<div class="demo-popup__header">
			<div class="demo-popup__title">
				Book a Demo
			</div>
			<div onclick="o2.popups.closePopup();" class="popup-close _popupClose">
				@@include('../../img/svg/no.svg')
			</div>
		</div>
		<div class="demo-popup__form">
			<div class="demo-popup__item">
				<div class="demo-popup__item-title">Your name</div>
				<input type="text" class="input input__default" placeholder="Jonh Doe">
			</div>
			<div class="demo-popup__item">
				<div class="demo-popup__item-title">Telephone Number</div>
				<input type="text" class="input input__default _phone-mask" placeholder="+">
			</div>
			<div class="demo-popup__item">
				<div class="demo-popup__item-title">Comment</div>
				<textarea class="textarea" rows="4" placeholder="Tell us about"></textarea>
			</div>
			<button class="button button_primary">
				Book a Daminion Demo
			</button>
		</div>
	</div>
</div>