<section class="questions">
	<div class="container container--fullwidth">
		<div class="questions__wr">
			<div class="questions__title title">
				Frequently Asked Questions
			</div>
			<div class="questions__list">
				<div class="questions__item">
					<div class="questions__item-svg">
						@@include('../../img/svg/question.svg')
					</div>
					<div class="questions__item-title active" onclick="o2.spoiler.toggle(this);">
						Who will be tagging all our files and how long will it take?
						@@include('../../img/svg/chevron-down.svg')
					</div>
					<div class="questions__item-answer questions__item-answer--show">
						<ul>
							<li>Daminion’s AI can do it for you automatically.</li>
							<li>Daminion auto-imports ALL the existing tags and metadata from your files, giving you a jump-start</li>
							<li>Your team can add to it manually using the easy Daminion tagging</li>
							<li>Daminion offers an optional tagging service by our experts</li>
						</ul>
						<div class="quote">
							@@include('../../img/svg/quote-small.svg')
							For every minute spent organizing, an hour is earned.
							<span>— Benjamin Franklin</span>
						</div>
						<p>For a team of 20 people every single minute invested in organizing will save your company 20 hours.</p>
					</div>
				</div>
				<div class="questions__item">
					<div class="questions__item-svg">
						@@include('../../img/svg/question.svg')
					</div>
					<div class="questions__item-title" onclick="o2.spoiler.toggle(this);">
						Can this system be used with an existing photo directory structure without moving files? We want to layer it on top of a shared folder.
						@@include('../../img/svg/chevron-down.svg')
					</div>
					<div class="questions__item-answer">
						123
					</div>
				</div>
			</div>
			<div class="questions__bot">
				<div class="svg_link">
					@@include('../../img/svg/plus.svg')
					<a href="#">
						Open advanced calculator
					</a>
				</div>
			</div>
		</div>
	</div>
</section>