<div class="search-banner container">
	<h2>Just 2 clicks to find any file anytime</h2>
	<h3>Daminion’s proprietary tagging system is <strong>100X faster</strong> Single, secure access point to all your digital assets.</h3>
	<div class="search-banner__reletive">
		<div class="search-banner__wr">
			<div class="search-banner__input-wr">
				<div class="search-banner__input">
					<span>Categories: <strong>Vintage Cars</strong>, Color: <strong>Red</strong>, Media Format: <strong>JPEG</strong></span>
				</div>
				<div class="button button_primary">Search</div>
			</div>
		</div>
		<img src="./img/Soft.png" alt="">
	</div>
</div>