<section class="users-say">
	<div class="container">
		<div class="users-say__title title">
			What @@include('../../img/svg/g2.svg') users say
		</div>
		<div class="users-say__list">
			<div class="users-say__item">
				<div class="users-say__top">
					<div class="users-say__left">
						<div class="users-say__item-img">
							<img src="./img/crystal.png" alt="">
						</div>
						<div class="user-say__col">
							<div class="users-say__item-title">
								Crystal Rouble
							</div>
							<div class="users-say__item-desc">
								Facility Manager and Senior Field Biologist
			Conservation Fisheries , Environmental Services
							</div>
						</div>
					</div>
					<div class="users-say__right">
						<div class="users-say__item-source">Source: <a href="#" class="link">G2Crowd Reviews</a></div>
						<div class="users-say__item-medal">
							<img src="./img/medal.png" alt="">
						</div>
					</div>
				</div>
				<div class="users-say__bot">
					<div class="users-say__bot-rating">
						<span>@@include('../../img/svg/star.svg')</span>
						<span>@@include('../../img/svg/star.svg')</span>
						<span>@@include('../../img/svg/star.svg')</span>
						<span>@@include('../../img/svg/star.svg')</span>
					</div>
					<div class="users-say__bot-title">
						"Great network tagging and catalog solution"
					</div>
					<div class="users-say__bot-text">
						For years Conservation Fisheries was looking for a way to utilize their photos in a more constructive way. We wanted to make the photos searchable, but on a network. Daminion was the first software out to help us do that. We also love the prompt customer service that we recieve from the Daminion staff if we do happen to encounter any issues.
						The great thing about Daminion for CFI is that we can tag photos with locations, field notes, people, and species that we find. We are so excited to be able to keep track of this data and have it so easily searchable and workable anywhere on our network.
					</div>
				</div>
			</div>
			<div class="users-say__item">
				<div class="users-say__top">
					<div class="users-say__left">
						<div class="users-say__item-img">
							<img src="./img/crystal.png" alt="">
						</div>
						<div class="user-say__col">
							<div class="users-say__item-title">
								Crystal Rouble1
							</div>
							<div class="users-say__item-desc">
								Facility Manager and Senior Field Biologist
			Conservation Fisheries , Environmental Services1
							</div>
						</div>
					</div>
					<div class="users-say__right">
						<div class="users-say__item-source">Source: <a href="#" class="link">G2Crowd Reviews</a></div>
						<div class="users-say__item-medal">
							<img src="./img/medal.png" alt="">
						</div>
					</div>
				</div>
				<div class="users-say__bot">
					<div class="users-say__bot-rating">
						<span>@@include('../../img/svg/star.svg')</span>
						<span>@@include('../../img/svg/star.svg')</span>
						<span>@@include('../../img/svg/star.svg')</span>
						<span>@@include('../../img/svg/star.svg')</span>
					</div>
					<div class="users-say__bot-title">
						"Great network tagging and catalog solution"123
					</div>
					<div class="users-say__bot-text">
						123For years Conservation Fisheries was looking for a way to utilize their photos in a more constructive way. We wanted to make the photos searchable, but on a network. Daminion was the first software out to help us do that. We also love the prompt customer service that we recieve from the Daminion staff if we do happen to encounter any issues.
						The great thing about Daminion for CFI is that we can tag photos with locations, field notes, people, and species that we find. We are so excited to be able to keep track of this data and have it so easily searchable and workable anywhere on our network.
					</div>
				</div>
			</div>
		</div>
	</div>
</section>