<section class="calculate">
	<div class="container">
		<div class="calculate__title title">
			Calculate Your <br> Return on Investment (ROI)
		</div>
		<div class="calculate__list">
			<div class="calculate__item">
				<div class="calculate__item-col">
					<div class="calculate__item-title">Number of people</div>
					<div class="calculate__item-desc">who work with your digital assets</div>
				</div>
				<div class="calculate__item-range">
					<div class="daminion_range"></div>
				</div>
				<div class="calculate__item-col calculate__item-col--reverse">
					<div class="calculate__item-number">10</div>
					<div class="calculate__item-desc">(designers, marketers,  etc...)</div>
				</div>
			</div>
			<div class="calculate__item">
				<div class="calculate__item-col">
					<div class="calculate__item-title">Average Annual Salary</div>
				</div>
				<div class="calculate__item-range">
					<div class="daminion_range"></div>
				</div>
				<div class="calculate__item-col">
					<div class="calculate__item-number">$75.000 USD</div>
				</div>
			</div>
		</div>
		<div class="calculate__bot">
			<a href="#" class="button button_primary button_size_large">Calculate your Daminion ROI</a>
			<div class="svg_link">
				@@include('../../img/svg/plus.svg')
				<a href="#">
					Open advanced calculator
				</a>
			</div>
		</div>
	</div>
</section>