{# breadcrumbs.twig #}
<section class="breadcrumbs">
	<div class="container">
		<ul class="breadcrumbs-list">
			<li><a href="#">PROFESSIONAL CARE • INSTANT RESULT • NATURAL INGREDIENTS</a></li>
		</ul>
	</div>
</section>
<div class="breadcrumbs-title">
	<div class="container">
		<div class="wr-title">
			{{ title }}
		</div>
	</div>
</div>