.breadcrumbs
{
	background: #FFF;
	padding: 24px 0;
}
.breadcrumbs-title
{
	display: flex;
	align-items: center;
	padding: 48px 0;
	h1
	{
		color: white;
		font-weight: $regular;
		font-size: 42px;
		line-height: 44px;
		max-width: 720px;
		display: inline-block;
		margin-right: 20px;
	}
	span
	{
		color: rgba(255, 255, 255, 0.7);
		font-size: 24px;
		font-weight: $bold;
	}
	.wr-title
	{
		margin-bottom: 0;
	}
}
.breadcrumbs-list
{
	display: flex;
	justify-content: center;
	li
	{
		position: relative;
		margin-right: 30px;
		a
		{
			color: #303030;
			font-size: 24px;
			line-height: 24px;
			transition: .3s all;
			&:hover
			{
				color: $brand-color;
				transition: .3s all;
			}
		}
		&:not(:last-child)
		{
			&:before
			{
				content: "";
				position: absolute;
				right: -20px;
				top: 5px;
				width: 10px;
				height: 10px;
				background: no-repeat url("./svg/arrow-right.svg");
				background-size: contain;
			}
		}
	}
}


@media (max-width: 991px)
{
	.breadcrumbs
	{
		margin-top: 50px;
		h1
		{
			font-size: 38px;
			line-height: 42px;
		}
	}

}