@import './vendors/no-ui-slider';
.g-range-slider
{
	min-height: 1px;
	width: 100%;
}
.g-range-slider__name
{
	/*font-family: 'Poppins-Regular';*/
	margin-bottom: 12px;
	font-size: 13px;
	line-height: 16px;
}
.g-range-slider .noUi-target
{
	box-shadow: none;
	border-radius: 2px;
	border: solid 1px #0C6128;
	height: 4px;
	background: rgba(12, 97, 40, 0.3);
	/*padding-right: 16px;
	padding-left: 6px;*/
	/*background-color: #0C6128;*/
	/*padding-right: 20px;*/
}
.noUi-connects
{
	background: rgba(12, 97, 40, 0.3);
}
.noUi-connects .noUi-connect
{
	background: #0C6128;
}
/*.noUi-base
{
	padding-right: 16px;
	padding-left: 6px;
}*/
.noUi-base, .noUi-connects
{
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
}
.g-range-slider__labels
{
	/*font-family: 'Poppins-Regular';*/
	display: flex;
	justify-content: space-between;
	padding-bottom: 16px;
	font-size: 11px;
	color: #303030;
	line-height: 16px;
	width: 100%;
}
.g-range-slider .noUi-horizontal .noUi-handle
{
	width: 24px;
	height: 24px;
	box-shadow: 1px 1px 5px rgba(48, 48, 48, 0.1);
	/*border: solid 4px #ffffff;*/
	background-color: #0C6128;
	border-radius: 100%;
	top: -12px;
	border: 0
}
.noUi-handle:after, .noUi-handle:before{display: none !important;}
.forest__flex-content-item-body .noUi-horizontal .noUi-tooltip
{
	font-family: 'Montserrat-Bold';
	font-weight: bold;
	line-height: 16px;
	letter-spacing: -0.03em;
	// color: #303030;
	font-size: 11px;
	line-height: 16px;
	background: transparent;
	border:0;
	bottom: 99%;
	transition: .2s;
	background: black;
	color: white;
	margin-bottom: 1px;
	&.translate
	{
		transform:translateX(-40px);
		transition: .2s;
	}
}