/*  Переменные со шрифтами  */
$accent-font: 'OpenSans-Regular',sans-serif;
$second: 'Merriweather-Regular',sans-serif;


/*  Переменные с гарнитурами шрифтов  */
$pt-bold: 700;


/*  основные цвета  */
$white: #fff;
$accent-color: #f2d5d5;
$black: #333333;
$red: #d92929;
$secondary-color: #6a7678;
