{# menu.twig #}
<div class="navigation">
	<div class="container">
		<ul class="navigation-list">
			<li class="navigation-item">
				<a href="" class="navigation-item-ico">
					<img src="/src/assets/svg/iphone.png" alt="">
				</a>
			</li>
			<li class="navigation-item">
				<a href="" class="navigation-item-ico">
					<img src="/src/assets/svg/macbook.png" alt="">
				</a>
			</li>
			 <li class="navigation-item">
				<a href="" class="navigation-item-ico">
					<img src="/src/assets/svg/ipad.png" alt="">
				</a>
			</li>
			<li class="navigation-item">
				<a href="" class="navigation-item-ico">
					<img src="/src/assets/svg/lightning.png" alt="">
				</a>
			</li>
			<li class="navigation-item">
				<a href="" class="navigation-item-ico">
					<img src="/src/assets/svg/airpods.png" alt="">
				</a>
			</li>
			<li class="navigation-item">
				<a href="" class="navigation-item-ico">
					<img src="/src/assets/svg/applewatch.png" alt="">
				</a>
			</li>
			<li class="navigation-item">
				<a href="" class="navigation-item-ico">
					<img src="/src/assets/svg/imac.png" alt="">
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="navigation-sticky">
	<div class="container no-container">
		<ul class="navigation-sticky-list">
			<li class="navigation-sticky-item">
				<a href="#" class="navigation-sticky-item-title">
					iPhone
				</a>
			</li>
			<li class="navigation-sticky-item">
				<a href="#" class="navigation-sticky-item-title">
					macBook
				</a>
			</li>
			 <li class="navigation-sticky-item">
				<a href="#" class="navigation-sticky-item-title">
					iPad
				</a>
			</li>
			<li class="navigation-sticky-item">
				<a href="#" class="navigation-sticky-item-title">
					Lightning
				</a>
			</li>
			<li class="navigation-sticky-item">
				<a href="#" class="navigation-sticky-item-title">
					Airpods
				</a>
			</li>
			<li class="navigation-sticky-item">
				<a href="#" class="navigation-sticky-item-title">
					Apple watch
				</a>
			</li>
			<li class="navigation-sticky-item">
				<a href="#" class="navigation-sticky-item-title">
					iMac
				</a>
			</li>
		</ul>
	</div>
</div>