.g-button, input.g-button
{
	display: inline-block;
	font-size: 18px;
	text-align: center;
	line-height: $button-height;
	font-weight: $bold;
	color: #fff;
	background-color: #1D1D1B;
	border: 1px solid #FFFFFF;
	height: $button-height;
	cursor: pointer;
	min-width: 220px;
	border-radius: 10px;
	letter-spacing: 3px;
	transition: .3s all;
	svg
	{
		vertical-align: middle;
		margin-left: 10px;
	}

	&:hover
	{
		background: rgba(247, 77, 114, 0.7);
		transition: .3s all;
	}
}
.g-link, a.g-link
{
	font-size: 14px;
	border-bottom: 1px solid #303030;
	color: #303030;
	transition: .3s all;
	&:hover
	{
		color: $brand-color;
		border-bottom: 1px solid $brand-color;
		transition: .3s all;
	}
}
.g-button.g-button--white
{
	background: #FFF;
	color: #303030;
	&:hover
	{
		background: #FFF;
		opacity: 0.7;
		color: #333;
	}
}
.g-button.g-button--gray
{
	background: #E2E2E2;
	color: #303030;
	&:hover
	{
		opacity: 0.7;
		background: #E2E2E2;
		color: #333;
	}
}

@media (max-width: 1024px)
{
	.g-button
	{
		min-width: 160px;
		font-size: 16px;
	}
}