{# menu.twig #}
<div class="slider">
	<div class="container">
		<div class="slider-wr">
			<div class="slider-offer">
				<h1 class="slider-title">
					Hadad cosmetics
				</h1>
				<div class="text-wr">
					<div class="slider-desc">
						PROFESSIONAL CARE • INSTANT RESULT • NATURAL INGREDIENTS
					</div>
				</div>
				<div class="text-wr text-wr__border">
					<div class="slider-info">
						About us
					</div>
				</div>
				<div class="text-wr">
					<div class="slider-founded">
						FOUNDED IN 2016
					</div>
				</div>
			</div>
		</div>
	</div>
</div>