<!-- start advantages -->
<section class="advantages">
	<div class="wrapper">
		<div class="advantages-col">
			<img src="img/icon-1.svg" alt="">
			<h3 class="advantages-title">20+ сотрудников</h3>
			<p>Одна из лучших команд России по разработке игр</p>
		</div>
		<div class="advantages-col">
			<img src="img/icon-2.svg" alt="">
			<h3 class="advantages-title">10 000+ игроков</h3>
			<p>Радуем десятки тысяч игроков по всему миру</p>
		</div>
		<div class="advantages-col">
			<img src="img/icon-3.svg" alt="">
			<h3 class="advantages-title">Ваша карьера</h3>
			<p>Неограниченные возможности для роста и самореализации</p>
		</div>
	</div>
</section>
<!-- end advantages -->