<!-- start contacts -->
<section class="contacts">
	<canvas id=c></canvas>
	<div class="wrapper">
		<div class="contacts-logo">
			<a href="/">
				<img src="img/logo-big.png" alt="">
			</a>
		</div>
		<h3 class="contacts-subtitle">Маркетинг:</h3>
		<p><a href="mailto:adv@gta5.net">adv@gta5.net</a></p>
		<h3 class="contacts-subtitle">HR:</h3>
		<p><a href="mailto:hr@gta5.net">hr@gta5.net</a></p>
		<h3 class="contacts-subtitle">Бизнес-предложения:</h3>
		<p><a href="mailto:pr@gta5.net">pr@gta5.net</a></p>
		<h3 class="contacts-subtitle">Платежные процессы:</h3>
		<p><a href="mailto:adv@gta5.net">adv@gta5.net</a></p>
		<a href="#modal-vacancy" class="main-btn button-modal">Вернуться назад</a>
	</div>
	<div class="contacts-img">
		<img src="img/img-3.png" alt="">
	</div>
</section>
<!-- end contacts -->