<!-- start footer -->
<footer class="footer">
	<div class="wrapper">
		<div class="footer-top">
			<div class="footer-logo">
				<a href="/">
					<img src="img/logo-gray-2x.png" alt="">
				</a>
			</div>
			<div class="footer-col footer-col__1">
				<ul>
					<li><a href="#">Правила использования</a></li>
					<li><a href="#">Конфиденциальность</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<ul>
					<li><a class="__animation__popup" href="javascript:void(0);">НАШИ КОНТАКТЫ</a></li>
					<li><a href="/vacancy.html">ВАКАНСИИ</a></li>
				</ul>
			</div>
			<div class="footer-social">
				<ul>
					<li><a href="https://vk.me/gtarich" target="_blank"><img src="img/vk-ico.svg" alt=""></a></li>
					<li><a href="https://teleg.one/richcity" target="_blank"><img src="img/tg-ico.svg" alt=""></a></li>
					<li><a href="https://discordapp.com/invite/84uX5F7" target="_blank"><img src="img/di-ico.svg" alt=""></a></li>
					<li><a href="https://www.youtube.com/richcity" target="_blank"><img src="img/yt-ico.png" alt=""></a></li>
				</ul>
			</div>
		</div>
		<div class="footer-bottom">
			<p>© 2020 All rights reserved. Rich City is in no way affiliated with Rockstar Games or Take-Two Interactive. <br> 'Grand Theft Auto' and the 'Grand Theft Auto' logos are trademarks of Take-Two Interactive.</p>
			<!-- <p>Design by Aleks Daiwer</p> -->
		</div>
	</div>
</footer>
			<!-- end footer -->