<!-- start second header -->
<header class="header header-second">
	<div class="wrapper">
		<div class="header-logo">
			<a href="/">
				<img src="img/logo-red-2x.png" alt="">
			</a>
		</div>
		<div class="header-bar"></div>
		<div class="header-row">
			<div class="close"></div>
			<ul class="header-list">
				<li><a href="/">ГЛАВНАЯ</a></li>
				<li><a href="#">ФОРУМ</a></li>
				<li><a href="#">МАРКЕТ</a></li>
				<li><a href="#">КАК НАЧАТЬ?</a></li>
				<li><a href="#">AWARDS</a></li>
				<li><a href="#">ДОНАТ</a></li>
			</ul>
			<div class="header-lang">
				<div class="header-lang__text">
					<img src="img/ru.svg" alt="">
					<span>rus</span>
				</div>
				<ul class="header-lang__list">
					<li><img src="img/ru.svg" alt=""><span>rus</span></li>
					<li onclick="window.location.href = 'https://gta5.net/'"><img src="img/gb.svg" alt=""><span>eng</span></li>
				</ul>
			</div>
			<a href="#" class="header-btn"><span class="ico-hb ico-logIn"></span>войти</a>
		</div>
	</div>
</header>
<!-- end second header -->