<!-- start jobs -->
<section class="jobs">
	<div class="wrapper">
		<h2 class="jobs-title">Вакансии</h2>
		<div class="jobs-row">
			<div class="jobs-col">
				<div class="jobs-col__wrap">
					<h3 class="jobs-col__title">Senior 3D Hard Artist</h3>
					<p>Зарплата: <span>от 50 до 100 тыс.</span></p>
					<p>Требуемые скилы:</p>
					<ul>
						<li><img src="img/cinema-4d.png" alt=""></li>
						<li><img src="img/sketch.svg" alt=""></li>
						<li><img src="img/photoshop-cc.svg" alt=""></li>
						<li><img src="img/3ds-max-full.svg" alt=""></li>
					</ul>
					<a href="#" class="jobs-col__link">Подробнее</a>
				</div>
			</div><!-- col(1) -->
			<div class="jobs-col">
				<div class="jobs-col__wrap">
					<h3 class="jobs-col__title">Fullstack разработчик</h3>
					<p>Зарплата: <span>от 100 до 150 тыс.</span></p>
					<p>Требуемые скилы:</p>
					<ul>
						<li><img src="img/react.svg" alt=""></li>
						<li><img src="img/redux.svg" alt=""></li>
					</ul>
					<a href="#" class="jobs-col__link">Подробнее</a>
				</div>
			</div><!-- col(2) -->
			<div class="jobs-col">
				<div class="jobs-col__wrap">
					<h3 class="jobs-col__title">Admin сервера</h3>
					<p>Зарплата: <span>от 50 до 100 тыс.</span></p>
					<p>Требуемые скилы:</p>
					<ul>
						<li><img src="img/windows.svg" alt=""></li>
						<li><img src="img/uk.svg" alt=""></li>
					</ul>
					<a href="#" class="jobs-col__link">Подробнее</a>
				</div>
			</div><!-- col(3) -->
		</div>
	</div>
</section>
<!-- end jobs -->