<!-- start main -->
<section class="main">
	<div class="main-video">
		<!-- <div class="main-img">
			<img src="img/main-bg.jpg" alt="">
		</div> -->
		<iframe src="https://player.vimeo.com/video/390053599?quality=4k&background=1" width="100%" height="100%" frameborder="0" mozallowfullscreen="" allowfullscreen="allowfullscreen"></iframe>
	</div>
	<div class="main-info">
		<p>СЕЙЧАС В ИГРЕ</p>
		<span>5 789</span>
	</div>
	<div class="main-down">
		Спускайся вниз
		<span class="ico-hb ico-down"></span>
	</div>
</section>
<!-- end main -->