<!-- modal-form start-->
<div class="modal-overlay"></div>
<div class="modal" id="modal-vacancy">
	<div class="close"></div>
	<div class="modal-content">
		<div class="modal-top">
			<h3 class="modal-title">Отправь свое резюме</h3>
			<p>Заполни форму ниже или напиши нам на почту <a href="mailto:hr@gta5.net">hr@gta5.net</a></p>
		</div>
		<form class="hr-form">
			<div class="input__block">
				<input id="b-1" name="name" type="text" autocomplete="off" required="">
				<label for="b-1">ВАШЕ ИМЯ</label>
			</div>
			<div class="input__block">
				<input id="b-2" name="vacancy" type="text" autocomplete="off" required="">
				<label for="b-2">Вакансия</label>
			</div>
			<div class="input__block">
				<input id="b-3" name="contact" type="text" autocomplete="off" required="">
				<label for="b-3">Контакты</label>
			</div>
			<div class="modal-checkbox">
				<div class="checkbox">
					<input type="checkbox" checked>
					<span></span>
					<p>Я даю согласие на обработку персональных данных в соответствии с <a href="#">Политикой обработки персональных данных Соискателей.</a></p>
				</div>
			</div>
			<div class="modal-bottom">
				<div class="file-input">
					<input type="file">
					<div class="file-input__row">
						<span class="ico-hb ico-file"></span>
						<p>Прикрепить файл</p>
					</div>
				</div>
				<button class="main-btn">Отправить</button>
			</div>
		</form>
	</div>
</div>
<!-- modal-form end-->