<!-- start page-top -->
<section class="page-top">
	<div class="wrapper">
		<a href="#" class="page-top__back jobs-col__link">Вернуться</a>
		<div class="page-top__wrap">
			<img src="img/logo-unity.png" alt="">
			<h1 class="page-top__title">Программист Unity 3D</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			<p>Зарплата: <span>от 50 до 100 тыс.</span></p>
			<a href="#modal-vacancy" class="main-btn button-modal">Откликнуться</a>
		</div>
		<ul class="page-top__social">
			<li><a href="#"><img src="img/vk-ico.svg" alt=""></a></li>
			<li><a href="#"><img src="img/fb-ico.svg" alt=""></a></li>
			<li><a href="#"><img src="img/tw-ico.svg" alt=""></a></li>
		</ul>
	</div>
</section>
<!-- end page-top -->