<!-- start page-content -->
<section class="page-content">
	<div class="wrapper">
		<div class="page-row">
			<div class="page-col">
				<h3 class="page-subtitle">О проекте и команде:</h3>
				<p>Сейчас мы разрабатываем мобильный Arena Shooter с элементами Battle Royale. Игра находится на этапе Soft Launch и нуждается в оперативных доработках. Ядро команды состоит из 10 человек.</p>
				<p>Присоединившись к команде, ты сможешь проверить и улучшить свои навыки <br>в широком спектре задач и повлиять на будущий вид игры.</p>
				<p>Мы сохраняем в команде дружеские отношения и поддерживаем предложения идущие от коллектива для того, чтобы каждый член команды чувствовал себя комфортно и принимал максимально участие в создание успешного проекта.</p>
			</div>
			<div class="page-col page-col__second">
				<img src="img/img-1.jpg" alt="">
			</div>
		</div>
		<div class="page-row">
			<div class="page-col">
				<h3 class="page-subtitle">Задачи:</h3>
				<ul>
					<li>+ Создание мобильных игр на C# в Unity3D;</li>
					<li>+ Поддержка существующего и разработка нового функционала игр;</li>
					<li>+ Работа с UI в Unity3D.</li>
				</ul>
			</div>
			<div class="page-col page-col__second">
				<h3 class="page-subtitle">Что для этого необходимо:</h3>
				<ul>
					<li>+ Базовое понимание Unity3D и желание его развивать;</li>
					<li>+ Умение писать чистый и понятный код;</li>
					<li>+ Желание делать игры.</li>
				</ul>
			</div>
		</div>
		<div class="page-img">
			<img src="img/img-2.jpg" alt="">
		</div>
		<div class="page-bottom">
			<h3 class="page-subtitle">Что мы предлагаем:</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
			<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<div class="page-link">
				<a href="#modal-vacancy" class="main-btn button-modal">Откликнуться</a>
			</div>
		</div>
	</div>
</section>
<!-- end page-content -->