<!-- start summary -->
<section class="summary">
	<div class="wrapper">
		<div class="summary-col">
			<div class="summary-col__wrap" style="background-image: url(img/human-bg.png);">
				<img src="img/human-2x.png" alt="">
				<div class="summary-col__info">
					<p>Вопросы по поводу вакансий можете отправлять на почту <a href="mailto:hr@gta5.net">hr@gta5.net</a></p>
					<p>В разделе <span>Контакты</span> вы найдете способы связи со всеми отделами компании.</p>
				</div>
			</div>
		</div>
		<div class="summary-form">
			<div class="summary-bell">
				<svg xmlns="http://www.w3.org/2000/svg" width="23" height="26" viewBox="0 0 23 26"><g><g><path fill="#3b3d4a" d="M11.2 23.6a.4.4 0 0 1 0 .8c-1.103 0-2-.897-2-2h.8c0 .662.538 1.2 1.2 1.2zm10.494-5.297C20.582 17.19 19.2 15.806 19.2 10.4a8.002 8.002 0 0 0-6.683-7.892 1.6 1.6 0 1 0-2.634 0A8.002 8.002 0 0 0 3.2 10.4c0 5.406-1.382 6.79-2.495 7.903C-.802 19.81.266 22.4 2.402 22.4H8a3.2 3.2 0 0 0 6.4 0h5.597c2.132 0 3.208-2.587 1.697-4.097z"/></g></g></svg>
			</div>
			<?php exit('ok'); ?>
			<div class="modal-content">
				<div class="modal-top">
					<h3 class="modal-title">Отправь свое резюме</h3>
					<p>Заполни форму ниже или напиши нам на почту <a href="mailto:hr@gta5.net">hr@gta5.net</a></p>
				</div>
				<form class="hr-form">
					<div class="input__block">
						<input id="b-1" name="name" type="text" autocomplete="off" required="">
						<label for="b-1">ВАШЕ ИМЯ</label>
					</div>
					<div class="input__block">
						<input id="b-2" name="vacancy" type="text" autocomplete="off" required="">
						<label for="b-2">Вакансия</label>
					</div>
					<div class="input__block">
						<input id="b-3" name="contact" type="text" autocomplete="off" required="">
						<label for="b-3">Контакты</label>
					</div>
					<div class="modal-checkbox">
						<div class="checkbox">
							<input type="checkbox" checked>
							<span></span>
							<p>Я даю согласие на обработку персональных данных в соответствии с <a href="#">Политикой обработки персональных данных Соискателей.</a></p>
						</div>
					</div>
					<div class="modal-bottom">
						<div class="file-input">
							<input type="file">
							<div class="file-input__row">
								<span class="ico-hb ico-file"></span>
								<p>Прикрепить файл</p>
							</div>
						</div>
						<button class="main-btn">Отправить</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<!-- end summary -->