/* mixins */
@import 'base/mixins.scss';

/* base */
@import 'base/fonts';
@import 'base/variables';
@import 'base/normalize';
@import 'base/typography';
@import 'base/default';
@import 'base/prettify';
@import 'base/jquery.formstyler';

/* blocks */
@import 'blocks/header/header';
@import 'blocks/footer/footer';
@import 'blocks/menu/menu';
@import 'blocks/slider/slider';
@import 'blocks/catalog/catalog';
@import 'blocks/trade/trade';
@import 'blocks/question/question';
@import 'blocks/breadcrumbs/breadcrumbs';
@import 'blocks/choose/choose';
@import 'blocks/detail/detail';
@import 'blocks/pagecontent/pagecontent';
@import 'blocks/cart/cart';
@import 'blocks/map/map';
@import 'blocks/order/order';
@import 'blocks/g-button/g-button';
@import 'blocks/g-tabs/g-tabs';
@import 'blocks/g-select/g-select';
@import 'blocks/g-range-slider/g-range-slider';
@import 'blocks/g-checkbox/g-checkbox';
@import 'blocks/g-radio/g-radio';
@import 'blocks/g-input/g-input';
@import 'blocks/g-input/--icon';
@import 'blocks/g-date-picker/g-date-picker';
@import 'blocks/g-slider/g-slider';
@import 'blocks/g-popup/g-popup';
@import 'blocks/g-input-file/g-input-file';
@import 'blocks/g-pagination/g-pagination';
@import 'blocks/notification/notification';

/* pages */
@import 'pages/ui-kit/ui-kit';
@import 'pages/index/index';

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
	&:before,
	&:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}
html
{
	line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
	-webkit-font-smoothing: antialiased;
}

::selection
{
	background: rgba(247, 77, 114, 0.5);
}

::-moz-selection
{
	background: rgba(247, 77, 114, 0.5);
}

.secondary-title
{
	font-size: 32px;
	line-height: 38px;
	padding: 4px 8px;
	font-weight: $medium;
	text-transform: uppercase;
	letter-spacing: 12px;
	color: #FFF;
	margin-bottom: 0;
}
.primary-title
{
	font-size: 28px;
	line-height: 32px;
	color: #303030;
	font-weight: 500;
	margin-bottom: 20px;
}
.secondary-title--white
{
	color: #FFF;
}
.section-wr
{
	padding: 24px 0;
}
.text-wr
{
	text-align: center;
	div
	{
		display: inline-block;
	}
}
.text-wr__border
{
	display: inline-block;
	margin: 0 auto;
	border-bottom: 3px solid #000;
	div
	{
		margin-bottom: 12px;
	}
}
.wr-title
{
	position: relative;
	text-align: center;
	margin-bottom: 24px;
	.secondary-title
	{
		display: inline-block;
	}
	&:before
	{
		content: "";
		position: absolute;
		width: 100px;
		background: #FFF;
		bottom: -25px;
		height: 4px;
		left: 50%;
		margin-left: -50px;
	}
}

.imag-slider
{
	margin: 0px;
	ul
	{
		padding: 0px;
		margin: 0px;
		margin-bottom: 20px;
		position: relative;
		li
		{
			list-style-type: none;
			display: none;
			height: 180px;
			width: 70%;
			margin: 0 auto;
			img
			{
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
			&.active
			{
				display: block;
			}
		}
		&:before
		{
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			opacity: 0;
			width: 30px;
			height: 30px;
			background: no-repeat url("./svg/swipe.svg");
			background-size: contain;
			transition: .3s all;
		}
		&:hover
		{
			&:before
			{
				animation: swiper 2s ease-in-out infinite;
				opacity: 1;
				transition: .3s all;
			}
		}
	}
}

@media (max-width: 991px)
{
	.secondary-title
	{
		font-size: 38px;
		line-height: 42px;
	}
}