header
{
	background: #000;
	transtion: .3s all;
	width: 100%;
	position: fixed;
	z-index: 9;
	top: 0;
}
.header-wr
{
	display: flex;
}
.header-logo
{
	display: block;
	height: 32px;
	img
	{

		height: 100%;
		width: 100%;
		object-fit: contain;
	}
}
.header-main
{
	background: #000;
	border-bottom: 1px solid rgba(48, 48, 48, 0.1);
}
.header-main-wr
{
	padding: 20px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header-center
{
	display: flex;
	flex-direction: column;
	flex-basis: 25%;
	text-align: left;
}
.header-desc
{
	font-weight: $light;
	color: #303030;
	font-size: 12px;
	line-height: 14px;
}
.header-phone
{
	font-size: 24px;
	line-height: 24px;
	font-weight: $bold;
	color: #303030;
	margin-bottom: 5px;
	transition: .3s all;
	&:hover
	{
		color: $brand-color;
		transition: .3s all;
	}
}
.header-menu
{
	width: 70%;
	ul
	{
		display: flex;
		li
		{
			position: relative;
			margin-right: 12px;
			&:before
			{
				content:"";
				position: absolute;
				width: 100%;
				height: 3px;
				background: $brand-color;
				top: -41px;
				opacity: 0;
				transition: .3s all;
			}
			a
			{
				text-transform: uppercase;
				padding: 4px 12px;
				color: #FFF;
				font-weight: $regular;
				font-size: 14px;
				transition: .3s all;
			}
			&.active
			{
				&:before
				{
					opacity: 1;
				}
				a
				{
					color: #FFF;
					background: $brand-color;
					transition: .3s all;
				}
			}
			&:hover
			{
				&:before
				{
					opacity: 1;
					transition: .3s all;
				}
				a
				{
					color: #FFF;
					background: $brand-color;
					transition: .3s all;
				}
			}
			&:not(:last-child)
			{
				// margin-right: 25px;
			}
		}
	}
}
.header-burger
{
	display: none;
}
.header-right
{
	display: flex;
}
.header-cart
{
	margin-right: 24px;
	a
	{
		position: relative;
		font-size: 16px;
		display: block;
		background: $brand-color;
		border-radius: 10px;
		transition: .3s all;
		color: #303030;
		svg
		{
			width: 18px;
			height: 18px;
			path
			{
				fill: white;
			}
			.cls-1
			{
				opacity: 1;
			}
		}
	}
}


@media (max-width: 991px)
{
	.header-menu
	{
		display: none;
	}
	.header-center
	{
		display: none;
	}
	.header-cart
	{
		a
		{
			padding: 12px 24px;
		}
	}
	.header-burger
	{
		border: none;
		display: block;
		// border-radius: 10px;
		// background: $brand-color;
		// padding: 12px 24px;
		svg
		{
			fill: white;
			width: 28px;
			height: 28px;
		    vertical-align: middle;
		}
	}
}