<div class="about-section dot-background dot-background-right">
	<div class="container">
		<div class="index-separator">
			<div class="about-section-desc">
				Our story begins in 1999, Daminion was developed based on years of experience in the digital photo management industry; PicaJet.com there are more than 20 years. The company is also the Creator of PicaJet Photo Manager and RoboImport, digital photo management solutions for photographers and designers.
				<br><br><br>
				Daminion software is a fast-growing company specializing in the development of software solutions for digital asset management.
				<br><br><br><br><br>
				Our main goal is to provide our users with the perfect solution for Digital asset management. To do this, we always listen to our customers and constantly improve the product by releasing updates. We have assembled a wonderful team of professionals that provides a high level of service and stability of our products.
			</div>
			<div class="about-section-list row">
				<div class="col-12 col-sm-6 col-lg-3 about-section-item">
					<a href="./img/alex.jpeg" class="image-popup">
						<img src="./img/alex.jpeg" alt="">
					</a>
					<div class="about-section-item-title">
						Alex Syukosev
					</div>
					<div class="about-section-item-title">
						CTO, co-founder
					</div>
				</div>
				<div class="col-12 col-sm-6 col-lg-3 about-section-item">
					<a href="./img/murat.jpeg" class="image-popup">
						<img src="./img/murat.jpeg" alt="">
					</a>
					<div class="about-section-item-title">
						Murat Korkmazov
					</div>
					<div class="about-section-item-title">
						CEO, co-founder
					</div>
				</div>
				<div class="col-12 col-sm-6 col-lg-3 about-section-item">
					<a href="./img/valery.jpeg" class="image-popup">
						<img src="./img/valery.jpeg" alt="">
					</a>
					<div class="about-section-item-title">
						Valery Sizhuk
					</div>
					<div class="about-section-item-title">
						Senior system architect
					</div>
				</div>
				<div class="col-12 col-sm-6 col-lg-3 about-section-item">
					<a href="./img/yuri.jpeg" class="image-popup">
						<img src="./img/yuri.jpeg" alt="">
					</a>
					<div class="about-section-item-title">
						Yury Segida
					</div>
					<div class="about-section-item-title">
						Lead front-end developer
					</div>
				</div>
				<div class="col-12 col-sm-6 col-lg-3 about-section-item">
					<a href="./img/oxotnikov.jpeg" class="image-popup">
						<img src="./img/oxotnikov.jpeg" alt="">
					</a>
					<div class="about-section-item-title">
						Aleksandr Ohotnikov
					</div>
					<div class="about-section-item-title">
						Front-end developer
					</div>
				</div>
				<div class="col-12 col-sm-6 col-lg-3 about-section-item">
					<a href="./img/aleksandr.jpeg" class="image-popup">
						<img src="./img/aleksandr.jpeg" alt="">
					</a>
					<div class="about-section-item-title">
						Aleksandr Burenkov
					</div>
					<div class="about-section-item-title">
						Marketing VP
					</div>
				</div>
				<div class="col-12 col-sm-6 col-lg-3 about-section-item">
					<a href="./img/eugene.jpeg" class="image-popup">
						<img src="./img/eugene.jpeg" alt="">
					</a>
					<div class="about-section-item-title">
						Eugene Nekrasov
					</div>
					<div class="about-section-item-title">
						Sales Manager
					</div>
				</div>
				<div class="col-12 col-sm-6 col-lg-3 about-section-item">
					<a href="./img/dean.jpg" class="image-popup">
						<img src="./img/dean.jpg" alt="">
					</a>
					<div class="about-section-item-title">
						Dean Kruger
					</div>
					<div class="about-section-item-title">
						Head of Daminion Software
					</div>
					<div class="about-section-item-title">
						South Africa
					</div>
				</div>
				<div class="col-12 col-sm-6 col-lg-3 about-section-item">
					<a href="./img/pic5.png" class="image-popup">
						<img src="./img/pic5.png" alt="">
					</a>
					<div class="about-section-item-title">
						Sedat Yakisir
					</div>
					<div class="about-section-item-title">
						Head of Daminion Software
					</div>
					<div class="about-section-item-title">
						Germany
					</div>
				</div>
				<div class="col-12 col-sm-6 col-lg-3 about-section-item">
					<a href="./img/pic6.png" class="image-popup">
						<img src="./img/pic6.png" alt="">
					</a>
					<div class="about-section-item-title">
						Dmitry Luzanov
					</div>
					<div class="about-section-item-title">
						Web developer
					</div>
				</div>
				<div class="col-12 col-sm-6 col-lg-3 about-section-item">
					<a href="./img/pic7.png" class="image-popup">
						<img src="./img/pic7.png" alt="">
					</a>
					<div class="about-section-item-title">
						Daria Kotilainen
					</div>
					<div class="about-section-item-title">
						Head of technical support
					</div>
				</div>
				<div class="col-12 col-sm-6 col-lg-3 about-section-item">
					<a href="./img/pic8.png" class="image-popup">
						<img src="./img/pic8.png" alt="">
					</a>
					<div class="about-section-item-title">
						René Schildt
					</div>
					<div class="about-section-item-title">
						Quality Assurance Manager
					</div>
				</div>
			</div>
			<div class="about-section-desc">
				With more than 20 years of experience in building DAM systems, we have made one of the best products on the market. Daminion Local is one of the few solutions in Digital asset management that helps to build a closed system within small teams and large companies and it helps to ensure maximum efficiency and security in the operation of DAM systems.
				<br><br>
				Based on the requests of our users, we have released Daminion Cloud, which helps distributed teams or companies with a large number of offices to interact almost instantly, while providing excellent data protection
			</div>
		</div>
	</div>
</div>