<div class="awards-section">
	<div class="container">
		<div class="index-integration index-clients index-separator">
			<div class="index-offer-desc">
				Awards
			</div>
			<div class="awards-list row">
				<div class="awards-item col-12 col-sm-4 col-lg-2">
					<img src="./img/medal.svg" alt="">
				</div>
				<div class="awards-item col-12 col-sm-4 col-lg-2">
					<img src="./img/medal2.svg" alt="">
				</div>
				<div class="awards-item col-12 col-sm-4 col-lg-2">
					<img src="./img/medal3.svg" alt="">
				</div>
				<div class="awards-item col-12 col-sm-4 col-lg-2">
					<img src="./img/medal4.svg" alt="">
				</div>
				<div class="awards-item col-12 col-sm-4 col-lg-2">
					<img src="./img/medal5.svg" alt="">
				</div>
				<div class="awards-item col-12 col-sm-4 col-lg-2">
					<img src="./img/medal6.svg" alt="">
				</div>
			</div>
		</div>
	</div>
</div>