<div class="cases-section">
	<div class="container">
		<div class="index-separator">
			<div class="row">
				<div class="col-12 col-sm-6 col-lg-4">
					<a href="#" class="cases-section-item">
						<div class="cases-section-item-title">
							Design Teams
						</div>
						<img src="./img/cases.png" alt="">
					</a>
				</div>
				<div class="col-12 col-sm-6 col-lg-4">
					<a href="#" class="cases-section-item">
						<div class="cases-section-item-title">
							Marketing and Communication
						</div>
						<img src="./img/cases.png" alt="">
					</a>
				</div>
				<div class="col-12 col-sm-6 col-lg-4">
					<a href="#" class="cases-section-item">
						<div class="cases-section-item-title">
							Educational
						</div>
						<img src="./img/cases.png" alt="">
					</a>
				</div>
				<div class="col-12 col-sm-6 col-lg-4">
					<a href="#" class="cases-section-item">
						<div class="cases-section-item-title">
							Construction & Architecture
						</div>
						<img src="./img/cases.png" alt="">
					</a>
				</div>
				<div class="col-12 col-sm-6 col-lg-4">
					<a href="#" class="cases-section-item">
						<div class="cases-section-item-title">
							Game Studios
						</div>
						<img src="./img/cases.png" alt="">
					</a>
				</div>
				<div class="col-12 col-sm-6 col-lg-4">
					<a href="#" class="cases-section-item">
						<div class="cases-section-item-title">
							Environmental Services Text for 2 strokes
						</div>
						<img src="./img/cases.png" alt="">
					</a>
				</div>
				<div class="col-12 col-sm-6 col-lg-4">
					<a href="#" class="cases-section-item">
						<div class="cases-section-item-title">
							Pricing
						</div>
						<img src="./img/cases.png" alt="">
					</a>
				</div>
				<div class="col-12 col-sm-6 col-lg-4">
					<a href="#" class="cases-section-item">
						<div class="cases-section-item-title">
							Game Studios
						</div>
						<img src="./img/cases.png" alt="">
					</a>
				</div>
				<div class="col-12 col-sm-6 col-lg-4">
					<a href="#" class="cases-section-item">
						<div class="cases-section-item-title">
							Environmental Services
						</div>
						<img src="./img/cases.png" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>