<div class="companies-slider-section index-separator">
	<div class="companies-slider-title">
		Trusted and successfully used by 600+ global companies who already manage their digital assets with Daminion. Because it pays
	</div>
	<div class="index-companies-list">
		<div class="index-companies-item">
			<img src="./img/client1.png" alt="">
		</div>
		<div class="index-companies-item">
			<img src="./img/client2.png" alt="">
		</div>
		<div class="index-companies-item">
			<img src="./img/client3.png" alt="">
		</div>
		<div class="index-companies-item">
			<img src="./img/client4.png" alt="">
		</div>
		<div class="index-companies-item">
			<img src="./img/client5.png" alt="">
		</div>
		<div class="index-companies-item">
			<img src="./img/client6.png" alt="">
		</div>
		<div class="index-companies-item">
			<img src="./img/client2.png" alt="">
		</div>
		<div class="index-companies-item">
			<img src="./img/client5.png" alt="">
		</div>
	</div>
</div>