<div class="demo-feature-section">
	<div class="index-offer-desc">
		What will we do during the demo?
	</div>
	<div class="demo-feature-list row">
		<div class="demo-feature-item col-12 col-sm-6 col-lg-4">
			<div class="demo-feature-item-img">
				<img src="./img/listen-to-you.png" alt="">
			</div>
			<div class="demo-feature-item-wr">
				<div class="demo-feature-item-wr-number">
					1
				</div>
				<div class="demo-feature-item-wr-right">
					<div class="demo-feature-item-wr-title">
						Listen to you
					</div>
					<div class="demo-feature-item-wr-text">
						In order to offer the most effective way to improve your business productivity, we need to understand the challenges your particular company is facing. We’ll help you identify the difficulties and see how Daminion will fix them for you.
					</div>
				</div>
			</div>
		</div>
		<div class="demo-feature-item col-12 col-sm-6 col-lg-4">
			<div class="demo-feature-item-img">
				<img src="./img/demonstrate.png" alt="">
			</div>
			<div class="demo-feature-item-wr">
				<div class="demo-feature-item-wr-number">
					2
				</div>
				<div class="demo-feature-item-wr-right">
					<div class="demo-feature-item-wr-title">
						Demonstrate
					</div>
					<div class="demo-feature-item-wr-text">
						Let us show you how Daminion can adapt and solve those challenges for you.
						Overall demo, plus we can get as technical as you wish (feature walkthrough, functionality, best ways to make your team succeed with their specific needs in mind, and more!)
					</div>
				</div>
			</div>
		</div>
		<div class="demo-feature-item col-12 col-sm-6 col-lg-4">
			<div class="demo-feature-item-img">
				<img src="./img/get-a-free-trial.png" alt="">
			</div>
			<div class="demo-feature-item-wr">
				<div class="demo-feature-item-wr-number">
					3
				</div>
				<div class="demo-feature-item-wr-right">
					<div class="demo-feature-item-wr-title">
						Get a Free Trial !
					</div>
					<div class="demo-feature-item-wr-text">
						After the demonstration, you may request a free trial. Go ahead, get your hands on it, experience Daminion in action. See how Daminion helps to improve your business’ bottom line by being the most effective digital asset management system your team will love.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>