<div class="section-faq">
	<div class="container">
		<div class="section-faq-title">
			FAQ
		</div>
		<div class="section-faq-list">
			<div class="section-faq-item">
				<div class="section-faq-item-title">
					Can I bulk edit metadata
				</div>
				<div class="section-faq-item-aswer">
					(актуально для тех кто мигрирует с файловой системы) assign and edit tags in batch (not one by one as in Windows Explorer). XMP, IPTC/NAA, … in a range of files
				</div>
			</div>
			<div class="section-faq-item">
				<div class="section-faq-item-title">
					What formats Daminion supports?
				</div>
				<div class="section-faq-item-aswer">
					(актуально для тех кто мигрирует с файловой системы) assign and edit tags in batch (not one by one as in Windows Explorer). XMP, IPTC/NAA, … in a range of files
				</div>
			</div>
			<div class="section-faq-item">
				<div class="section-faq-item-title">
					A Sample Scenario for Design Department Sample Usage
				</div>
				<div class="section-faq-item-aswer">
					Пример очень простого, но эффективного использования Daminion одним из наших клиентов: дизайнеру надо посмотреть какие настенные макеты календарей были сделаны компанией к 8 марта - надо было бы заходить в каждую папку (Краснояск, Омск, Томск и др), а так просто ищет по тэгам "8 марта, Календари>Настенные " в Daminion - чтобы понять, что уже делалось (чтобы не повторяться) или взять для нового заказа наработки с прошлого заказа
				</div>
			</div>
			<div class="section-faq-item">
				<div class="section-faq-item-title">
					Can I bulk edit metadata
				</div>
				<div class="section-faq-item-aswer">
					(актуально для тех кто мигрирует с файловой системы) assign and edit tags in batch (not one by one as in Windows Explorer). XMP, IPTC/NAA, … in a range of files
				</div>
			</div>
			<div class="section-faq-item">
				<div class="section-faq-item-title">
					What formats Daminion supports?
				</div>
				<div class="section-faq-item-aswer">
					(актуально для тех кто мигрирует с файловой системы) assign and edit tags in batch (not one by one as in Windows Explorer). XMP, IPTC/NAA, … in a range of files
				</div>
			</div>
			<div class="section-faq-item">
				<div class="section-faq-item-title">
					A Sample Scenario for Design Department Sample Usage
				</div>
				<div class="section-faq-item-aswer">
					Пример очень простого, но эффективного использования Daminion одним из наших клиентов: дизайнеру надо посмотреть какие настенные макеты календарей были сделаны компанией к 8 марта - надо было бы заходить в каждую папку (Краснояск, Омск, Томск и др), а так просто ищет по тэгам "8 марта, Календари>Настенные " в Daminion - чтобы понять, что уже делалось (чтобы не повторяться) или взять для нового заказа наработки с прошлого заказа
				</div>
			</div>
		</div>
	</div>
</div>