<header>
	<div class="container">
		<div class="header-wr">
			<a href="/" class="header-wr-logo">
				<img src="./img/daminion-logo.png" alt="">
			</a>
			<button onclick="o2.popups.showPopup('.mobileMenuPopup');" class="header-wr-burger">
				@@include('../../img/burger.svg')
			</button>
			<ul class="header-wr-list">
				<li class="header-wr-list-item header-wr-list-item-dropdown">
					<a href="#">Why Daminion?</a>
					<ul>
						<li><a href="#">Features</a></li>
						<li><a href="#">Integration</a></li>
						<li><a href="#">Customers</a></li>
					</ul>
				</li>
				<li class="header-wr-list-item header-wr-list-item-dropdown">
					<a href="#">Use Cases</a>
					<ul>
						<li><a href="#">Design Teams</a></li>
						<li><a href="#">Marketing and Communication</a></li>
						<li><a href="#">Game Studios</a></li>
						<li><a href="#">Environmental Services</a></li>
						<li><a href="#">Construction</a></li>
						<li><a href="#">Educational</a></li>
						<li><a href="#">Government</a></li>
					</ul>
				</li>
				<li class="header-wr-list-item">
					<a href="#">Pricing</a>
				</li>
				<li class="header-wr-list-item header-wr-list-item-demo">
					<a href="#">Get demo</a>
				</li>
			</ul>
		</div>
	</div>
</header>