<div class="index-features index-separator">
	<div class="index-offer-desc">
		Features
	</div>
	<div class="index-features-list row">
		<div class="index-features-item col-12 col-sm-6 col-lg-4">
			<div class="index-features-item-ico">
				<img src="./img/batch.png" alt="">
			</div>
			<div class="index-features-item-title">
				Batch-edit metadata
			</div>
			<div class="index-features-item-desc">
				Daminion automates most of the cataloging tasks and reduces the time you need to organize your image library. Edit tags in bulk. Assign tags automatically. Everything is possible for your convenience. Support for XMP, IPTC-NAA, EXIF …
			</div>
		</div>
		<div class="index-features-item col-12 col-sm-6 col-lg-4">
			<div class="index-features-item-ico">
				<img src="./img/hight-quality.png" alt="">
			</div>
			<div class="index-features-item-title">
				High-Quality Previews
			</div>
			<div class="index-features-item-desc">
				for documents and vector images. Daminion shows you some nice thumbnails, so you are not forced to open each file, InDesign brochure, or a document in the viewer just to see what’s in it.
			</div>
		</div>
		<div class="index-features-item col-12 col-sm-6 col-lg-4">
			<div class="index-features-item-ico">
				<img src="./img/one-click-sharing.png" alt="">
			</div>
			<div class="index-features-item-title">
				One-click Sharing
			</div>
			<div class="index-features-item-desc">
				Easily share file collections directly from Daminion. Say goodbye to clunky solutions like email or third-party services. And, no more duplicates! TIFF, PSD or video files up to 500 MB do not require any uploads - share them straight up with Daminion
			</div>
		</div>
		<div class="index-features-item col-12 col-sm-6 col-lg-4">
			<div class="index-features-item-ico">
				<img src="./img/resize-images.png" alt="">
			</div>
			<div class="index-features-item-title">
				Resize Images
			</div>
			<div class="index-features-item-desc">
				without installed Photoshop or Illustrator. If you already invested to making assets they need to be a finger access to avoid recreating them again from scratch just because your designers can’t find them.
			</div>
		</div>
		<div class="index-features-item col-12 col-sm-6 col-lg-4">
			<div class="index-features-item-ico">
				<img src="./img/integration-cms.png" alt="">
			</div>
			<div class="index-features-item-title">
				Integration with your CMS
			</div>
			<div class="index-features-item-desc">
				or SharePoint. Web API - you can integrate Daminion with Creative Suite, CMS, SharePoint
			</div>
		</div>
		<div class="index-features-item col-12 col-sm-6 col-lg-4">
			<div class="index-features-item-ico">
				<img src="./img/eliminate-duplicates.png" alt="">
			</div>
			<div class="index-features-item-title">
				Eliminate Duplicates
			</div>
			<div class="index-features-item-desc">
				Daminion allows a number of people on your team to work with the same document collaboratively. This improves efficiency - all without making image duplicates. Daminion also helps to find and eliminate the existing duplicates in your digital asset library
			</div>
		</div>
		<div class="index-features-item col-12 col-sm-6 col-lg-4">
			<div class="index-features-item-ico">
				<img src="./img/protect.png" alt="">
			</div>
			<div class="index-features-item-title">
				Protect
			</div>
			<div class="index-features-item-desc">
				your business from accidental, yet costly copyright violations. Daminion makes it super easy to manage your image licenses. You will no longer be under threat of some legal action as Daminion will warn you beforehand when an image license is about to expire!
			</div>
		</div>
		<div class="index-features-item col-12 col-sm-6 col-lg-4">
			<div class="index-features-item-ico">
				<img src="./img/support-formats.png" alt="">
			</div>
			<div class="index-features-item-title">
				Support 100+ formats
			</div>
			<div class="index-features-item-desc">
				Daminion supports not only the most popular formats such as PNG, PSD, JPG, Ai, PDF but also more than 100 formats
			</div>
		</div>
	</div>
</div>