<div class="index-slider">
	<div class="index-slider-wr">
		<div class="index-slider-wr-navigation">
			<div class="index-slider-wr-navigation-item" data-slide="1" onclick="o2.sliders.showSlide(this);">
				<div class="index-slider-wr-navigation-item-img">
					<img src="./img/organize.png" alt="">
				</div>
				<div class="index-slider-wr-navigation-item-text">
					Organize
				</div>
			</div>
			<div class="index-slider-wr-navigation-item" data-slide="2" onclick="o2.sliders.showSlide(this);">
				<div class="index-slider-wr-navigation-item-img">
					<img src="./img/unifly.png" alt="">
				</div>
				<div class="index-slider-wr-navigation-item-text">
					Unify
				</div>
			</div>
			<div class="index-slider-wr-navigation-item"  data-slide="3" onclick="o2.sliders.showSlide(this);">
				<div class="index-slider-wr-navigation-item-img">
					<img src="./img/secur.png" alt="">
				</div>
				<div class="index-slider-wr-navigation-item-text">
					Secure
				</div>
			</div>
		</div>
		<div class="index-slider-wr-content">
			<div class="index-slider-wr-content-item">
				<img src="./img/item.png" alt="">
			</div>
			<div class="index-slider-wr-content-item">
				<img src="./img/item.png" alt="">
			</div>
			<div class="index-slider-wr-content-item">
				<img src="./img/item.png" alt="">
			</div>
		</div>
	</div>
</div>