<div class="index-features index-separator">
	<div class="index-offer-desc">
		See how it works
	</div>
	<div class="index-features-list">
		<div class="index-features-item">
			<div class="index-features-item-item-wr">
				<div class="index-features-number">
					1
				</div>
				<div class="index-features-item-left">
					<div class="index-features-short-item-title">
						Organize
					</div>
					<div class="index-features-item-desc">
						Daminion can automatically tag your images. You can also create your own tags.
					</div>
				</div>
				<div class="index-features-short-item-ico">
					<img src="./img/organize.png" alt="">
				</div>
				<div class="index-features-item-desc">
					Search becomes AI-assisted, intelligent, and super-efficient with Daminion.
				</div>
			</div>
			<div class="index-features-item-pic">
				<img src="./img/video.gif" alt="">
			</div>
		</div>
		<div class="index-features-item">
			<div class="index-features-item-item-wr">
				<div class="index-features-number">
					2
				</div>
				<div class="index-features-item-left">
					<div class="index-features-short-item-title">
						Unify
					</div>
					<div class="index-features-item-desc">
						Don’t you wish your digital resources library to be logically organized with an easy yet secure access?
					</div>
				</div>
				<div class="index-features-short-item-ico">
					<img src="./img/unifly.png" alt="">
				</div>
				<div class="index-features-item-desc">
					Wish granted with Daminion! All your team members, local or remote, can now get all the files they need in an instant.
				</div>
			</div>
			<div class="index-features-item-pic">
				<img src="./img/video.gif" alt="">
			</div>
		</div>
		<div class="index-features-item">
			<div class="index-features-item-item-wr">
				<div class="index-features-number">
					3
				</div>
				<div class="index-features-item-left">
					<div class="index-features-short-item-title">
						Secure
					</div>
					<div class="index-features-item-desc">
						Daminion cares about the security of your assets. Set access permissions, and be as granular as you like. For example, with Daminion you can set User Roles so some users can access your media library in read-only mode and others in read-write mode.
					</div>
				</div>
				<div class="index-features-short-item-ico">
					<img src="./img/secur.png" alt="">
				</div>
				<div class="index-features-item-desc">
					Then, say you have a staffer or an intern to tag the images. What if they mess something up? No worries! With Daminion, you can create a user that is only permitted to assign/remove tags, but not change your tag structure or anything else. Neat!
				</div>
			</div>
			<div class="index-features-item-pic">
				<img src="./img/video.gif" alt="">
			</div>
		</div>
	</div>
</div>