<div class="index-about index-separator">
	<div class="index-offer-desc">Daminion increases the productivity of all departments in your company by 35%</div>
	<div class="index-offer-os">“We have a hard time finding our media files just when we need them! Help!”</div>
	<div class="index-about-text">
		<div>
			Re-using assets: if you can't find the right files (design, artwork, video,
			anything) then most likely your designers and your production team will be
			forced to re-create them all over again. This wastes a lot of time and resources.
			Productivity suffers. Your deadlines may not be met, and your business may
			lose money outright. Not a pretty picture - but many companies are too
			familiar with it...
		</div>
		<div>
			Daminion is also great for collaborations between the departments. In many
			businesses, a number of departments should have access to the media
			library. Designers, production people, sales, IT... Daminion makes all this
			work smoothly and seamlessly. People working in any department will find
			the files they need in 10 seconds on average, which will greatly increase
			productivity. You control who has access to what via Daminion Roles.
		</div>
	</div>
</div>
<div class="index-reviews index-separator">
	<div class="index-offer-desc">Daminion to the rescue. Get all your files just when you need them!</div>
	<div class="index-reviews-list">
		<div class="index-reviews-item">
			<div class="index-reviews-item-text">
				Daminion provides efficient ways to visually search and access an entire library of designs. Files are displayed in thumbnail view so a designer can immediately identify a pattern.
			</div>
			<div class="index-reviews-item-bottom">
				<div class="index-reviews-item-bottom-left">
					<img src="./img/review1.svg" alt="">
				</div>
				<div class="index-reviews-item-bottom-right">
					Arden Companies <br>
					Kirsten, Director Of Design
				</div>
			</div>
		</div>
		<div class="index-reviews-item">
			<div class="index-reviews-item-text">
				It's the only affordable, network based digital asset management product on the market today that I've been able to find.
				Daminion helps our organization save money. Which is more important for a taxpayer funded organization (than to earn money)
			</div>
			<div class="index-reviews-item-bottom">
				<div class="index-reviews-item-bottom-left">
					<img src="./img/review2.svg" alt="">
				</div>
				<div class="index-reviews-item-bottom-right">
					Otago Regional Council
				</div>
			</div>
		</div>
		<div class="index-reviews-item">
			<div class="index-reviews-item-text">
				Daminion had lot of the functionality we were looking for and it was less costly than a lot of other solutions.
			</div>
			<div class="index-reviews-item-bottom">
				<div class="index-reviews-item-bottom-left">
					<img src="./img/review3.svg" alt="">
				</div>
				<div class="index-reviews-item-bottom-right">
					Karen Tuomey <br>
					LOTT
				</div>
			</div>
		</div>
	</div>
	<div class="index-reviews-desc">
		Are you the owner of the company or will you need to tell your boss about our product? Follow the link to the <a href="#">Page for Boss</a>
	</div>
</div>