<div class="index-offer">
	<div class="index-offer-title">
		The easiest way to organize, <br>
		unify, and secure your entire media library
	</div>
	<div class="index-offer-desc">
		Daminion: the award-winning Digital Asset Management Software for your business team
	</div>
	<a href="#" class="index-offer-button">
		Book a demo
	</a>
	<div class="index-offer-os">
		Universal deployment: Cloud, Mac, Windows
	</div>
	<div class="index-offer-slidedown">
		<button onclick="o2.scroll.animate('.index-slider')" class="index-offer-slidedown-btn">
			@@include('../../img/arrow-down.svg')
		</button>
	</div>
	<!-- <div class="index-offer-annotation">
		Book a FREE online demo of Daminion and get $2,250 worth of Premium features free of charge! We will show you how Daminion can <br>
		transform the productivity of your team while paying for itself in a short time.
	</div> -->
</div>