<div class="index-integration index-separator">
	<div class="index-offer-desc">
		Integrations
	</div>
	<div class="index-integration-list">
		<div class="index-integration-item">
			<img src="./img/photoshop.svg" alt="">
		</div>
		<div class="index-integration-item">
			<img src="./img/illustrator.svg" alt="">
		</div>
		<div class="index-integration-item">
			<img src="./img/indesign.svg" alt="">
		</div>
		<div class="index-integration-item">
			<img src="./img/lightroom.svg" alt="">
		</div>
		<div class="index-integration-item">
			<img src="./img/illustrator.svg" alt="">
		</div>
		<div class="index-integration-item">
			<img src="./img/creative.svg" alt="">
		</div>
		<div class="index-integration-item">
			<img src="./img/dropbox.svg" alt="">
		</div>
	</div>
</div>