<div class="index-integration index-clients index-separator">
	<div class="index-offer-desc">
		600+ clients around the world
	</div>
	<div class="index-clients-list row">
		<div class="index-companies-item col-12 col-sm-6 col-lg-2">
			<img src="./img/client1.png" alt="">
		</div>
		<div class="index-companies-item col-12 col-sm-6 col-lg-2">
			<img src="./img/client2.png" alt="">
		</div>
		<div class="index-companies-item col-12 col-sm-6 col-lg-2">
			<img src="./img/client3.png" alt="">
		</div>
		<div class="index-companies-item col-12 col-sm-6 col-lg-2">
			<img src="./img/client4.png" alt="">
		</div>
		<div class="index-companies-item col-12 col-sm-6 col-lg-2">
			<img src="./img/client5.png" alt="">
		</div>
		<div class="index-companies-item col-12 col-sm-6 col-lg-2">
			<img src="./img/client6.png" alt="">
		</div>
	</div>
</div>