<div class="index-users index-integration index-separator">
	<div class="index-offer-desc">
		What users say
	</div>
	<div class="index-users-list row">
		<div class="index-users-item col-12 col-sm-6 col-lg-4">
			<a href="./img/feature-img.png" class="image-popup">
				<img src="./img/user1.png" alt="">
			</a>
		</div>
		<div class="index-users-item col-12 col-sm-6 col-lg-4">
			<a href="./img/user2.png" class="image-popup">
				<img src="./img/user2.png" alt="">
			</a>
		</div>
		<div class="index-users-item col-12 col-sm-6 col-lg-4">
			<a href="./img/user3.png" class="image-popup">
				<img src="./img/user3.png" alt="">
			</a>
		</div>
		<div class="index-users-item col-12 col-sm-6 col-lg-4">
			<a href="./img/user4.png" class="image-popup">
				<img src="./img/user4.png" alt="">
			</a>
		</div>
		<div class="index-users-item col-12 col-sm-6 col-lg-4">
			<a href="./img/user5.png" class="image-popup">
				<img src="./img/user5.png" alt="" >
			</a>
		</div>
		<div class="index-users-item col-12 col-sm-6 col-lg-4">
			<a href="./img/user6.png" class="image-popup">
				<img src="./img/user6.png" alt="">
			</a>
		</div>
		<div class="index-users-item col-12 col-sm-6 col-lg-4">
			<a href="./img/user7.png" class="image-popup">
				<img src="./img/user7.png" alt="">
			</a>
		</div>
		<div class="index-users-item col-12 col-sm-6 col-lg-4">
			<a href="./img/user8.png" class="image-popup">
				<img src="./img/user8.png" alt="">
			</a>
		</div>
		<div class="index-users-item col-12 col-sm-6 col-lg-4">
			<a href="./img/user9.png" class="image-popup">
				<img src="./img/user9.png" alt="">
			</a>
		</div>
		<div class="index-users-item col-12 col-sm-6 col-lg-4">
			<a href="./img/user10.png" class="image-popup">
				<img src="./img/user10.png" alt="">
			</a>
		</div>
		<div class="index-users-item col-12 col-sm-6 col-lg-4">
			<a href="./img/user11.png" class="image-popup">
				<img src="./img/user11.png" alt="">
			</a>
		</div>
		<div class="index-users-item col-12 col-sm-6 col-lg-4">
			<a href="./img/user12.png" class="image-popup">
				<img src="./img/user12.png" alt="">
			</a>
		</div>
		<div class="index-users-item col-12 col-sm-6 col-lg-4">
			<a href="./img/user13.png" class="image-popup">
				<img src="./img/user13.png" alt="">
			</a>
		</div>
		<div class="index-users-item col-12 col-sm-6 col-lg-4">
			<a href="./img/user14.png" class="image-popup">
				<img src="./img/user14.png" alt="">
			</a>
		</div>
		<div class="index-users-item col-12 col-sm-6 col-lg-4">
			<a href="./img/user15.png" class="image-popup">
				<img src="./img/user15.png" alt="">
			</a>
		</div>
	</div>
</div>