<div class="inner-hook-section inner-hook-section-img">
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-4 col-lg-4">
				<div class="inner-hook-title">
					Did you know?
				</div>
				<div class="inner-hook-img">
					<img src="./img/didyouknow.png" alt="">
				</div>
			</div>
			<div class="col-12 col-sm-8 col-lg-8">
				<div class="inner-hook-wr">
					<div class="inner-hook-wr-title">
						Your employees spend as much time just searching for files as being productive.
					</div>
					<div class="inner-hook-pretitle">
						Fix that with the most efficient digital asset management system
					</div>
					<div class="inner-hook-wr-desc">
						Daminion is easy-to-use and powerful software. Deploy it quickly in your own company and start being productive today. We will help you every step of the way with all the support you need. Can you say that of other providers?
					</div>
				</div>
			</div>
		</div>
	</div>
</div>