<div class="offices-section">
	<div class="container">
		<div class="index-integration index-clients index-separator">
			<div class="index-offer-desc">
				The company has offices in the USA, Canada, Germany, Russia and South Africa.
			</div>
			<div class="offices-list">
				<div class="offices-item">
					<div class="offices-item-img">
						<img src="./img/office1.png" alt="">
					</div>
					<div class="offices-item-address">
						<div>USA Address:</div>
						Pacific Business Centre
						Attn: Daminion Software
						P.O. Box 34069 #381
						Seattle, WA 98124-1069
					</div>
				</div>
				<div class="offices-item">
					<div class="offices-item-img">
						<img src="./img/office2.png" alt="">
					</div>
					<div class="offices-item-address">
						<div>Canadian Address:</div>
						Pacific Business Centre
						Attn: Daminion Software
						#101 - 1001 W. Broadway Suite 381
						Vancouver, BC V6H 4E4
						Canada
					</div>
				</div>
				<div class="offices-item">
					<div class="offices-item-img">
						<img src="./img/office3.png" alt="">
					</div>
					<div class="offices-item-address">
						<div>Germany Address:</div>
						50259
						Pulheim
						Donatusstraße 15A
						Germany
					</div>
				</div>
				<div class="offices-item">
					<div class="offices-item-img">
						<img src="./img/office1.png" alt="">
					</div>
					<div class="offices-item-address">
						<div>USA Address:</div>
						Pacific Business Centre
						Attn: Daminion Software
						P.O. Box 34069 #381
						Seattle, WA 98124-1069
					</div>
				</div>
				<div class="offices-item">
					<div class="offices-item-img">
						<img src="./img/office1.png" alt="">
					</div>
					<div class="offices-item-address">
						<div>USA Address:</div>
						Pacific Business Centre
						Attn: Daminion Software
						P.O. Box 34069 #381
						Seattle, WA 98124-1069
					</div>
				</div>
			</div>
		</div>
	</div>
</div>