<div onclick="o2.popups.closePopup();" class="overlay _overlay">
	<div onclick="event.stopPropagation();" class="popup mobileMenuPopup _standartPopup">
		<div onclick="o2.popups.closePopup();" class="popup-close _popupClose">
		</div>
		<div class="mobileMenuPopup_header">

		</div>
		<ul class="mobileMenuPopup_list">
			<li>
				<a href="#">Pricing</a>
			</li>
			<li>
				<a href="#">Features</a>
			</li>
			<li>
				<a href="#">Resources</a>
			</li>
			<li>
				<a href="#">About</a>
			</li>
			<li class="actions">
				<a href="#">Integrations</a>
			</li>
			<li>
				<a href="#">Use Cases</a>
			</li>
			</li>
		</ul>
	</div>
	</div>