<div class="price-request price-request-full index-separator">
	<div class="price-request-full-title">Request a demo and see for yourself!</div>
	<div class="price-request-form">
		<input type="text" class="input" placeholder="Name">
		<input type="text" class="input" placeholder="Phone numder">
		<input type="text" class="input" placeholder="Email">
		<button type="submit">book a demo</button>
	</div>
	<div class="price-request-full-desc">Special offer: get $2,250 worth of Daminion features for FREE just for undertaking a Daminion demo!</div>
	<div class="index-about-text">
		<div>
			All you need to do is click the free, no-obligation Demo request below. The offer ends soon, don’t miss out on $2,250 - request a demo now!
		</div>
		<div>
			For the next two days, get a full year of our Premium Support and Training, normally $2,250, completely FREE of charge when you watch our free demo
		</div>
	</div>
</div>