<div class="roi-calc index-separator">
	<div class="index-offer-desc">
		Calculate your ROI
	</div>
	<div class="roi-calc-table">
		<div class="roi-calc-table-title">
			Calculate savings
		</div>
		<div class="roi-calc-table-item">
			<div class="roi-calc-table-item-wr-text">
				<div class="roi-calc-table-item-wr-title">
					Asset re-creation/duplication
				</div>
				<div class="roi-calc-table-item-wr">
					<div class="roi-calc-table-item-wr-desc">
						Digital assets are often duplicated or re-created due to the inability of users to find what they are looking for.
						Statistics show that utilizing a centralized repository where assets can be searched by metdata, can improve staff productivity by 30%.
					</div>
				</div>
			</div>
			<div class="roi-calc-table-item-wr-input">
				<div class="roi-calc-table-item-wr-input-text">
					Total Number of Digital Assets
				</div>
				<input type="text" class="input">
			</div>
			<div class="roi-calc-table-item-wr-input">
				<div class="roi-calc-table-item-wr-input-text">
					% of Assets Typically Duplicated or Re-created
				</div>
				<input type="text" class="input">
			</div>
			<div class="roi-calc-table-item-wr-input">
				<div class="roi-calc-table-item-wr-input-text">
					Average Cost Per Asset for Duplication / Re-creation
				</div>
				<input type="text" class="input">
			</div>
			<div class="roi-calc-table-item-wr-price">
				$50,000.00
				<span>Annual Savings</span>
			</div>
		</div>
	</div>
</div>
