<div class="detail">
	<div class="container">
		<div class="detail-list">
			<div class="detail-item">
				<div class="detail-item__img">
					<img src="/src/assets/img/product.png" alt="">
				</div>
				<div class="detail-item__right">
					<div class="detail-item__top">
						<div class="detail-item__wr">
							<div class="detail-item__title">
								Hydro Nourishing
							</div>
							<div class="detail-item__desc">
								Moisture shampoo
							</div>
						</div>
						<div class="detail-weight__list">
							<div class="detail-weight__item">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40.08 52.1">
									<defs>
										<style>.cls-1{fill:#909294;opacity:0.57;}</style>
									</defs>
									<g id="Слой_2" data-name="Слой 2">
										<g id="_1200" data-name="1200">
											<polygon class="cls-1" points="14.54 39.16 14.54 12.94 40.08 12.94 40.08 12.86 26.84 0 0 25.72 26.66 52.1 40.08 39.24 40.08 39.16 14.54 39.16"/>
										</g>
									</g>
								</svg>
								<span>800 ml.</span>
							</div>
							<div class="detail-weight__item">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40.08 52.1">
									<defs>
										<style>.cls-1{fill:#909294;opacity:0.57;}</style>
									</defs>
									<g id="Слой_2" data-name="Слой 2">
										<g id="_1200" data-name="1200">
											<polygon class="cls-1" points="14.54 39.16 14.54 12.94 40.08 12.94 40.08 12.86 26.84 0 0 25.72 26.66 52.1 40.08 39.24 40.08 39.16 14.54 39.16"/>
										</g>
									</g>
								</svg>
								<span>250 ml.</span>
							</div>
						</div>
					</div>
					<div class="detail-item-text">
						The shampoo provides balanced nutrition, restores moisture levels and strengthens normal and dry hair. It gently cleanses and moisturizes hair without weighing it down while increasing root volume. After using the shampoo, the hair becomes less brittle and dry, looking healthy and shiny. The shampoo contains extracts of algae, tea tree, and shea butter.
						<br>
						<br>
						<b>Ingredients:</b>
						<br>
						Zinc is a biologically active mineral that normalizes the activity of the sebaceous glands, eliminates itching and flaking.
						<br>
						Tea tree oil is a natural antiseptic that eliminates all pathogens. This component stimulates blood circulation in the scalp, eliminates dandruff, relieves irritation, activates hair growth, and moisturizes the scalp.
						<br>
						Dunaliella salina algae are unique plants that contain a high concentration of beta-carotene and plenty of vitamins.
						<br>
						Shea butter contains vitamins and minerals that can have a beneficial effect on hair: eliminating dryness, protecting it from the sun, smoothing and restoring hair structure, and making it shiny. The fatty acids contained in the oil make the locks shine and silky. Shea butter also helps to make hair softer.
						<br>
						<br>
						<b>How to use:</b>
						<br>
						Apply a small amount of shampoo to damp hair, massage it through the hair, from roots to ends. Rinse it off. Repeat as necessary.
						<br>
						<br>
						<b>Suitable for all hair types.</b>
					</div>
				</div>
			</div>
			<div class="detail-item">
				<div class="detail-item__img">
					<img src="/src/assets/img/product.png" alt="">
				</div>
				<div class="detail-item__right">
					<div class="detail-item__top">
						<div class="detail-item__wr">
							<div class="detail-item__title">
								Hydro Intensive
							</div>
							<div class="detail-item__desc">
								Repair shampoo
							</div>
						</div>
						<div class="detail-weight__list">
							<div class="detail-weight__item">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40.08 52.1">
									<defs>
										<style>.cls-1{fill:#909294;opacity:0.57;}</style>
									</defs>
									<g id="Слой_2" data-name="Слой 2">
										<g id="_1200" data-name="1200">
											<polygon class="cls-1" points="14.54 39.16 14.54 12.94 40.08 12.94 40.08 12.86 26.84 0 0 25.72 26.66 52.1 40.08 39.24 40.08 39.16 14.54 39.16"/>
										</g>
									</g>
								</svg>
								<span>800 ml.</span>
							</div>
							<div class="detail-weight__item">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40.08 52.1">
									<defs>
										<style>.cls-1{fill:#909294;opacity:0.57;}</style>
									</defs>
									<g id="Слой_2" data-name="Слой 2">
										<g id="_1200" data-name="1200">
											<polygon class="cls-1" points="14.54 39.16 14.54 12.94 40.08 12.94 40.08 12.86 26.84 0 0 25.72 26.66 52.1 40.08 39.24 40.08 39.16 14.54 39.16"/>
										</g>
									</g>
								</svg>
								<span>250 ml.</span>
							</div>
						</div>
					</div>
					<div class="detail-item-text">
						The shampoo provides balanced nutrition, restores moisture levels and strengthens normal and dry hair. It gently cleanses and moisturizes hair without weighing it down while increasing root volume. After using the shampoo, the hair becomes less brittle and dry, looking healthy and shiny. The shampoo contains extracts of algae, tea tree, and shea butter.
						<br>
						<br>
						<b>Ingredients:</b>
						<br>
						Zinc is a biologically active mineral that normalizes the activity of the sebaceous glands, eliminates itching and flaking.
						<br>
						Tea tree oil is a natural antiseptic that eliminates all pathogens. This component stimulates blood circulation in the scalp, eliminates dandruff, relieves irritation, activates hair growth, and moisturizes the scalp.
						<br>
						Dunaliella salina algae are unique plants that contain a high concentration of beta-carotene and plenty of vitamins.
						<br>
						Shea butter contains vitamins and minerals that can have a beneficial effect on hair: eliminating dryness, protecting it from the sun, smoothing and restoring hair structure, and making it shiny. The fatty acids contained in the oil make the locks shine and silky. Shea butter also helps to make hair softer.
						<br>
						<br>
						<b>How to use:</b>
						<br>
						Apply a small amount of shampoo to damp hair, massage it through the hair, from roots to ends. Rinse it off. Repeat as necessary.
						<br>
						<br>
						<b>Suitable for all hair types.</b>
					</div>
				</div>
			</div>
			<div class="detail-item">
				<div class="detail-item__img">
					<img src="/src/assets/img/product2.png" alt="">
				</div>
				<div class="detail-item__right">
					<div class="detail-item__top">
						<div class="detail-item__wr">
							<div class="detail-item__title">
								Hydro Root
							</div>
							<div class="detail-item__desc">
								Strengthening shampoo
							</div>
						</div>
						<div class="detail-weight__list">
							<div class="detail-weight__item">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40.08 52.1">
									<defs>
										<style>.cls-1{fill:#909294;opacity:0.57;}</style>
									</defs>
									<g id="Слой_2" data-name="Слой 2">
										<g id="_1200" data-name="1200">
											<polygon class="cls-1" points="14.54 39.16 14.54 12.94 40.08 12.94 40.08 12.86 26.84 0 0 25.72 26.66 52.1 40.08 39.24 40.08 39.16 14.54 39.16"/>
										</g>
									</g>
								</svg>
								<span>800 ml.</span>
							</div>
							<div class="detail-weight__item">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40.08 52.1">
									<defs>
										<style>.cls-1{fill:#909294;opacity:0.57;}</style>
									</defs>
									<g id="Слой_2" data-name="Слой 2">
										<g id="_1200" data-name="1200">
											<polygon class="cls-1" points="14.54 39.16 14.54 12.94 40.08 12.94 40.08 12.86 26.84 0 0 25.72 26.66 52.1 40.08 39.24 40.08 39.16 14.54 39.16"/>
										</g>
									</g>
								</svg>
								<span>250 ml.</span>
							</div>
						</div>
					</div>
					<div class="detail-item-text">
						The shampoo provides balanced nutrition, restores moisture levels and strengthens normal and dry hair. It gently cleanses and moisturizes hair without weighing it down while increasing root volume. After using the shampoo, the hair becomes less brittle and dry, looking healthy and shiny. The shampoo contains extracts of algae, tea tree, and shea butter.
						<br>
						<br>
						<b>Ingredients:</b>
						<br>
						Zinc is a biologically active mineral that normalizes the activity of the sebaceous glands, eliminates itching and flaking.
						<br>
						Tea tree oil is a natural antiseptic that eliminates all pathogens. This component stimulates blood circulation in the scalp, eliminates dandruff, relieves irritation, activates hair growth, and moisturizes the scalp.
						<br>
						Dunaliella salina algae are unique plants that contain a high concentration of beta-carotene and plenty of vitamins.
						<br>
						Shea butter contains vitamins and minerals that can have a beneficial effect on hair: eliminating dryness, protecting it from the sun, smoothing and restoring hair structure, and making it shiny. The fatty acids contained in the oil make the locks shine and silky. Shea butter also helps to make hair softer.
						<br>
						<br>
						<b>How to use:</b>
						<br>
						Apply a small amount of shampoo to damp hair, massage it through the hair, from roots to ends. Rinse it off. Repeat as necessary.
						<br>
						<br>
						<b>Suitable for all hair types.</b>
					</div>
				</div>
			</div>
			<div class="detail-item">
				<div class="detail-item__img">
					<img src="/src/assets/img/product3.png" alt="">
				</div>
				<div class="detail-item__right">
					<div class="detail-item__top">
						<div class="detail-item__wr">
							<div class="detail-item__title">
								Hydro mood
							</div>
							<div class="detail-item__desc">
								hair shampoo
							</div>
						</div>
						<div class="detail-weight__list">
							<div class="detail-weight__item">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40.08 52.1">
									<defs>
										<style>.cls-1{fill:#909294;opacity:0.57;}</style>
									</defs>
									<g id="Слой_2" data-name="Слой 2">
										<g id="_1200" data-name="1200">
											<polygon class="cls-1" points="14.54 39.16 14.54 12.94 40.08 12.94 40.08 12.86 26.84 0 0 25.72 26.66 52.1 40.08 39.24 40.08 39.16 14.54 39.16"/>
										</g>
									</g>
								</svg>
								<span>500 ml.</span>
							</div>
						</div>
					</div>
					<div class="detail-item-text">
						The shampoo provides balanced nutrition, restores moisture levels and strengthens normal and dry hair. It gently cleanses and moisturizes hair without weighing it down while increasing root volume. After using the shampoo, the hair becomes less brittle and dry, looking healthy and shiny. The shampoo contains extracts of algae, tea tree, and shea butter.
						<br>
						<br>
						<b>Ingredients:</b>
						<br>
						Zinc is a biologically active mineral that normalizes the activity of the sebaceous glands, eliminates itching and flaking.
						<br>
						Tea tree oil is a natural antiseptic that eliminates all pathogens. This component stimulates blood circulation in the scalp, eliminates dandruff, relieves irritation, activates hair growth, and moisturizes the scalp.
						<br>
						Dunaliella salina algae are unique plants that contain a high concentration of beta-carotene and plenty of vitamins.
						<br>
						Shea butter contains vitamins and minerals that can have a beneficial effect on hair: eliminating dryness, protecting it from the sun, smoothing and restoring hair structure, and making it shiny. The fatty acids contained in the oil make the locks shine and silky. Shea butter also helps to make hair softer.
						<br>
						<br>
						<b>How to use:</b>
						<br>
						Apply a small amount of shampoo to damp hair, massage it through the hair, from roots to ends. Rinse it off. Repeat as necessary.
						<br>
						<br>
						<b>Suitable for all hair types.</b>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>