<section class="choose">
	<div class="section-wr">
		<div class="container">
			<h2 class="secondary-title">
				Почему выбирают нас?
			</h2>
			<div class="choose-list">
				<div class="choose-item">
					<div class="choose-img">
						{% include "/assets/svg/advantage1.svg" %}
					</div>
					<div class="choose-title">
						Выгодные цены
					</div>
					<div class="choose-desc">
						У нас всегда действует система скидок
						совместно с низкими ценами
					</div>
				</div>
				<div class="choose-item">
					<div class="choose-img">
						{% include "/assets/svg/advantage2.svg" %}
					</div>
					<div class="choose-title">
						Удобная доставка
					</div>
					<div class="choose-desc">
						Доставим любое устроиство
						прямо до двери
					</div>
				</div>
				<div class="choose-item">
					<div class="choose-img">
						{% include "/assets/svg/advantage3.svg" %}
					</div>
					<div class="choose-title">
						Выгодные цены
					</div>
					<div class="choose-desc">
						При покупке любого продукта
						ваша техника может быть принята
						в зачет стоимость нового устройства
					</div>
				</div>
			</div>
		</div>
	</div>
</section>