<section class="pagecontent">
	<div class="container">
		<div class="pagecontent-wr">
			<div class="pagecontent-left">
				<h2>
					Подробнее о доставке
				</h2>
				<p>
					Стоимость доставки - По городу - 300 руб.
					За пределами города уточняйте по номеру <a href="#">+7 (910) 348-00-01</a>
					Тут должен быть большой текст, как то более подробнее расписать внутрянку.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex est necessitatibus quae fugit dolore beatae magnam ratione, laboriosam incidunt. Nulla esse consectetur dolore, quia tempora doloribus recusandae adipisci sit nemo?
				</p>
				<p>
					Время доставки с 9:00 до 21:00
				</p>
			</div>
			<div class="pagecontent-right">
				<div class="tradein-mini">
					{% include "/blocks/trade/trade.twig" %}
				</div>
			</div>
		</div>
	</div>
</section>