.pagecontent-wr
{
	display: flex;
	justify-content: space-between;
	padding: 60px 0;
}
.pagecontent-left
{
	padding: 30px 40px;
	background: #FFF;
	width: 70%;
	border-radius: 10px;
	h2
	{
		font-size: 28px;
		line-height: 32px;
		color: #303030;
		font-weight: 500;
		margin-bottom: 20px;
	}
	a
	{
		display: inline-block;
		color: $brand-color;
		border-bottom: 1px solid $brand-color;
		transition: .3s all;
		&:hover
		{
			border-color: transparent;
			transition: .3s all;
		}
	}
	p
	{
		font-size: 16px;
		line-height: 20px;
		color: #303030;
	}
}
.pagecontent-right
{
	width: 28%;
}
.tradein-mini
{
	.trade
	{
		border-radius: 10px;
		&:before
		{
			background-size: 50%;
		}
		.trade-wr
		{
			width: 100%;
		}
		.trade-title
		{
			font-size: 24px;
			line-height: 28px;
			text-align: center;
		}
		.trade-desc
		{
			font-size: 18px;
			line-height: 20px;
			text-align: center;
		}
		.slider-button
		{
			margin: 0 auto;
		}
	}
}


@media (max-width: 991px)
{
	.pagecontent-wr
	{
		flex-direction: column;
	}
	.pagecontent-left
	{
		width: 100%;
		padding: 20px;
	}
	.pagecontent-right
	{
		width: 100%;
	}
}