<section>
	<div class="trade">
		<div class="container">
			<div class="trade-wr">
				<div class="trade-title">
					{% include "/assets/svg/apple.svg" %} Трейд-ин и кредит
				</div>
				<div class="trade-desc">
					Узнайте подробнее о наших условиях
					и возможностях оформления в кредит
				</div>
				<a href="javascript:void(0);" class="g-button slider-button" onclick="o2.gPopup.open('_callback')">
					Подробнее
					{% include "/assets/svg/arrow-right.svg" %}
				</a>
			</div>
		</div>
	</div>
</section>