<div class="cart">
	<div class="container">
		<div class="cart-wr">
			<h2 class="primary-title">Оформление заказа</h2>
			<div class="cart-list">
				<div class="cart-item">
					<div class="cart-img">
						<img src="/src/assets/img/mac.png" alt="">
					</div>
					<a href="#" class="cart-title">
						MacBook Pro 15" 2018 MR962 256Gb
					</a>
					<div class="cart-count">
						<input type="number" min="1" value="1" class="__cart-number">
					</div>
					<div class="cart-price">
						от 154 990 ₽
					</div>
					<button class="cart-close">
						{% include '/assets/svg/close.svg' %}
					</button>
				</div>
				<div class="cart-item">
					<div class="cart-img">
						<img src="/src/assets/img/iphone11.png" alt="">
					</div>
					<a href="#" class="cart-title">
						Iphone 8 Plus
					</a>
					<div class="cart-count">
						<input type="number" min="1" value="1" class="__cart-number">
					</div>
					<div class="cart-price">
						от 64 000 ₽
					</div>
					<button class="cart-close">
						{% include '/assets/svg/close.svg' %}
					</button>
				</div>
			</div>
			<div class="cart-checkout">
				<div class="cart-total-list">
					<div class="cart-total-item">
						<span>Товары</span> 129,900 руб.
					</div>
					<div class="cart-total-item">
						<span>Доставка</span> 300 руб.
					</div>
					<div class="cart-total-item">
						<span>Итого с доставкой</span> 130,200 руб.
					</div>
				</div>
				<div class="cart-total-buttons">
					<button class="g-button">Консультация</button>
					<button class="g-button">Оформить заказ</button>
				</div>
			</div>
		</div>
	</div>
</div>