/*  Переменные со шрифтами  */
$accent-font: 'Proxima Nova Rg', sans-serif;
// $accent-font: 'Museo Cyrl 300', sans-serif;
$bold: 'Proxima Nova Bold', sans-serif;
// $bold: 'Museo Cyrl 700', sans-serif;
// $medium: 'Museo Cyrl 500', sans-serif;
$medium: 'Proxima Nova Bold', sans-serif;
// $light: 'Museo Cyrl 100', sans-serif;
$light: 'Proxima Nova Rg', sans-serif;

/*  Переменные с гарнитурами шрифтов  */
$pt-bold: 700;


/*  основные цвета  */
$accent-color: #000000;
$black: #414141;
$red: #ab3838;
$secondary-color: #6a7678;
