// .container
// {
// 	max-width: $widescreen;
// 	width: 100%;
// 	margin-right: auto;
// 	margin-left: auto;
// 	position: relative;
// 	padding:0 20px;
// }
// 
body
{
	margin: 0;
	height: 100%;
	font-family: 'Montserrat-Regular';
}
.container
{
	max-width: 1150px;
	margin: 0 auto;
	padding: 0 15px;
}
ul
{
	padding: 0;
	margin: 0;
	list-style-type: none;
}
h2,p
{
	margin: 0;
}
// .g-select
// {
// 	position: relative;
//     display: inline-flex;
//     align-items: center;
// }
// .g-select__name
// {
// 	font-weight: normal;
// 	font-size: 18px;
// 	line-height: 24px;
// 	margin-right: 16px;
// 	color: #303030;
// }
// .g-select__selected
// {
// 	display: flex;
// 	position: relative;
// 	background-color: #fff;
// 	z-index: 3;
// 	justify-content: space-between;
// 	align-items: center;
// 	padding: 0 19px;
// 	height: 46px;
// 	width: 259px;
// 	cursor: pointer;
// 	border: 1px solid #E3E3E3;
// 	border-radius: 4px;
// 	outline-offset: 0px;
// 	transition: .5s;
// }
// .g-select__selected--tree .g-select__selected{width: 201px;}
// .g-select__selected--color .g-select__selected
// {
// 	width: 250px;
// }
// .g-select__selected--color .g-select__selected .g-select__selected-first
// {
// 	display: flex;
// 	align-items: center;
// }
// .g-select__selected-name
// {
// 	font-weight: normal;
// 	font-size: 18px;
// 	line-height: 24px;
// 	color: #303030;
// }
// .g-select__list
// {
// 	position: absolute;
// 	width: 78.3%;
// 	max-height: 159px;
// 	overflow-y: auto;
// 	background-color: #fff;
// 	top: calc(100% - 3px);
// 	right: 0;
// 	border: 1px solid #E3E3E3;
// 	border-radius: 5px;
// 	transition: 0.125s ease;
// 	transform: translateY(-26px);
// 	visibility: hidden;
// 	opacity: 0;
// 	z-index: 4;
// }
// .g-select__selected--tree .g-select__list{width: 99%;}
// .g-select__selected--color .g-select__list{width: 99%;}
// .g-select--opened .g-select__list
// {
// 	visibility: visible;
// 	opacity: 1;
// 	transform: translateY(0px);
// }
// .g-select__items
// {
// 	padding: 10px 0 10px 19px;
// }
// .g-select__item
// {
// 	cursor: pointer;
// 	display: flex;
// 	align-items: center;
// }
// .g-select__item:hover{font-weight: bold}
// .g-select__item--active{font-weight: bold}
// .g-select__item:not(:last-child){margin-bottom: 10px;}
// .g-select__item-color-block
// {
// 	width: 24px;
// 	height: 24px;
// 	border-radius: 50px;
// 	margin-right: 12px;
// }
// .g-select__item-color-block.g-select__item-color-block--matt{background: #CCCCCC;}
// .g-select__item-color-block.g-select__item-color-block--red{background: red;}
// 

// .g-range-slider
// {
// 	min-height: 1px;
// 	width: 100%;
// }
// .g-range-slider__name
// {
// 	/*font-family: 'Poppins-Regular';*/
// 	margin-bottom: 12px;
// 	font-size: 13px;
// 	line-height: 16px;
// }
// .g-range-slider .noUi-target
// {
// 	box-shadow: none;
// 	border-radius: 2px;
// 	border: solid 1px #0C6128;
// 	height: 4px;
// 	background: rgba(12, 97, 40, 0.3);
// 	/*padding-right: 16px;
// 	padding-left: 6px;*/
// 	/*background-color: #0C6128;*/
// 	/*padding-right: 20px;*/
// }
// .noUi-connects
// {
// 	background: rgba(12, 97, 40, 0.3);
// }
// .noUi-connects .noUi-connect
// {
// 	background: #0C6128;
// }
// /*.noUi-base
// {
// 	padding-right: 16px;
// 	padding-left: 6px;
// }*/
// .noUi-base, .noUi-connects
// {
// 	width: 100%;
// 	height: 100%;
// 	position: relative;
// 	z-index: 1;
// }
// .g-range-slider__labels
// {
// 	/*font-family: 'Poppins-Regular';*/
// 	display: flex;
// 	justify-content: space-between;
// 	padding-bottom: 16px;
// 	font-size: 11px;
// 	color: #303030;
// 	line-height: 16px;
// 	width: 100%;
// }
// .g-range-slider .noUi-horizontal .noUi-handle
// {
// 	width: 24px;
// 	height: 24px;
// 	box-shadow: 1px 1px 5px rgba(48, 48, 48, 0.1);
// 	/*border: solid 4px #ffffff;*/
// 	background-color: #0C6128;
// 	border-radius: 100%;
// 	top: -12px;
// 	border: 0
// }
// .noUi-handle:after, .noUi-handle:before{display: none !important;}
// .forest__flex-content-item-body .noUi-horizontal .noUi-tooltip
// {
// 	font-family: 'Montserrat-Bold';
// 	font-weight: bold;
// 	line-height: 16px;
// 	letter-spacing: -0.03em;
// 	color: #303030;
// 	font-size: 11px;
// 	line-height: 16px;
// 	background: transparent;
// 	border:0;
// 	bottom: 99%;
// 	transition: .2s;
// }
// .forest__flex-content-item-body .noUi-horizontal .noUi-tooltip.min
// {
// 	padding-left: 23px;
// 	transition: .2s;
// }
// .forest__flex-content-item-body .noUi-horizontal .noUi-tooltip.max
// {
// 	padding-right: 48px;
// 	transition: .2s;
// }
.g-radio
{
	position: relative;
	font-size: 0;
	display: block;
	position: relative;
	font-size: 0;
	display: block;
	background: transparent;
	padding: 6px 12px;
	border: 1px solid transparent;
}
.g-radio:not(:last-child)
{
	margin-bottom: 15px;
}
.g-radio.active
{
	background: white;
	border: 1px solid #E3E3E3;
}
.g-radio__input
{
	position: absolute;
	width: 0;
	height: 0;
	top: 0;
	left: 0;
	z-index: -10;
	visibility: hidden;
	opacity: 0;
}
.g-radio__input:enabled ~ .g-radio__body
{
	display: flex;
	align-items: center;
	cursor: pointer;
}
.g-radio__box
{
	width: 20px;
	height: 20px;
	border: 1px solid grey;
	display: inline-block;
	border-radius: 100%;
}
.g-radio__text
{
	margin-left: 11px;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #303030;
}
.g-radio__input:enabled:checked ~ .g-radio__body .g-radio__box
{
	border-color: #3E3E3E;
	/*border-width: 2px;*/
}
.g-radio__input:enabled:checked ~ .g-radio__body .g-radio__box:before
{
	content: '';
	display: block;
	border-radius: 10px;
	width: 14px;
	height: 14px;
	background: #3E3E3E;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
@media (max-width: 767px)
{
	.g-select__selected
	{
		width: 179px;
	}
	.g-select
	{
		flex-direction: column;
		text-align: left;
	}
}
