<footer>
	<div class="footer__top">
		<div class="footer__top-wr container">
			<div class="footer__top-name">2019© sluhi.net - проститутки Челябинска</div>
			<span>Вся информация на inkognito74.net размещённая в анкетах проституток Челябинска заполнялась лично девушками, готовых
			предоставить интим услуги по собственной воли и предназначена для пользователей желающих провести интим досуг. Используя
			фильтры все индивидуалки Челябинска могут выть вами отсортированы по требуемым критериям.
			</span>
		</div>
	</div>
	<div class="footer__bottom">
		<div class="footer__bottom-wr container">
			<img src="img/18.png" alt="">
			Внимание! Если вы не достигли совершеннолетнего возраста немедленно покиньте сайт!
		</div>
	</div>
</footer>