<header class="header">
	<div class="container header__wrapper">
		<a href="" class="header__logo">
			inkognito74.ru
		</a>
		<ul class="header__nav">
			<li>
				<a class="header__active" href="#">
					Индивидуалки
				</a>
			</li>
			<li>
				<a href="#">
					Салоны
				</a>
			</li>
			<li>
				<a href="#">
					С реальными фото
				</a>
			</li>
			</li>
			<li>
				<a href="#">
					Новые анкеты
				</a>
			</li>
			<li>
				<a href="#">
					Элитные
				</a>
			</li>
		</ul>
		<div class="header__links">
			<a href="#">
				<img src="img/header-1.png" alt="">
				<span>интим карта</span>
			</a>
			<a href="#">
				<img src="img/header-2.png" alt="">
				<span>расширенный поиск</span>
			</a>
		</div>
		<a href="#" class="header__profile">
			<img src="img/user.png" alt="">
			<span>добавить анкету</span>
		</a>
		<div class="header__burger">
			<div class="header__mob-men" onclick="o2.menu.toggleClassMenu()";>
				<div class="header__op"></div>
				<div class="header__op"></div>
				<div class="header__op"></div>
			</div>
			<div class="header__mobile">
				<ul class="header__nav-mob">
					<li>
						<a  href="#">
							Индивидуалки
						</a>
					</li>
					<li>
						<a href="#">
							Салоны
						</a>
					</li>
					<li>
						<a href="#">
							С реальными фото
						</a>
					</li>
					</li>
					<li>
						<a href="#">
							Новые анкеты
						</a>
					</li>
					<li>
						<a href="#">
							Элитные
						</a>
					</li>
				</ul>

				<div class="header__links-mob">
					<a href="#">
						<img src="img/header-1.png" alt="">
						<span>интим карта</span>
					</a>
					<a href="#">
						<img src="img/header-2.png" alt="">
						<span>расширенный поиск</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</header>