<div class="main-banner">
	<div class="container main-banner__slick">
		<div class="main-banner__card" style="background-image: url(img/jula.png);">
			<div class="main-banner__card-name">Юлия</div>
		</div>
		<div class="main-banner__card" style="background-image: url(img/jula.png);">
			<div class="main-banner__card-name">Юлия</div>
		</div>
		<div class="main-banner__card" style="background-image: url(img/jula.png);">
			<div class="main-banner__card-name">Юлия</div>
		</div>
		<div class="main-banner__card" style="background-image: url(img/jula.png);">
			<div class="main-banner__card-name">Юлия</div>
		</div>
		<div class="main-banner__card" style="background-image: url(img/jula.png);">
			<div class="main-banner__card-name">Юлия</div>
		</div>
		<div class="main-banner__card" style="background-image: url(img/jula.png);">
			<div class="main-banner__card-name">Юлия</div>
		</div>
	</div>
	<a href="#" class="main-banner__more">
		<img src="img/arrows-red.png" alt="">
		<span>смотреть все</span>
	</a>
</div>