<div class="main-banner">
	<div class="container main-banner__slick">
		<div class="main-banner__card image-magnific" style="background-image: url(img/jula.png);">
			<div class="main-banner__card-name">Юлия</div>
		</div>
		<div class="main-banner__card image-magnific" style="background-image: url(img/jula.png);">
			<div class="main-banner__card-name">Юлия</div>
		</div>
		<div class="main-banner__card image-magnific" style="background-image: url(img/jula.png);">
			<div class="main-banner__card-name">Юлия</div>
		</div>
		<div class="main-banner__card image-magnific" style="background-image: url(img/jula.png);">
			<div class="main-banner__card-name">Юлия</div>
		</div>
		<div class="main-banner__card image-magnific" style="background-image: url(img/jula.png);">
			<div class="main-banner__card-name">Юлия</div>
		</div>
		<div class="main-banner__card image-magnific" style="background-image: url(img/jula.png);">
			<div class="main-banner__card-name">Юлия</div>
		</div>
	</div>
</div>