<div class="search-wr">
	<div class="container">
		<div class="search-param">
			<div class="search-param-title">
				@@include('../../img/map.svg')
				Район
			</div>
			<div class="search-param-options">
				<div class="search-param-options-item">
					<label class="checkbox-label">
						<input type="checkbox" class="checkbox">
						<span>
							@@include('../../img/accept-red.svg')
						</span>
						Калининский
					</label>
				</div>
				<div class="search-param-options-item">
					<label class="checkbox-label">
						<input type="checkbox" class="checkbox">
						<span>
							@@include('../../img/accept-red.svg')
						</span>
						Курчатовский
					</label>
				</div>
				<div class="search-param-options-item">
					<label class="checkbox-label">
						<input type="checkbox" class="checkbox">
						<span>
							@@include('../../img/accept-red.svg')
						</span>
						Ленинский
					</label>
				</div>
				<div class="search-param-options-item">
					<label class="checkbox-label">
						<input type="checkbox" class="checkbox">
						<span>
							@@include('../../img/accept-red.svg')
						</span>
						Металлургический
					</label>
				</div>
			</div>
		</div>
		<div class="search-param">
			<div class="search-param-title">
				@@include('../../img/gender.svg')
				Услуги
			</div>
			<div class="search-param-options">
				<div class="search-param-options-item">
					<div class="search-param-options-item-title">
						Цена:
					</div>
					<div class="search-param-options-item-wr">
						<label class="checkbox-label">
							<input type="checkbox" class="checkbox">
							<span>
							@@include('../../img/accept-red.svg')
						</span>
							Калининский
						</label>
						<label class="checkbox-label">
							<input type="checkbox" class="checkbox">
							<span>
							@@include('../../img/accept-red.svg')
						</span>
							Калининский
						</label>
						<label class="checkbox-label">
							<input type="checkbox" class="checkbox">
							<span>
							@@include('../../img/accept-red.svg')
						</span>
							Калининский
						</label>
						<!-- <label class="checkbox-label">
							<input type="checkbox" class="checkbox">
							<span>
							@@include('../../img/accept-red.svg')
						</span>
							Калининский
						</label> -->
					</div>
				</div>
				<div class="search-param-options-item">
					<div class="search-param-options-item-title">
						Заголовок2
					</div>
					<div class="search-param-options-item-wr">
						<label class="checkbox-label">
							<input type="checkbox" class="checkbox">
							<span>
							@@include('../../img/accept-red.svg')
						</span>
							Калининский
						</label>
						<label class="checkbox-label">
							<input type="checkbox" class="checkbox">
							<span>
							@@include('../../img/accept-red.svg')
						</span>
							Калининский
						</label>
						<label class="checkbox-label">
							<input type="checkbox" class="checkbox">
							<span>
							@@include('../../img/accept-red.svg')
						</span>
							Калининский
						</label>
						<label class="checkbox-label">
							<input type="checkbox" class="checkbox">
							<span>
							@@include('../../img/accept-red.svg')
						</span>
							Калининский
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="search-param">
			<div class="search-param-title">
				@@include('../../img/weight-loss.svg')
				Данные
			</div>
			<div class="search-param-options">
				<div class="search-param-options-item">
					<div class="search-param-options-item-title">
						Цена:
					</div>
					<div class="search-param-options-item-wr">
						<label class="checkbox-label">
							<input type="checkbox" class="checkbox">
							<span>
							@@include('../../img/accept-red.svg')
						</span>
							Калининский
						</label>
						<label class="checkbox-label">
							<input type="checkbox" class="checkbox">
							<span>
							@@include('../../img/accept-red.svg')
						</span>
							Калининский
						</label>
						<label class="checkbox-label">
							<input type="checkbox" class="checkbox">
							<span>
							@@include('../../img/accept-red.svg')
						</span>
							Калининский
						</label>
						<!-- <label class="checkbox-label">
							<input type="checkbox" class="checkbox">
							<span>
							@@include('../../img/accept-red.svg')
						</span>
							Калининский
						</label> -->
					</div>
				</div>
				<div class="search-param-options-item">
					<div class="search-param-options-item-title">
						Заголовок2
					</div>
					<div class="search-param-options-item-wr">
						<label class="checkbox-label">
							<input type="checkbox" class="checkbox">
							<span>
							@@include('../../img/accept-red.svg')
						</span>
							Калининский
						</label>
						<label class="checkbox-label">
							<input type="checkbox" class="checkbox">
							<span>
							@@include('../../img/accept-red.svg')
						</span>
							Калининский
						</label>
						<label class="checkbox-label">
							<input type="checkbox" class="checkbox">
							<span>
							@@include('../../img/accept-red.svg')
						</span>
							Калининский
						</label>
						<label class="checkbox-label">
							<input type="checkbox" class="checkbox">
							<span>
							@@include('../../img/accept-red.svg')
						</span>
							Калининский
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="search-param-sumbit">
			<button type="submit" class="main-button">
				@@include('../../img/close.svg')
				сбросить
			</button>
			<button class="main-button">
				@@include('../../img/accept.svg')
				применить
			</button>
		</div>
	</div>
</div>