<div class="search-wr">
	<div class="container">
		<div class="search-param">
			<div class="search-param-title">
				@@include('../../img/map.svg')
				Район
			</div>
			<div class="search-param-options">
				<div class="search-param-options-item">
					<label class="checkbox-label">
						<input type="checkbox" class="checkbox">
						<span>
								@@include('../../img/accept-red.svg')
							</span>
						Калининский
					</label>
				</div>
				<div class="search-param-options-item">
					<label class="checkbox-label">
						<input type="checkbox" class="checkbox">
						<span>
								@@include('../../img/accept-red.svg')
							</span>
						Курчатовский
					</label>
				</div>
				<div class="search-param-options-item">
					<label class="checkbox-label">
						<input type="checkbox" class="checkbox">
						<span>
								@@include('../../img/accept-red.svg')
							</span>
						Ленинский
					</label>
				</div>
				<div class="search-param-options-item">
					<label class="checkbox-label">
						<input type="checkbox" class="checkbox">
						<span>
								@@include('../../img/accept-red.svg')
							</span>
						Металлургический
					</label>
				</div>
				<div class="search-param-options-item">
					<label class="checkbox-label">
						<input type="checkbox" class="checkbox">
						<span>
								@@include('../../img/accept-red.svg')
							</span>
						Тракторозаводский
					</label>
				</div>
				<div class="search-param-options-item">
					<label class="checkbox-label">
						<input type="checkbox" class="checkbox">
						<span>
								@@include('../../img/accept-red.svg')
							</span>
						Центральный
					</label>
				</div>
			</div>
		</div>
		<div class="search-param">
			<div class="search-param-title">
				@@include('../../img/gender.svg')
				Услуги
			</div>
			<div class="search-param-options">
				<div class="search-param-options-item-row">
					<div class="search-param-options-item">
						<div class="search-param-options-item-title">
							Секс:
						</div>
						<div class="search-param-options-item-wr">
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
								@@include('../../img/accept-red.svg')
								</span>
								Классический секс
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
								@@include('../../img/accept-red.svg')
								</span>
								Анальный секс
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
								@@include('../../img/accept-red.svg')
								</span>
								Групповой секс
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
								@@include('../../img/accept-red.svg')
								</span>
								Лесбийский секс
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
								@@include('../../img/accept-red.svg')
								</span>
								Услуги семейной паре
							</label>
						</div>
					</div>
					<div class="search-param-options-item">
						<div class="search-param-options-item-title">
							окончание:
						</div>
						<div class="search-param-options-item-wr">
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
								@@include('../../img/accept-red.svg')
								</span>
								Окончание на грудь
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
								@@include('../../img/accept-red.svg')
								</span>
								Окончание на лицо
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
								@@include('../../img/accept-red.svg')
								</span>
								Окончание в рот
							</label>
						</div>
					</div>
					<div class="search-param-options-item">
						<div class="search-param-options-item-title">
							стриптиз:
						</div>
						<div class="search-param-options-item-wr">
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
								@@include('../../img/accept-red.svg')
								</span>
								Профи
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
								@@include('../../img/accept-red.svg')
								</span>
								Не профи
							</label>
						</div>
					</div>
				</div>
				<div class="search-param-options-item-row">
					<div class="search-param-options-item">
						<div class="search-param-options-item-title">
							минет:
						</div>
						<div class="search-param-options-item-wr">
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
								@@include('../../img/accept-red.svg')
								</span>
								Минет в презервативе
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
								@@include('../../img/accept-red.svg')
								</span>
								Минет без резинки
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
								@@include('../../img/accept-red.svg')
								</span>
								Минет глубокий
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
								@@include('../../img/accept-red.svg')
								</span>
								Минет в машине
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
								@@include('../../img/accept-red.svg')
								</span>
								Куннилингус
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
								@@include('../../img/accept-red.svg')
								</span>
								Игрушки
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
								@@include('../../img/accept-red.svg')
								</span>
								Окончание на грудь
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
								@@include('../../img/accept-red.svg')
								</span>
								Окончание на лицо
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
								@@include('../../img/accept-red.svg')
								</span>
								Окончание в рот
							</label>
						</div>
					</div>
					<div class="search-param-options-item">
						<div class="search-param-options-item-title">
							Дополнительно:
						</div>
						<div class="search-param-options-item-wr">
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
								@@include('../../img/accept-red.svg')
								</span>
								Эскорт
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
								@@include('../../img/accept-red.svg')
								</span>
								Фото/Видео
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
								@@include('../../img/accept-red.svg')
								</span>
								Услуги семейной паре
							</label>
						</div>
					</div>
				</div>
				<div class="search-param-options-item-row">
					<div class="search-param-options-item">
						<div class="search-param-options-item-title">
							Массаж:
						</div>
						<div class="search-param-options-item-wr">
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
								@@include('../../img/accept-red.svg')
								</span>
								Классический
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
								@@include('../../img/accept-red.svg')
								</span>
								Профессиональный
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
								@@include('../../img/accept-red.svg')
								</span>
								Расслабляющий
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
								@@include('../../img/accept-red.svg')
								</span>
								Тайский
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
								@@include('../../img/accept-red.svg')
								</span>
								Урологический
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
								@@include('../../img/accept-red.svg')
								</span>
								Точечный
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
								@@include('../../img/accept-red.svg')
								</span>
								Эротический
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
								@@include('../../img/accept-red.svg')
								</span>
								Ветка сакуры
							</label>
						</div>
					</div>
					<div class="search-param-options-item">
							<div class="search-param-options-item-title">
								Копро:
							</div>
							<div class="search-param-options-item-wr">
								<label class="checkbox-label">
									<input type="checkbox" class="checkbox">
									<span>
									@@include('../../img/accept-red.svg')
									</span>
									Прием
								</label>
								<label class="checkbox-label">
									<input type="checkbox" class="checkbox">
									<span>
									@@include('../../img/accept-red.svg')
									</span>
									Выдача
								</label>
							</div>
						</div>
				</div>
				<div class="search-param-options-item-row">
					<div class="search-param-options-item">
						<div class="search-param-options-item-title">
							БДСМ:
						</div>
						<div class="search-param-options-item-wr">
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
								@@include('../../img/accept-red.svg')
								</span>
								Бандаж
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
								@@include('../../img/accept-red.svg')
								</span>
								Ролевые игры
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
								@@include('../../img/accept-red.svg')
								</span>
								Госпожа
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
								@@include('../../img/accept-red.svg')
								</span>
								Легкая доминация
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
								@@include('../../img/accept-red.svg')
								</span>
								Порка
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
								@@include('../../img/accept-red.svg')
								</span>
								Рабыня
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
								@@include('../../img/accept-red.svg')
								</span>
								Фетиш
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
								@@include('../../img/accept-red.svg')
								</span>
								Трамплинг
							</label>
						</div>
					</div>
					<div class="search-param-options-item">
						<div class="search-param-options-item-title">
							Фистинг:
						</div>
						<div class="search-param-options-item-wr">
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
								@@include('../../img/accept-red.svg')
								</span>
								Анальный
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
								@@include('../../img/accept-red.svg')
								</span>
								Классический
							</label>
						</div>
					</div>
				</div>
				<div class="search-param-options-item-row">
					<div class="search-param-options-item">
						<div class="search-param-options-item-title">
							лесби шоу:
						</div>
						<div class="search-param-options-item-wr">
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
								@@include('../../img/accept-red.svg')
								</span>
								Откровенное
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
								@@include('../../img/accept-red.svg')
								</span>
								Легкое
							</label>
						</div>
					</div>
					<div class="search-param-options-item">
						<div class="search-param-options-item-title">
							Экстрим:
						</div>
						<div class="search-param-options-item-wr">
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
								@@include('../../img/accept-red.svg')
								</span>
								Страпон
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
								@@include('../../img/accept-red.svg')
								</span>
								Игрушки
							</label>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="search-param">
			<div class="search-param-title">
				@@include('../../img/weight-loss.svg')
				Данные
			</div>
			<div class="search-param-options">
				<div class="search-param-options-row">
					<div class="search-param-options-item">
						<div class="search-param-options-item-title">
							Цена:
						</div>
						<div class="search-param-options-item-wr">
							<label class="checkbox-label">
									<input type="checkbox" class="checkbox">
									<span>
										@@include('../../img/accept-red.svg')
									</span>
									100 - 1 800 р.
								</label>
							<label class="checkbox-label">
									<input type="checkbox" class="checkbox">
									<span>
										@@include('../../img/accept-red.svg')
									</span>
									1 800 - 2 500 р.
								</label>
							<label class="checkbox-label">
									<input type="checkbox" class="checkbox">
									<span>
										@@include('../../img/accept-red.svg')
									</span>
									2 500 - 3 500 р.
								</label>
							<label class="checkbox-label">
									<input type="checkbox" class="checkbox">
									<span>
										@@include('../../img/accept-red.svg')
									</span>
									3 500 - 5 000 р.
								</label>
							<label class="checkbox-label">
									<input type="checkbox" class="checkbox">
									<span>
										@@include('../../img/accept-red.svg')
									</span>
									5 000 - 50 000 р.
								</label>
						</div>
					</div>
					<div class="search-param-options-item">
						<div class="search-param-options-item-title">
							цвет волос:
						</div>
						<div class="search-param-options-item-wr">
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
									@@include('../../img/accept-red.svg')
								</span>
								Блондинки
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
									@@include('../../img/accept-red.svg')
								</span>
								Брюнетки
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
									@@include('../../img/accept-red.svg')
								</span>
								Русые
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
									@@include('../../img/accept-red.svg')
								</span>
								Рыжие
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
									@@include('../../img/accept-red.svg')
								</span>
								Шатенки
							</label>
						</div>
					</div>
				</div>
				<div class="search-param-options-row">
					<div class="search-param-options-item">
						<div class="search-param-options-item-title">
							возраст:
						</div>
						<div class="search-param-options-item-wr">
							<label class="checkbox-label">
									<input type="checkbox" class="checkbox">
									<span>
										@@include('../../img/accept-red.svg')
									</span>
									18 - 20
								</label>
							<label class="checkbox-label">
									<input type="checkbox" class="checkbox">
									<span>
										@@include('../../img/accept-red.svg')
									</span>
									21 - 25
								</label>
							<label class="checkbox-label">
									<input type="checkbox" class="checkbox">
									<span>
										@@include('../../img/accept-red.svg')
									</span>
									26 - 30
								</label>
							<label class="checkbox-label">
									<input type="checkbox" class="checkbox">
									<span>
										@@include('../../img/accept-red.svg')
									</span>
									31 - 35
								</label>
							<label class="checkbox-label">
									<input type="checkbox" class="checkbox">
									<span>
										@@include('../../img/accept-red.svg')
									</span>
									36 - 40
								</label>
							<label class="checkbox-label">
									<input type="checkbox" class="checkbox">
									<span>
										@@include('../../img/accept-red.svg')
									</span>
									40 - 75
								</label>
						</div>
					</div>
				</div>
				<div class="search-param-options-row">
					<div class="search-param-options-item">
						<div class="search-param-options-item-title">
							вес:
						</div>
						<div class="search-param-options-item-wr">
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
									@@include('../../img/accept-red.svg')
								</span>
								до 40
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
									@@include('../../img/accept-red.svg')
								</span>
								40 - 50 кг
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
									@@include('../../img/accept-red.svg')
								</span>
								50 - 60 кг
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
									@@include('../../img/accept-red.svg')
								</span>
								60 - 70 кг
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
									@@include('../../img/accept-red.svg')
								</span>
								70 - 80 кг
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
									@@include('../../img/accept-red.svg')
								</span>
								80 - 90 кг
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
									@@include('../../img/accept-red.svg')
								</span>
								90 - 100 кг
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
									@@include('../../img/accept-red.svg')
								</span>
								100 кг и больше
							</label>
						</div>
					</div>
				</div>
				<div class="search-param-options-row">
					<div class="search-param-options-item">
						<div class="search-param-options-item-title">
							рост:
						</div>
						<div class="search-param-options-item-wr">
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
									@@include('../../img/accept-red.svg')
								</span>
								150 - 160 см
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
									@@include('../../img/accept-red.svg')
								</span>
								160 - 170 см
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
									@@include('../../img/accept-red.svg')
								</span>
								170 - 2 м
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
									@@include('../../img/accept-red.svg')
								</span>
								2 м и больше
							</label>
						</div>
					</div>
					<div class="search-param-options-item">
						<div class="search-param-options-item-title">
							размер груди:
						</div>
						<div class="search-param-options-item-wr">
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
									@@include('../../img/accept-red.svg')
								</span>
								1 - 2
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
									@@include('../../img/accept-red.svg')
								</span>
								2 - 3
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
									@@include('../../img/accept-red.svg')
								</span>
								3 - 4
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
									@@include('../../img/accept-red.svg')
								</span>
								4 и больше
							</label>
						</div>
					</div>
				</div>
				<div class="search-param-options-row">
					<div class="search-param-options-item">
						<div class="search-param-options-item-title">
							национальность:
						</div>
						<div class="search-param-options-item-wr">
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
									@@include('../../img/accept-red.svg')
								</span>
								Азиатки
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
									@@include('../../img/accept-red.svg')
								</span>
								Армянки
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
									@@include('../../img/accept-red.svg')
								</span>
								Негритянки
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
									@@include('../../img/accept-red.svg')
								</span>
								Русские
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
									@@include('../../img/accept-red.svg')
								</span>
								Таджички
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
									@@include('../../img/accept-red.svg')
								</span>
								Узбечки
							</label>
							<label class="checkbox-label">
								<input type="checkbox" class="checkbox">
								<span>
									@@include('../../img/accept-red.svg')
								</span>
								Украинки
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="search-param-sumbit">
			<button type="submit" class="main-button">
				@@include('../../img/close.svg')
				сбросить
			</button>
			<button class="main-button">
				@@include('../../img/accept.svg')
				применить
			</button>
		</div>
	</div>
</div>