.banners
{
	height: 100%;
	position: relative;
	margin-bottom: 170px;
	h2
	{
		text-align: center;
		font-size: 60px;
		line-height: 70px;
		margin-bottom: 80px;
	}
	h3
	{
		font-size: 48px;
		line-height: 56px;
		margin-bottom: 20px;
	}
	img
	{
		max-width: 40.3vw;
		max-height: 670px;
		height: 100%;
		object-fit: contain;
	}
	span
	{
		font-size: 24px;
		line-height: 34px;
		display: inline-block;
		font-family: $light;
		margin-bottom: 30px;
	}
	&__wrapper
	{
		position: relative;
		height: 670px;

		&:not(:last-child)
		{
			margin-bottom: 150px;
		}
	}
	&__img-right
	{
		position: absolute;
		right: 0;
		bottom: 0;
	}
	&__img-left
	{
		position: absolute;
		left: 0;
		bottom: 0;
	}
	&__info-block
	{
		max-width: 620px;

		&_right
		{
			margin-right: 0;
			margin-left: auto;
		}
		&_flex
		{
			display: flex;

			svg
			{
				margin-right: 30px;
			}
		}
	}
	&__info-wrapper
	{
		display: flex;
		justify-content: space-between;
		
		svg
		{
			width: 48px;
			height: 48px;
		}
	}
	&__strong-text
	{
		font-family: $medium;
		font-size: 20px;
		line-height: 28px;
		letter-spacing: 0.44px;
		color: $accent-color;
		max-width: 554px;
	}
	&__medium-text
	{
		font-size: 20px;
		line-height: 28px;
		color: #4D627C;
	}
	&__text-wr
	{
		padding-top: 140px;
		&_max-wd
		{
			max-width: 474px;
		}
	}
}


@media(max-width: 1200px)
{
	.banners
	{
		img
		{
			display: none!important;
		}
		h3
		{

		}
		&__wrapper
		{
			height: auto;
			&:not(:last-child)
			{
				margin-bottom: 100px;
			}
		}
		&__info-block, &__info-block_right
		{
			margin-right: auto;
			margin-left: auto;
			text-align: center;
		}
	}
}
@media(max-width: 768px)
{
	.banners
	{
		.slick-next.nextArrow
		{
			top: 10%;
			right: 40px;
			
			svg
			{
				width: 20px;
				height: 20px;
			}
		}
		.slick-prev.prevArrow
		{
			top: 10%;
			left: 40px;

			svg
			{
				width: 20px;
				height: 20px;
			}
		}
		margin-bottom: 0;
		h2
		{
			font-size: 24px;
			line-height: 34px;
			margin-bottom: 20px;
			max-width: 288px;
			margin-right: auto;
			margin-left: auto;
		}
		svg
		{
			max-width: 170px;
			max-height: 170px;
		}
		h3
		{
			letter-spacing: 0.44px;
			font-size: 20px;
			line-height: 28px;
		}
		span
		{
			font-size: 16px;
			line-height: 22px;
			margin-bottom: 30px;
		}
		&__info-wrapper
		{
			display: flex;
			flex-direction: column;

			align-items: center;
		}
		&__strong-text
		{
			font-size: 12px;
			line-height: 16px;
			font-family: $light;
			font-weight: 300;
			padding-right: 30px;
			padding-left: 30px;
		}
		&__medium-text
		{
			font-size: 12px;
			line-height: 16px;
			font-family: $light;
			padding-right: 25px;
			padding-left: 25px;
		}
	}
}