.calculate
{
	padding-bottom: 130px;
	&__title
	{
		text-align: center;
		margin-bottom: 65px;
	}
	&__bot
	{
		display: flex;
		align-items:center;
		flex-flow:column;
		.button
		{
			margin-bottom: 21px;
		}
	}
	&__item
	{
		display: flex;
		justify-content: center;
		align-items:center;
		margin-bottom: 70px;
		&-col
		{
			flex-basis:26%;
		}
		&-number
		{
			text-align: left;
			font-family: $medium;
			font-size: 24px;
			line-height: 34px;
		}
		&-title
		{
			text-align: right;
			font-family: $medium;
			font-size: 24px;
			line-height: 34px;
		}
		&-desc
		{
			font-size: 20px;
			line-height: 28px;
			color: #4D627C;
		}
		&-range
		{
			width: 430px;
			margin-right: 26px;
			margin-left: 33px;
		}
	}
}
@media (max-width: 991px)
{
	.calculate
	{
		padding-bottom: 30px;
		&__title
		{
			margin-bottom: 40px;
		}
		&__item
		{
			flex-flow:column;
			margin-bottom: 0px;
			&-col
			{
				flex-basis:26%;
				margin-bottom: 20px;
				&--reverse
				{
					flex-basis:100%;
					display: flex;
				    flex-flow: row-reverse;
				    align-items:center;
				    .calculate__item-number
				    {
				    	margin-left: 10px;
				    }
				}
			}
			&-range
			{
				width: 280px;
				margin-bottom: 20px;
			}
			&-title
			{
				text-align: center;
				font-size: 20px;
				line-height: 28px;
				letter-spacing: 0.44px;
			}
			&-desc
			{
				font-size: 14px;
				line-height: 20px;
				letter-spacing: 0.25px;
			}
		}
		&__bot
		{
			.button
			{
				width: 288px;
			}
		}
	}
}