.companies
{
	padding-bottom: 50px;
	position: relative;
	height: 812px;
	margin-bottom: 80px;
	
	&__wr
	{
		padding-top: 110px;
		padding-bottom: 140px;
	}
	&__desktop
	{
		position: absolute;
		right: 130px;
		bottom: 0;
		max-width: 830px;
		width: 100%;
		max-height: 928px;
		z-index: 2;

		img
		{
			width: 100%;
			object-fit: fill;
		}
	}
	&__background
	{
		background: linear-gradient(180deg, #F9FCFF 11.46%, #FFFFFF 124.64%);
		height: 100%;
		clip-path: polygon(0 0, 100% 24%, 100% 100%, 0% 100%);
	}
	&__mobile
	{
		position: absolute;
		max-width: 140px;
		width: 100%;
		max-height: 270px;
		right: 880px;
		bottom: 95px;
		z-index: 2;
		img
		{
			width: 100%;
			object-fit: fill;
		}
	}
	h2
	{
		font-size: 60px;
		line-height: 70px;
		margin-bottom: 0;
	}
	h3
	{
		font-size: 24px;
		line-height: 34px;
		max-width: 220px;
		margin-bottom: 41px;
	}
	&__img-wrapper
	{
		max-width: 407px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		img
		{
			max-width: 200px;
			max-height: 66px;
			height: 100%;
			object-fit: contain;
			margin-bottom: 24px;
		}
	}
}
@media (max-width: 1700px)
{
	.companies
	{
		&__desktop
		{
			max-width: 686px;
			right: 70px;
		}
		&__mobile
		{
			right: 760px;
			max-width: 90px;
			left: auto;
			right: 680px
		}
	}
}
@media (max-width: 1300px)
{
	.companies
	{
		&__desktop
		{
			max-width: 460px;
			top: 30px;
		}
		&__mobile
		{
			max-width: 68px;
			right: 535px;
			bottom: 240px;;
		}
	}
}
@media (max-width: 1100px)
{
	.companies
	{
		height: auto;
		&__desktop
		{
			right: 0;
			left: 0;
			margin: 0 auto;
			top: 70px;
		}
		&__static-wr
		{
			position: relative;
			max-width: 460px;
			margin: 0 auto;
		}
		&__mobile
		{
			bottom: 410px;
			max-width: 47px;
			left: -15px;
			top: 415px;
		}
		&__wr
		{
			text-align: center;
		}
		&__img-wrapper
		{
			margin: 0 auto;
		}
		&__background
		{
			padding-top: 500px;
		}
		h2
		{
			text-align: center;
		}
		h3
		{
			margin-right: auto;
			margin-left: auto;
			text-align: center;
		}
	}
}
@media (max-width: 497px)
{
	.companies
	{
		padding-bottom: 0;
		margin-bottom: 0;
		&__desktop
		{
			max-width: 270px;
			top: 20px;
		}
		&__background
		{
			padding-top: 350px;
			clip-path: polygon(0 0, 100% 4%, 100% 100%, 0% 100%);
		}
		&__wr
		{
			padding-bottom: 0;
			padding-top: 0;
		}
		h2
		{
			font-size: 48px;
		}
		&__img-wrapper
		{
			img
			{
				max-width: 130px;
			}
		}
		&__mobile
		{
			bottom: 410px;
			max-width: 47px;
			left: 10px;
			top: 195px;
		}
	}
}