.deployment
{
	padding-bottom: 132px;
	h2
	{
		max-width: 715px;
		font-size: 48px;
		line-height: 56px;
		font-family: $light;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 77px;
		
		strong
		{
			font-family: $medium;
		}
	}
	h3
	{
		font-size: 24px;
		line-height: 34px;
		font-family: $light;
		font-weight: 100;
	}
	&__card
	{
		max-width: 370px;
		width: 100%;
		text-align: center;

		span
		{
			font-size: 20px;
			line-height: 28px;
			font-family: $light;
		}
		svg
		{
			margin-bottom: 30px;
		}
	}
	&__card-wrapper
	{
		display: flex;
		justify-content: space-between;
		margin-bottom: 64px;
	}
	&__link
	{
		display: flex;
		justify-content: center;
		align-items: center;

		svg
		{
			path
			{
				fill: #2F74C8;
			}
		}

		span
		{
			font-size: 14px;
			line-height: 20px;
			letter-spacing: 0.25px;
			color: #4D627C;
			margin-left: 10px;
		}
	}
}

@media(max-width: 768px)
{
	.deployment
	{
		padding-top: 20px;
		padding-bottom: 32px;
		&__card-wrapper
		{
			flex-wrap: wrap;
			justify-content: center;
			margin-bottom: 12px;
		}
		&__card
		{
			margin-bottom: 0;
			&:not(:last-child)
			{
				margin-bottom: 40px;
			}
			span
			{
				font-size: 12px;
				line-height: 16px;
			}
		}
		h2
		{
			font-size: 24px;
			line-height: 34px;
			max-width: 288px;
			text-align: center;
			margin-bottom: 20px;
		}
		h3
		{
			font-size: 14px;
			line-height: 20px;
			font-family: $medium;
		}
	}	
}