header
{
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 9999999;
	background: #ffffff;
	&.showF
	{
		.header__wr
		{
			padding: 20px 0;
			transform:translateY(0px);
			transition:.3s all;
		}
		.header__logo
		{
			svg
			{
				transition:.3s all;
				width: 200px;
			}
		}
		.header__menu
		{
			transform:translateY(0px);
			transition:.3s all;
		}
		box-shadow: 0px 4px 4px rgba(0, 54, 98, 0.02);
		transition:.3s all;
	}
}
.overflowH
{
	overflow: hidden;
}
.header__wr
{
	position: relative;
	display: flex;
	justify-content:space-between;
	align-items:center;
	padding: 40px 0;
	transition:.3s all;
}
.header__logo
{
	svg
	{
		transition:.3s all;
		max-width: 210px;
	}
}
.header__menu
{
	display: flex;
	align-items:center;
	transition:.3s all;
	.button
	{
		width: 171px;
	}
	li
	{
		&:nth-last-child(2)
		{
			margin-right: 58px;
		}
	}
	.menu__item
	{
		position: relative;
		margin-right: 68px;
		a
		{
			font-size: 20px;
			color: $accent-color;
			svg
			{
				position: absolute;
				right: -28px;
				top: 1px;
				width: 24px;
				height: 24px;
				vertical-align:middle;
				transition: .3s all;
			}
		}
		&:hover
		{
			a
			{
				color: #2F74C8;
				svg
				{
					transform:rotate(-180deg);
					transition: .3s all;
					path
					{
						fill: #2F74C8;
					}
				}
			}
			.menu__dropdown
			{
				opacity: 1;
				transform: translateX(-10px);
				z-index: 1;
				visibility:visible;
				transition: .3s all;
			}
		}
		.menu__dropdown
		{
			background: #FFFFFF;
			visibility:hidden;
			opacity: 0;
			position: absolute;
			top: 35px;
			left: 0;
			box-shadow: 0px 10px 35px rgba(8, 27, 51, 0.07), 0px 2px 3px rgba(0, 73, 126, 0.06);
			transform: translateX(0px);
			z-index: -1;
			margin-left: 10px;
			padding: 10px 0;
			transition: .3s all;
			&:before
			{
				content:"";
				position: absolute;
				top: -10px;
				width: 100%;
				height: 15px;
			}
			li
			{
				margin-right: 0;
				a
				{
					display: block;
					padding: 10px 20px;
					white-space:nowrap;
					font-size: 16px;
					color: $accent-color;
				}
				&:hover
				{
					background: #F9FCFF;
					a
					{
						color: #2F74C8;
					}
				}
			}
		}
	}
}
.header__burger
{
	display: none;
	position: absolute;
	left: 0;
	border: none;
	&.active
	{
		svg
		{
			display: none;
		}
		left: -3px;
	    width: 30px;
	    height: 30px;
		background: url(../img/svg/close.svg) no-repeat;
		background-size:100%;
	}
}
@media (max-width: 991px)
{
	.header__wr
	{
		padding: 16px 0px;
	}
	.header__logo
	{
		text-align: center;
		width: 100%;
		svg
		{
			max-width: 140px;
		}
	}
	.header__menu
	{
		display: none;
	}
	.header__burger
	{
		display: block;
	}
	header
	{
		&.showF
		{
			box-shadow: none;
			.header__wr
			{
				padding: 16px 0;
				transform:translateY(0px);
				transition:.3s all;
			}
		}
	}
}