.infoblock
{
	height: 100%;
	position: relative;
	margin-bottom: 170px;
	h2
	{
		text-align: center;
		font-size: 60px;
		line-height: 70px;
		margin-bottom: 90px;
	}
	h3
	{
		font-size: 48px;
		line-height: 56px;
		margin-bottom: 20px;
		font-weight: 100;
	}
	img
	{
		max-width: 40.3vw;
		max-height: 670px;
		object-fit: contain;
		box-shadow: 0px 2.76726px 2.21381px rgba(156, 181, 202, 0.0196802), 0px 6.6501px 5.32008px rgba(156, 181, 202, 0.0282725), 0px 12.5216px 10.0172px rgba(156, 181, 202, 0.035), 0px 22.3363px 17.869px rgba(156, 181, 202, 0.0417275), 0px 41.7776px 33.4221px rgba(156, 181, 202, 0.0503198), 0px 100px 80px rgba(156, 181, 202, 0.07);
	}
	&__head-wr
	{
		margin-bottom: 60px;
	}
	span
	{
		font-size: 24px;
		line-height: 34px;
		display: inline-block;
		font-family: $light;
		margin-bottom: 30px;
	}
	&__wrapper
	{
		position: relative;
		height: 670px;
		display: flex;
		align-items: center;

		&:not(:last-child)
		{
			margin-bottom: 150px;
		}
	}
	&__img-right
	{
		position: absolute;
		right: 0;
		bottom: 0;
	}
	&__img-left
	{
		position: absolute;
		left: 0;
		bottom: 0;
	}
	&__info-block
	{
		max-width: 720px;
		position: relative;

		&_right
		{
			margin-right: 0;
			margin-left: auto;
		}
		&_flex
		{
			display: flex;
			justify-content: space-between;
		}
		&__main-svg-wr
		{
			left: 0;
			position: absolute;
		}
		&_flex-centered
		{
			margin-right: -230px;
			max-width: 800px;
		}
		&_mw
		{
			max-width: 570px;
		}
	}
	&__info-wrapper
	{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 30px;
	}
	&__svg-wrapper
	{
		width: 48px;
		height: 48px;
		margin-right: 25px;
		svg
		{
			width: 48px;
			height: 48px;
		}
	}
	&__strong-text
	{
		font-family: $medium;
		font-size: 20px;
		line-height: 28px;
		letter-spacing: 0.44px;
		color: $accent-color;
		max-width: 554px;
		width: 100%;
		margin-top: 0;
		margin-bottom: 0;
	}
	&__medium-text
	{
		font-size: 20px;
		line-height: 28px;
		color: #4D627C;
	}
	&__text-wr
	{
		max-width: 630px;
		&_max-wd
		{
			padding-top: 100px;
			max-width: 420px;
			width: 100%;
		}
		&_centered
		{
			max-width: 500px;
			padding-top: 160px;
		}
	}
}
@media(max-width: 1660px)
{
	.infoblock
	{
		&__info-block
		{
			max-width: 600px;
			&_flex
			{
				svg
				{
					margin-right: 20px;
				}
			}
			&_flex-end
			{
				margin-right: 0;
			}
			&_flex-centered
			{
				margin-right: 0;
			}
		}
		&__info-wrapper
		{
			svg
			{
				margin-right: 10px;
			}
		}
	}
}
@media(max-width: 1200px)
{
	.infoblock
	{
		img
		{
			display: none!important;
		}
		h3
		{

		}
		&__wrapper
		{
			height: auto;
			&:not(:last-child)
			{
				margin-bottom: 100px;
			}
		}
		&__info-wrapper
		{
			justify-content: center;
		}
		&__strong-text
		{
			width: auto;
		}
		&__info-block
		{
			&_flex
			{
				display: block;
				padding-top: 0;

				svg
				{
					margin-right: 0;
				}
			}
		}
		&__info-block, &__info-block_right
		{
			margin-right: auto;
			margin-left: auto;
			text-align: center;
		}
		&__text-wr
		{
			&_centered
			{
				max-width: 100%;
				padding-top: 0;
			}
			&_max-wd
			{
				max-width: 100%;
				padding-top: 0;
			}
		}
	}
}
@media(max-width: 768px)
{
	.infoblock
	{
		h2
		{
			padding-right: 15px;
			padding-left: 15px;
		}
		&__head-wr
		{
			margin-bottom: 0;
		}
		&__wrapper
		{
			&:not(:last-child)
			{
				margin-bottom: 26px;
			}
			svg
			{
				margin-bottom: 10px;
			}
		}
		.slick-next.nextArrow
		{
			z-index: 2;
			&:before
			{
				content: '';
			}
			top: 13%;
			right: 15px;

			svg
			{
				width: 16px;
				height: 34px;
			}
		}
		.slick-prev.prevArrow
		{
			z-index: 2;
			&:before
			{
				content: '';
			}
			top: 13%;
			left: 15px;

			svg
			{
				width: 16px;
				height: 34px;
			}
		}
		margin-bottom: 0;
		h2
		{
			font-size: 24px;
			line-height: 34px;
			margin-bottom: 20px;
			max-width: 288px;
			margin-right: auto;
			margin-left: auto;
		}
		svg
		{
			max-width: 170px;
			max-height: 170px;
		}
		h3
		{
			letter-spacing: 0.44px;
			font-size: 20px;
			line-height: 28px;
		}
		span
		{
			font-size: 16px;
			line-height: 22px;
			margin-bottom: 30px;
			font-weight: bold;
		}
		&__info-wrapper
		{
			display: flex;
			flex-direction: column;

			align-items: center;
		}
		&__strong-text
		{
			font-size: 12px;
			line-height: 16px;
			font-family: $light;
			font-weight: 300;
			padding-right: 30px;
			padding-left: 30px;
			font-weight: bold;
		}
		&__medium-text
		{
			font-size: 12px;
			line-height: 16px;
			font-family: $light;
			font-weight: bold;
		}
		&__svg-wrapper
		{
			margin-right: 0;
			margin-bottom: 15px;
		}
		&__text-wr
		{
			&_centered
			{
				padding-top: 0;
			}
		}
	}
}