.needed
{
	background: linear-gradient(180deg, #F9FCFF 37.84%, #FFFFFF 99.71%);
	box-shadow: 0px -1px 0px #ECF2F9;
	clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
	padding-top: 186px;
	padding-bottom: 120px;

	.draggable
	{
		padding-bottom: 10px;
	}
	h2
	{
		font-size: 60px;
		line-height: 70px;
		text-align: center;
		margin-bottom: 30px;
	}
	h3
	{
		max-width: 895px;
		margin-right: auto;
		margin-left: auto;
		font-size: 32px;
		line-height: 42px;
		font-family: $light;
		font-weight: 100;
		text-align: center;
		margin-bottom: 70px;
	}
	&__wrapper
	{
		display: flex;
	}
	&__tab-name-list
	{
	}
	&__tab-name-item
	{
		font-family: $light;
		font-weight: bold;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;
		font-size: 20px;
		line-height: 28px;
		background: linear-gradient(0deg, #1A2430, #1A2430);
		color: #fff;
		position: relative;
		cursor: pointer;

		&:hover
		{
			background: #FFDB21;
			color: $accent-color;
		}

		&_active
		{
			background: #FFDB21;
			color: $accent-color;

			&:after
			{
				content: '';
				border: 10px solid transparent;
				border-left: 10px solid #FFDB21;
				position: absolute;
				right: -19px;
				top: 40%;
			}
		}
	}
	&__tab-name-list
	{
		max-width: 270px;
	}
	&__tabs
	{
		box-shadow: 0px 2.76726px 2.21381px rgba(156, 181, 202, 0.0196802), 0px 6.6501px 5.32008px rgba(156, 181, 202, 0.0282725), 0px 12.5216px 10.0172px rgba(156, 181, 202, 0.035), 0px 22.3363px 17.869px rgba(156, 181, 202, 0.0417275), 0px 41.7776px 33.4221px rgba(156, 181, 202, 0.0503198), 0px 100px 80px rgba(156, 181, 202, 0.07);
		background: #fff;
	}
	&__tabs-item
	{
		padding-left: 40px;
		padding-right: 30px;
		display: flex;
		align-items: flex-start;
		border-radius: 0px 6px 4px 4px;
	}
	&__tabs-wr
	{
		display: none;
		min-height: 504px;
	}
	.active
	{
		display: block;
	}
	&__tabs-number
	{
		font-size: 24px;
		line-height: 34px;
		margin-right: 25px;
		padding-top: 25px;
		padding-bottom: 25px;
	}
	&__tabs-text
	{
		padding-top: 28px;
		padding-bottom: 28px;
		font-size: 20px;
		line-height: 28px;
		letter-spacing: 0.44px;
		font-family: $light;
		font-weight: bold;
	}
	strong
	{
		font-family: $medium;
	}
}

@media (max-width: 768px)
{
	.needed
	{
		padding-top: 40px;
		padding-bottom: 0;
		clip-path: polygon(0 3%, 100% 0, 100% 100%, 0% 100%);
		h2
		{
			font-size: 24px;
			line-height: 34px;
		}
		h3
		{
			font-size: 14px;
			line-height: 20px;
			margin-bottom: 20px;
		}
		&__wrapper
		{
			flex-wrap: wrap;
			position: relative;
			margin-right: -15px;
			margin-left: -15px;
		}
		&__tab-name-list
		{
			width: 100%;
			max-width: none;
		}
		&__tab-name
		{
			width: 100%;
		}
		&__tabs-item
		{
			padding-right: 18px;
			padding-left: 18px;
		}
		&__tab-name-item
		{
			font-size: 14px;
			font-family: $medium;
			font-weight: 100;
			letter-spacing: 0.1px;
			position: relative;
			&_active
			{
				box-shadow: none;

				&:after
				{
					display: none;
				}
				&:before
				{
					content: '';
					border: 10px solid transparent;
					border-top: 10px solid $yellow;
					bottom: -20px;
					position: absolute;
					right: 0;
					left: 0;
					margin: 0 auto;
					max-width: 10px;
				}
			}
		}
		&__tabs-text
		{
			font-size: 14px;
			padding-bottom: 5px;
			padding-top: 10px;
		}
		&__tabs
		{
			margin-bottom: 20px;
		}
		&__tabs-wr
		{
			padding-bottom: 15px;
		}
		&__tabs-number
		{
			font-size: 20px;
			padding-top: 15px;
			margin-right: 20px;
		}
		.slick-prev
		{
			left: 11px;
			z-index: 2;
			width: 7px;
			height: 17px;
			top: 45%;
		}
		.slick-next
		{
			top: 45%;
			right: 11px;
			z-index: 2;
			width: 7px;
			height: 17px;
		}
	}
}