.questions
{
	background: #F9FCFF;
	padding: 80px 0;
	&__title
	{
		text-align: center;
		margin-bottom: 60px;
	}
	&__list
	{
		margin-bottom: 40px;
	}
	&__item
	{
		position: relative;
		background: #fff;
		padding: 30px 100px;
		margin-bottom: 16px;
		box-shadow: 0px 4px 4px rgba(0, 54, 98, 0.02);
		&-title
		{
			cursor: pointer;
			font-size: 20px;
			line-height: 28px;
			font-family: $accent-font;
			color: #153051;
			svg
			{
				position: absolute;
				transition: .3s all;
				width: 50px;
				height: 50px;
				right: 30px;
				top: 20px;
			}
			&.active
			{
				svg
				{
					transform:rotate(-180deg);
					transition: .3s all;
				}
			}
			// &.active + .questions__item-answer
			// {
			// 	display: block;
			// }
		}
		&-answer
		{
			display: none;
			&--show
			{
				display: block;
			}
			.quote
			{
				display: inline-block;
				position: relative;
				font-family: $light;
				font-size: 24px;
				line-height: 34px;
				margin-bottom: 60px;
				svg
				{
					position: relative;
					margin-right: 20px;
				}
				span
				{
					position: absolute;
					font-size: 12px;
					line-height: 16px;
					color: #4D627C;
					right: 0;
					bottom: -10px;
				}
			}
			p
			{
				font-size: 20px;
				line-height: 28px;
				color: $accent-color;
			}
			ul
			{
				margin-top: 30px;
				margin-bottom: 32px;
				li
				{
					font-size: 20px;
					line-height: 28px;
					margin-bottom: 20px;
					&:before
					{
						content:"•";
						display: inline;
						margin-right: 8px;
					}
				}
			}
		}
		&-svg
		{
			position: absolute;
			left: 30px;
		}
	}
	&__bot
	{
		.svg_link
		{
			justify-content: center;
		}
	}
}
@media (max-width: 991px)
{
	.questions
	{
		padding: 20px 0;
		&__title
		{
			margin-bottom: 20px;
		}
		&__item
		{
			padding: 20px 60px;
			&-title
			{
				font-size: 14px;
				line-height: 20px;
				font-family: $medium;
				color: #153051;
				// margin-bottom: 20px;
			}
			svg
			{
				right: 10px;
				top: 15px;
			}
			&-svg
			{
				left: 20px;
				svg
				{
					width: 24px;
					height: 24px;
				}
			}
			&-answer
			{
				.quote
				{
					font-size: 14px;
					line-height: 20px;
					margin-bottom: 37px;
					svg
					{
						position: relative;
						margin-right: 14px;
						width: 19px;
					}
					span
					{
						position: absolute;
						right: 0;
						bottom: -18px;
					}
				}
				p
				{
					font-size: 12px;
					line-height: 16px;
				}
				ul
				{
					margin-top: 20px;
					margin-bottom: 20px;
					li
					{
						font-size: 12px;
						line-height: 16px;
					}
				}
			}
		}
	}
}