.search-banner
{
	text-align: center;
	position: relative;
	padding-bottom: 130px;

	img
	{
		max-width: 1170px;
		width: 100%;
	}
	h2
	{
		font-size: 60px;
		line-height: 70px;
		margin-bottom: 30px;
		text-align: center;
	}
	h3
	{
		font-size: 24px;
		line-height: 34px;
		margin-bottom: 116px;
		text-align: center;
		font-weight: 100;
		font-family: $light;
		max-width: 560px;
		margin-right: auto;
		margin-left: auto;
	}
	strong
	{
		font-family: $bold;
	}
	&__reletive
	{
		position: relative;
	}
	&__wr
	{
		position: absolute;
		max-width: 937px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding-left: 54px;
		padding-right: 54px;
		padding-top: 30px;
		padding-bottom: 30px;
		box-shadow: 0px 8.8419px 22.9008px rgba(1, 46, 101, 0.01905), 0px 13.577px 41.4935px rgba(1, 46, 101, 0.0267705), 0px 15.9041px 56.034px rgba(1, 46, 101, 0.0322139), 0px 17.0746px 67.946px rgba(1, 46, 101, 0.0373063), 0px 18.7105px 83.3476px rgba(1, 46, 101, 0.0438201), 0px 28px 146px rgba(1, 46, 101, 0.06);
		background: #fff;
		border-radius: 6px;
		margin-right: auto;
		margin-left: auto;
		right: 0;
		left: 0;
		top: -45px;
	}
	&__input
	{
		border-radius: 6px;
		padding-top: 17px;
		padding-bottom: 17px;
		padding-left: 23px;
		width: 100%;
		color: #4D627C;
		text-align-last: left;
	}
	&__input-wr
	{
		display: flex;
		width: 100%;
		background: #F7F8F9;
		box-shadow: inset 0px 1.5443px 3.08861px #E9EEF3;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px
	}
	.button
	{
		max-width: 146px;
		min-width: auto;
		height: 62px;
		line-height: 62px;
		box-shadow: none;
	}
	span
	{
		font-size: 24px;
		font-family: $light;
		font-weight: 100;
	}
	strong
	{
		font-family: $accent-font;
		font-weight: 100;
	}
}
@media(max-width: 1200px)
{
	.search-banner
	{
		&__wr
		{
			padding-top: 10px;
			padding-bottom: 10px;
			max-width: 750px;
			top: -25px;
		}
		&__input
		{
			padding-top: 12px;
			padding-bottom: 12px;
		}
		.button
		{
			height: auto;
			line-height: normal;
			font-size: 18px;
			line-height: 44px;
		}
		span
		{
			font-size: 14px;
		}
	}
}
@media (max-width: 991px)
{
	.search-banner
	{
		&__wr
		{
			max-width: 525px;

		}
		&__input
		{
			padding-top: 8px;
			padding-bottom: 8px;
		}
		span
		{
			font-size: 9px;
		}
		.button
		{
			line-height: 35px;
			max-width: 100px;
		}
	}	
}
@media (max-width: 768px)
{
	.search-banner
	{
		h2
		{
			font-size: 30px;
			line-height: 38px;
		}
		h3
		{
			font-size: 18px;
			margin-bottom: 34px;
		}
		&__wr
		{
			max-width: 82%;
			top: -18px;
			padding-top: 7px;
			padding-bottom: 7px;
			padding-right: 20px;
			padding-left: 20px;
			border-radius: 2px;
		}
		&__input
		{
			padding-top: 3px;
			padding-bottom: 3px;
			line-height: 0;
		}
		.button
		{
			font-size: 4px;
			line-height: 13px;
			max-width: 35px;
			border-radius: 1px;
		}
		span
		{
			font-size: 4px;
		}
	}
}
@media (max-width: 497px)
{
	.search-banner
	{
		padding-bottom: 0;
		margin-bottom: 29px;

		h2
		{
			font-size: 20px;
			line-height: 28px;
		}
		h3
		{
			font-size: 14px;
			line-height: 20px;
		}
		&__wr
		{
			top: -12px;
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}
}