footer
{
	background: #FFF;
	height: 200px;
	// border-top: 1px solid black;
	// border-bottom: 1px solid black;
}
.footer-bot
{
	background: #FFF;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 300px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	p
	{
		color: white;
	}
}
.footer-logo
{
	height: 200px;
	width: 300px;
	img
	{
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
.footer-bottom
{
	display: flex;
	justify-content: space-between;
}
.footer-menu
{
	ul
	{
		display: flex;
		flex-direction: column;
		li
		{
			text-align: right;
			margin-right: 15px;
			a
			{
				text-transform: uppercase;
				color: #000;
				font-size: 16px;
				line-height: 18px;
				transition: .3s all;
			}
			&:hover
			{
				a
				{
					color: #000;
					transition: .3s all;
				}
			}
			&:first-child
			{
				margin-bottom: 12px;
				a
				{
					font-size: 28px;
					text-transform: uppercase;
				}
			}
		}
		&:last-child
		{
			margin-right: 0;
		}
	}
}
.footer-menu_title
{
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 6px;
}
.footer-wr
{
	padding: 24px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer-social
{
	display: flex;
	li
	{
		display: flex;
		align-items: center;
		margin-right: 15px;
		font-size: 16px;
		line-height: 16px;
		font-weight: $bold;
		text-transform: uppercase;
		&:last-child
		{
			margin-right: 0;
		}
		a
		{
			margin-right: 12px;
			text-align: center;
			line-height: 46px;
			display: flex;
			justify-content: center;
			align-items: center;
			background: $brand-color;
			width: 44px;
			height: 44px;
			border-radius: 50%;
			transition: .3s all;
			svg
			{
				width: 16px;
				height: 16px;
				path
				{
					fill: white;
				}
			}
			&:hover
			{
				background: white;
				border: 1px solid white;
				transition: .3s all;
				svg
				{
					path
					{
						fill: $brand-color;
					}
				}
			}
		}
	}
}
.footer-copyrights
{
	color: #FFFFFF;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: -0.01em;
	background: black;
    padding: 24px 0;
    text-align: center;
}


@media (max-width: 991px)
{
	.footer-wr
	{
		padding-bottom: 20px;
	}
	.footer-bottom
	{
		flex-direction: column-reverse;
	}
	.footer-menu
	{
		margin-bottom: 20px;
	}
}


@media (max-width: 767px)
{
	.footer-bot
	{
		height: auto;
	}
	.footer-left
	{
		margin-bottom: 20px;
	}
	.footer-wr
	{
		padding-top: 20px;
		flex-direction: column;
		align-items: center;
	}
	.footer-menu
	{
		ul
		{
			flex-wrap: wrap;
		}
	}
	.footer-bottom
	{
		align-items: center;
		margin-bottom: 20px;
	}
}