<section class="question">
	<div class="container">
		<div class="wr-title">
			<h2 class="secondary-title">Cooperation with hadat cosmetics</h2>
		</div>
		<div class="question-wr">
			<div class="question-form">
				<div class="question-form__left">
					<label class="g-input">
						<div>Frst name/last name</div>
						<input name="name" type="text" class="g-input__input" placeholder="" autocomplete="off">
						<div class="g-input__sub">Error: invalid name</div>
					</label>
					<label class="g-input">
						<div>Phone number</div>
						<input name="name" type="text" class="g-input__input" placeholder="" autocomplete="off">
						<div class="g-input__sub">Error: invalid name</div>
					</label>
					<label class="g-input">
						<div>Country</div>
						<input name="name" type="text" class="g-input__input" placeholder="" autocomplete="off">
						<div class="g-input__sub">Error: invalid name</div>
					</label>
					<label class="g-input">
						<div>City</div>
						<input name="name" type="text" class="g-input__input" placeholder="" autocomplete="off">
						<div class="g-input__sub">Error: invalid name</div>
					</label>
				</div>
				<div class="question-form__right">
					<label class="g-input">
						<div>E-mail</div>
						<input name="name" type="message" class="g-input__input _phone-mask" placeholder="+7 ··· ··· ·· ··" autocomplete="off">
						<div class="g-input__sub">Error: invalid name</div>
					</label>
					<label class="g-input">
						<div>Type of your business:</div>
						<input name="name" type="message" class="g-input__input _phone-mask" placeholder="" autocomplete="off">
						<div class="g-input__sub">Error: invalid name</div>
					</label>
					<label class="g-input">
						<div>Message:</div>
						<textarea name="name" type="message" rows="5" class="g-input__input" placeholder="" autocomplete="off"></textarea>
						<div class="g-input__sub">Error: invalid name</div>
					</label>
				</div>
			</div>
			<button class="g-button">
				send request
			</button>
		</div>
	</div>
</section>